// footer style

footer.footer {
    padding: 0;
    .top {
        border-top: 1px solid #D7D7D7;
        @extend .container;
        .inner {
            padding-top: var(--indentT);
            padding-bottom: var(--indentB);
            .block {
                .footerLogo {
                    margin-bottom: 32px;
                    display: block;
                }
                  
                .location {
                    display: flex;
                    align-items: center;
                    margin-bottom: var(--indentB2);
                    .icon {
                    margin-right: 12px;
                    svg {
                        path {
                        fill: var(--primary);
                            }
                        }
                    }
                    .text {
                    p {
                        color: var(--textGray);
                        font-size: rem(16);
                        line-height: 1.1;
                    }
                    }
                }
                .phone {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    svg,img {
                        margin-right: 12px;
                        path {
                            fill: var(--primary);
                        }
                    }
                    span, p {
                        font-size: rem(23);
                        font-weight: 700;
                        color: var(--titleColor);
                        line-height: 1;
                        transition: color .3s;
                    }
                    &:hover {
                        span,p {
                            color: var(--primary);
                        }
                    }
                    
                }
                .btnWrap {
                    margin-bottom: var(--indentB2);
                }
                .mail {
                    display: flex;
                    align-items: center;
                    svg,img {
                        margin-right: 12px;
                        max-width: 21px;
                        path {
                            fill: var(--primary);
                        }
                    }
                    span, p {
                        font-size: rem(16);
                        font-weight: 400;
                        color: var(--textColor);
                        transition: color .3s;
                    }
                    &:hover {
                        span,p {
                            color: var(--primary);
                        }
                    }
                }

                .title {
                    margin-bottom: 12px;
                    p,a {
                        font-size: rem(16);
                        font-weight: 700;
                        color: var(--primary);
                        text-transform: uppercase;
                    }
                }
                .list {
                    .item {
                        line-height: 1;
                        p,a {
                            font-size: rem(14);
                            color: var(--textColor);
                            @extend %underlineColor;
                        }
                    }
                }
                &.mobileHidden {
                    @media screen and (max-width: $sm) {
                        display: none;
                      }
                }
            }
           
        }
    }
    .bottom {
        border-top: 1px solid #D7D7D7;
        @extend .container;
        padding-top: 12px;
        padding-bottom: 12px;
        .block {
            display: flex;
            align-items: center;
            .copyright {
                display: flex;
                align-items: center;
                p {
                    font-size: rem(14);
                    font-weight: 300;
                }
            }
            .weAreWrap {
                display: flex;
                align-items: baseline;
                .title {
                    p {
                        font-size: rem(14);
                        font-weight: 300;
                    }
                }
                .weAre {
                    font-size: rem(14);
                    font-weight: 300;
                   @extend %underlineColor;
                }
            }
        }
    }
}