.modal {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    @media screen and (max-height: 700px) {
       overflow-y: scroll;
      }
    .body {

        .title {
            margin-bottom: 12px;
            text-align: center;
            a, span, p {
                font-size: rem(20);
                color: var(--text);
            }
        }
        .subTitle {
            margin-bottom: 32px;
            text-align: center;
            a, span, p {
                font-size: rem(16);
                color: var(--text);
            }
        }
        .text {
            margin-bottom: 32px;
            a, span, p {
                font-size: rem(14);
                color: var(--text);
            }
        }
        // FIELD START ----------------
    // FIELD END ----------------
    }
}