@keyframes anim {
    0% {
      stroke-dasharray: 50;
    }
    100% {
      stroke-dasharray: 0;
    }
  }

  @keyframes swimmingUp {
    0% {
      transform: translateY(0px);
    }
    33% {
      transform: translateY(-10px);
    }
    66% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes swimmingDown {
    0% {
      transform: translateY(0px);
    }
    33% {
      transform: translateY(10px);
    }
    66% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }



