h1 {
    font-size: rem(63);
    font-family: $secondFont;
    font-weight: 600;
    line-height: 1;
    @media screen and (max-width: $lg) {
        font-size: rem(50);
      }
      @media screen and (max-width: $sm) {
        font-size: rem(32);
      }
}
h2 {
    font-size: rem(50);
    font-weight: 700;
    color: var(--text);
    font-family: $secondFont;
    @media screen and (max-width: $md) {
        font-size: rem(40);
      }
    @media screen and (max-width: $sm) {
        font-size: rem(32);
      }
}
h3 {
    font-size: rem(32);
    font-weight: 700;
    color: var(--text);
    font-family: $secondFont;
}

.titleWrap {
    margin-bottom: 32px;
    position: relative;
    z-index: 5;
    .subTitle {
        margin-bottom: 8px;
        p {
            color: var(--primary);
            font-size: rem(22);
            text-transform: uppercase;
            font-family: $secondFont;
            font-weight: 700;
            line-height: 1;
        }
    }
    .title {
        p {
            font-size: rem(63);
            text-transform: uppercase;
            font-family: $secondFont;
            font-weight: 600;
            line-height: 1;
            @media screen and (max-width: $md) {
                font-size: rem(50);
              }
              @media screen and (max-width: $sm) {
                font-size: rem(32);
              }
        }
    }
    &.white {
        .title {
            p {
                color: #fff;
            }
        }
    }
}