<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Акции и скидки</h1>
    </div>
</article>

<article class="newsPage actions">
    <div class="inner">
        <div class="list grid12">
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>
            <a href="#" class="item x3 sm6 xs12">
                <div class="imgWrap">
                    <img src="assets/img/servicecImg2.png" alt="">
                </div>
                <div class="content">
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    </div>
                    <div class="btnMore">
                        <p>Подробнее</p>
                    </div>
                </div>
            </a>

        </div>

        <% include ../includes/pagination %>
    </div>
</article>


<% include ../includes/footer %>



</body>
</html>
