<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Сертификация</h1>
    </div>
</article>


<article class="certification">
    <div class="inner">
        <div class="text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
        </div>
        <div class="title">
            <p>Категория сертификатов</p>
        </div>
        <div class="list grid12">
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
        </div>

        <div class="title">
            <p>Категория сертификатов</p>
        </div>
        <div class="list grid12">
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
            <div class="item x2 md3 sm4 xs6">
                <img src="assets/img/certificationImg1.png" alt="">
            </div>
        </div>
    </div>
</article>



<% include ../includes/backCall %>
<% include ../includes/footer %>


</body>
</html>
