<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Контакты</h1>
    </div>
</article>

<article class="contactsPage">
    <div class="inner grid12">
        <div class="info x6 md12">
            <div class="phone">
                <a href="tel:+79002909017">8 (900) 290-90-17</a>
            </div>
            <div class="text">
                <p>Головной офис в Краснодарском крае
                    350038, г. Краснодар, ул. Красных Партизан д.22/1, 3 этаж</p>
            </div>
            <div class="text">
                <p>8.00 – 19.30  пн – сб </p>
            </div>
            <div class="mail">
                <a href="mailto:e-mail:info@specteh.ru">e-mail: info@specteh.ru </a>
            </div>
        </div>
        <div class="contactsForm x6 md12">
            <div class="title">
                <p>Форма обратной связи</p>
            </div>
            <form class="form grid12">
				<div class="field x6 xs12">
					<input placeholder="Имя" type="text">
				</div>

                <div class="field x6 vx2 xs12">
					<textarea placeholder="Сообщение" type="text" class="phone"></textarea>
				</div>

				<div class="field x6 xs12">
					<input placeholder="Телефон"  type="text" class="phone">
				</div>
	
				<div class="checkbox x12" data-stagger>
					<div class="checkboxField">
						<input type="checkbox" id="check1" name="sogl" >
						<label class="checkbox__label" for="check1"></label>
					</div>
					<label class="checkboxText" for="check1">Я выражаю согласие с <a href="/soglasie/" target="_blank">Политикой конфиденциальности</a></label>
				</div>
	

				<div class="btnWrap x12">
					<button class="btn primary">Отправить</button>
				</div>
	
			</form>
        </div>
        <div class="mapWrap x12">
            <div id="map" class="map">

            </div>
        </div>
    </div>
</article>

<article class="representations">
    <div class="titleWrap">
        <div class="subTitle">
            <p>Нам можно доверять</p>
        </div>
        <div class="title">
            <p>Преимущества нашей компании</p>
        </div>
    </div>
    <div class="inner">
        <div class="text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
        </div>
        <div class="title">
            <p>Москва</p>
        </div>
        <div class="list grid12">
            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>
            
            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>

            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="title">
            <p>Не Москва</p>
        </div>
        <div class="list grid12">
            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>
            
            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>

            <div class="item x3 lg4 sm6 xs12">
                <div class="itemTitle">
                    <p>г. Москва, ул. Красная, 25</p>
                </div>
                <div class="block">
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5 1.71992C4.76133 1.71992 1.71992 4.76133 1.71992 8.5C1.71992 12.2387 4.76133 15.2801 8.5 15.2801C12.2387 15.2801 15.2801 12.2387 15.2801 8.5C15.2801 4.76133 12.2387 1.71992 8.5 1.71992ZM8.5 16.6348C4.01426 16.6348 0.365234 12.9857 0.365234 8.5C0.365234 4.01426 4.01426 0.365234 8.5 0.365234C12.9857 0.365234 16.6348 4.01426 16.6348 8.5C16.6348 12.9857 12.9857 16.6348 8.5 16.6348Z" fill="#005FA3"/>
                            <path d="M11.4256 9.17741H8.5004C8.12521 9.17741 7.82306 8.87526 7.82306 8.50006V3.2606C7.82306 2.8854 8.12521 2.58325 8.5004 2.58325C8.8756 2.58325 9.17775 2.8854 9.17775 3.2606V7.82272H11.4256C11.8008 7.82272 12.1029 8.12487 12.1029 8.50006C12.1029 8.87526 11.8008 9.17741 11.4256 9.17741Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>Пн - Пт: 9.00 - 18.00</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon"></div>
                    <div class="text">
                        <p>Сб - Вс: выходные</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.5059 2.02539H3.48633C2.66246 2.02539 1.99219 2.69566 1.99219 3.51953V4.01758H1.49414C0.666719 4.01758 0 4.692 0 5.51172V13.4805C0 14.3043 0.670404 14.9746 1.49414 14.9746H13.5137C14.3379 14.9746 15.0078 14.3025 15.0078 13.4805V12.9824H15.5059C16.3297 12.9824 17 12.3122 17 11.4883V3.51953C17 2.69566 16.3297 2.02539 15.5059 2.02539ZM13.2631 5.01367L7.85729 10.4258C7.76309 10.5206 7.63758 10.5729 7.50391 10.5729C7.37023 10.5729 7.24472 10.5206 7.14956 10.4248L1.74469 5.01367H13.2631ZM0.996094 13.1919V5.67372L4.5812 9.26301L0.996094 13.1919ZM13.5137 13.9785H1.62675L5.2859 9.96851L6.44386 11.1278C6.72646 11.4123 7.10295 11.569 7.50394 11.569C7.90493 11.569 8.28142 11.4123 8.56302 11.1288L9.79798 9.89241L13.5423 13.9771C13.5328 13.9776 13.5233 13.9785 13.5137 13.9785ZM14.0117 13.0151L10.5026 9.18694L14.0117 5.67372V13.0151ZM16.0039 11.4883C16.0039 11.7629 15.7805 11.9863 15.5059 11.9863H15.0078V5.51172C15.0078 4.69104 14.3401 4.01758 13.5137 4.01758H2.98828V3.51953C2.98828 3.24491 3.2117 3.02148 3.48633 3.02148H15.5059C15.7805 3.02148 16.0039 3.24491 16.0039 3.51953V11.4883Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <p>info@site.ru</p>
                    </div>
                </div>
                <div class="block">       
                    <div class="icon">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.436 10.531C13.088 10.1686 12.6682 9.97484 12.2233 9.97484C11.7819 9.97484 11.3586 10.165 10.9962 10.5274L9.86238 11.6576C9.76909 11.6074 9.67581 11.5607 9.58611 11.5141C9.45694 11.4495 9.33495 11.3885 9.2309 11.3239C8.16886 10.6494 7.2037 9.77033 6.278 8.63294C5.82951 8.06604 5.52812 7.58884 5.30925 7.10447C5.60346 6.83537 5.87615 6.55551 6.14166 6.28641C6.24212 6.18595 6.34259 6.0819 6.44305 5.98144C7.19652 5.22796 7.19652 4.25204 6.44305 3.49856L5.46353 2.51905C5.35231 2.40782 5.23749 2.29301 5.12985 2.17819C4.91457 1.95574 4.68853 1.72611 4.45532 1.51083C4.10728 1.16638 3.69108 0.983398 3.25335 0.983398C2.81561 0.983398 2.39223 1.16638 2.03344 1.51083C2.02985 1.51442 2.02985 1.51442 2.02626 1.51801L0.806353 2.74868C0.347093 3.20794 0.0851719 3.76766 0.0277644 4.41708C-0.0583468 5.46477 0.250218 6.4407 0.487024 7.07935C1.06827 8.64729 1.93656 10.1004 3.23182 11.6576C4.80335 13.5341 6.69421 15.0159 8.85416 16.06C9.67939 16.4511 10.7809 16.914 12.0116 16.9929C12.0869 16.9965 12.1659 17.0001 12.2376 17.0001C13.0664 17.0001 13.7625 16.7023 14.3079 16.1103C14.3115 16.1031 14.3186 16.0995 14.3222 16.0923C14.5088 15.8663 14.7241 15.6618 14.9501 15.4429C15.1044 15.2958 15.2623 15.1415 15.4166 14.9801C15.7718 14.6105 15.9583 14.1799 15.9583 13.7386C15.9583 13.2937 15.7682 12.8667 15.4058 12.5079L13.436 10.531ZM14.7205 14.3091C14.7169 14.3091 14.7169 14.3127 14.7205 14.3091C14.5806 14.4598 14.437 14.5961 14.2828 14.7468C14.0495 14.9693 13.8127 15.2025 13.5903 15.4644C13.2279 15.8519 12.8009 16.0349 12.2412 16.0349C12.1874 16.0349 12.13 16.0349 12.0762 16.0313C11.0105 15.9632 10.0203 15.547 9.27754 15.1917C7.24675 14.2086 5.46353 12.8129 3.9817 11.0441C2.75821 9.5694 1.94015 8.20597 1.39837 6.74208C1.06469 5.84868 0.942696 5.15262 0.996515 4.49602C1.0324 4.07623 1.19385 3.72819 1.49165 3.43039L2.71515 2.20689C2.89096 2.04185 3.07754 1.95215 3.26052 1.95215C3.48656 1.95215 3.66955 2.08849 3.78437 2.20331C3.78795 2.20689 3.79154 2.21048 3.79513 2.21407C4.014 2.41859 4.2221 2.63028 4.44096 2.85632C4.55219 2.97113 4.66701 3.08595 4.78182 3.20435L5.76133 4.18386C6.14166 4.56419 6.14166 4.91581 5.76133 5.29613C5.65728 5.40019 5.55682 5.50424 5.45277 5.6047C5.15138 5.91326 4.86434 6.2003 4.55219 6.48016C4.54501 6.48734 4.53784 6.49093 4.53425 6.4981C4.22569 6.80667 4.28309 7.10806 4.34768 7.31257C4.35126 7.32333 4.35485 7.3341 4.35844 7.34486C4.61319 7.96199 4.97198 8.54324 5.51735 9.23572L5.52094 9.23931C6.51122 10.4592 7.55532 11.41 8.70706 12.1384C8.85416 12.2317 9.00486 12.307 9.14837 12.3788C9.27754 12.4434 9.39953 12.5044 9.50358 12.5689C9.51793 12.5761 9.53229 12.5869 9.54664 12.5941C9.66863 12.6551 9.78345 12.6838 9.90185 12.6838C10.1996 12.6838 10.3862 12.4972 10.4472 12.4362L11.6743 11.2091C11.7963 11.0871 11.99 10.94 12.2161 10.94C12.4385 10.94 12.6215 11.0799 12.7328 11.2019C12.7363 11.2055 12.7363 11.2055 12.7399 11.2091L14.7169 13.1861C15.0865 13.552 15.0865 13.9288 14.7205 14.3091Z" fill="#005FA3"/>
                            <path d="M9.18697 4.04389C10.127 4.20176 10.981 4.64667 11.6627 5.32838C12.3444 6.0101 12.7857 6.86403 12.9472 7.80408C12.9866 8.04089 13.1912 8.20593 13.4244 8.20593C13.4531 8.20593 13.4782 8.20234 13.5069 8.19876C13.7724 8.1557 13.9482 7.90454 13.9052 7.63903C13.7114 6.50165 13.1732 5.46473 12.3516 4.64308C11.5299 3.82144 10.493 3.28324 9.35561 3.08949C9.0901 3.04644 8.84253 3.22225 8.79588 3.48417C8.74924 3.74609 8.92146 4.00084 9.18697 4.04389Z" fill="#005FA3"/>
                            <path d="M16.9801 7.49906C16.6607 5.62614 15.7781 3.92186 14.4219 2.5656C13.0656 1.20935 11.3613 0.326714 9.4884 0.00738456C9.22648 -0.039259 8.97891 0.140139 8.93226 0.402061C8.88921 0.66757 9.06502 0.91514 9.33053 0.961784C11.0025 1.24523 12.5274 2.03817 13.7401 3.24732C14.9529 4.46005 15.7422 5.98494 16.0257 7.65693C16.0651 7.89373 16.2697 8.05878 16.5029 8.05878C16.5316 8.05878 16.5567 8.05519 16.5854 8.0516C16.8473 8.01214 17.0267 7.76098 16.9801 7.49906Z" fill="#005FA3"/>
                        </svg>                            
                    </div>
                    <div class="text">
                        <a href="#">+7 000 000-00-00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<% include ../includes/backCall %>
<% include ../includes/footer %>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script>

    ymaps.ready(function () {
    var myMap = new ymaps.Map('map', {
           center: [45.039729, 38.975309],
           zoom: 4,
           controls: ['scrollZoom']
       }, {
           searchControlProvider: 'yandex#search'
       });


       var cords = 
       [
       		[45.039729, 32.975309],
       		[46.290047, 33.382479],
       		[47.804931, 34.983186],
       		[48.351797, 45.198794],
       		[49.123438, 46.802435],
       ];

       var marks = [];

       for(i=0;i<=cords.length-1;i++)
		{
		       marks[i] = new ymaps.Placemark(cords[i], {
		           hintContent: 'место которое посетили',
		           //balloonContent: 'Это красивая метка'
		       }, {
		           // Опции.
		           // Необходимо указать данный тип макета.
		           iconLayout: 'default#image',
		           // Своё изображение иконки метки.
		           iconImageHref: '/img/map-icon.png',
		           // Размеры метки.
		           iconImageSize: [40, 40],
		           // Смещение левого верхнего угла иконки относительно
		           // её "ножки" (точки привязки).
		           iconImageOffset: [0, 0]
		       });
 
   			myMap.geoObjects.add(marks[i]);
   		}
});
</script>

</body>
</html>
