<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Галерея</h1>
    </div>
</article>

<article class="galleryPage">
    <div class="list grid12">
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
        <a href="#" class="item x4 md6">
            <div class="imgWrap">
                <img src="assets/img/galleryImg1.png" alt="">
            </div>
           <div class="content">
                <div class="title">
                    <p>Заголовок альбома</p>
                </div>
           </div>
        </a>
    </div>
</article>

<% include ../includes/footer %>



</body>
</html>
