<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Заголовок альбома</h1>
    </div>
</article>

<article class="gallery">

    <div class="inner">
        <div class="list grid12">
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
        </div>
    </div>
</article>

<% include ../includes/footer %>



</body>
</html>
