<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/ddSearch %> 


<div class="siteWrap">
    <div class="siteInner">
        <% include ../includes/header %>
    </div>
    <% include ../includes/footer %>

</div>



</body>
</html>


 




