

	<div class="modal">
		<div class="body">
			<div class="title">
				<p>Заголовок модального окна Заголовок модального окна</p>
			</div>
			<div class="subTitle">
				<p>подзаголовок модального окна подзаголовок модального окна</p>
			</div>
			<div class="text">
				<p>текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна текст модального окна</p>
			</div>
			<form class="form">
				<div class="field">
					<input type="text">
					<label>фио</label>
				</div>
	
				<div class="field">
					<input type="text" class="phone">
					<label>Телефон</label>
				</div>

				<div class="field">
					<textarea type="text" class="phone"></textarea>
					<label>Сообщение</label>
				</div>
	
				<div class="checkbox" data-stagger>
					<div class="checkboxField">
						<input type="checkbox" id="check1" name="sogl" >
						<label class="checkbox__label" for="check1"></label>
					</div>
					<label class="checkboxText" for="check1">Я выражаю согласие с <a href="/soglasie/" target="_blank">Политикой конфиденциальности</a></label>
				</div>
	

				<div class="btnWrap right">
					<button class="btn border">Отправить</button>
				</div>
	
			</form>
		</div>
    </div>