<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<section>
<style>
		.pages-list {
			height: 100%;
			margin-top: 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: space-between;
			-ms-align-items: center;
			align-items: left;
		}
		.page-item {
			font-family: 'Montserrat', sans-serif;
			text-decoration: none;
			color: #000;
			margin-bottom: 25px;
		}
	</style>
</head>
<body>
	<div class="pages-list">
		<a href="aboutPage.html" class="page-item">О нас</a>
		<a href="actionsPage.html" class="page-item">Акции</a>
		<a href="certificationsPage.html" class="page-item">Сертификаты</a>
		<a href="contactsPage.html" class="page-item">Контакты</a>
		<a href="galleryPage.html" class="page-item">Галереи</a>
		<a href="galleryPageInner.html" class="page-item">Галерея</a>
		<a href="mainPage.html" class="page-item">Главная</a>
		<a href="newsPage.html" class="page-item">Новости</a>
		<a href="pricePage.html" class="page-item">Цены</a>
		<a href="projectPage.html" class="page-item">Проект</a>
		<a href="projectsPage.html" class="page-item">Проекты</a>
		<a href="reviewsPage.html" class="page-item">Отзывы</a>
		<a href="serviceCategory.html" class="page-item">Категория услуг</a>
		<a href="servicesPage.html" class="page-item">Услуги</a>
		<a href="soloNewsPage.html" class="page-item">Новость</a>
		<a href="vacansiesPage.html" class="page-item">Вакансии</a>
		<a href="soloServicePage.html" class="page-item">Услуга</a>

		
	</div>


</section>

    <% include ../includes/footer %>



</body>
</html>


 











