<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Наши проекты</h1>
    </div>
</article>

<article class="ourProjects">
    <div class="inner">
        <section>
            <div class="tabs">
                <div class="tabNavs">
                    <div  data-id="1" class="tabPill active">
                        <p>ВСЕ ПРОЕКТЫ</p>
                    </div>
                    <div  data-id="2" class="tabPill ">
                        <p>УМНЫЙ ДОМ</p>
                    </div>
                    <div  data-id="3" class="tabPill">
                        <p>ОТОПЛЕНИЕ АВТОНОМНАЯ</p>
                    </div>
                    <div  data-id="4" class="tabPill">
                        <p>КАНАЛИЗАЦИЯ </p>
                    </div>
                    <div  data-id="4" class="tabPill">
                        <p>ВЕНТИЛЯЦИЯ</p>
                    </div>
                    <div  data-id="5" class="tabPill">
                        <p>ВОДОСНАБЖЕНИЕ</p>
                    </div>
                    <div  data-id="6" class="tabPill">
                        <p>ЭЛЕКТРОСНАБЖЕНИЕ</p>
                    </div>
                </div>
                <div class="tabContent">
                    <div  data-id="1" class="tabPane active">
                        <div class="list grid12">
                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>

                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>

                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>

                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>

                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>

                            <a href="#" class="item x4 md6 xs12">
                                <div class="imgWrap">
                                    <img src="assets/img/servicecImg1.png" alt="">
                                </div>
                              <div class="content">
                                <div class="title">
                                    <p>Название проекта</p>
                                </div>
                                <div class="text">
                                    <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                                </div>
                              </div>
                            </a>
                        </div>
                    </div>
                    <div  data-id="2" class="tabPane">
                        2
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</article>

<% include ../includes/footer %>



</body>
</html>
