<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Название проекта</h1>
    </div>
</article>

<article class="projectPage">
  <div class="inner grid12">
    <div class="imgWrap x5 md12">
        <img src="assets/img/servicecImg1.png" alt="">
    </div>
    <div class="content x7 md12">
        <div class="title">
            <p>Задача:</p>
        </div>
        <div class="text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
        </div>
        <div class="btnWrap">
            <a href="#" class="btn primary">Заказать услугу</a>
            <a href="#" class="btn border">Задать вопрос</a>
        </div>
    </div>
    <div class="content x12">
        <div class="title">
            <p>Решение:</p>
        </div>
        <div class="text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
        </div>
        <div class="title">
            <p>Результат:</p>
        </div>
        <div class="text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
        </div>
    </div>
  </div>
</article>


<article class="gallery">
    <div class="titleWrap">
        <div class="title">
            <p>Галерея</p>
        </div>
    </div>
    <div class="inner">
        <div class="sliderWrap">
            <div class="list grid12">
                <div class="item x3 sm6">
                    <img src="assets/img/servicecImg1.png" alt="">
                </div>
                <div class="item x3 sm6">
                    <img src="assets/img/servicecImg1.png" alt="">
                </div>
                <div class="item x3 sm6">
                    <img src="assets/img/servicecImg1.png" alt="">
                </div>
                <div class="item x3 sm6">
                    <img src="assets/img/servicecImg1.png" alt="">
                </div>
                <div class="item x3 sm6">
                    <img src="assets/img/servicecImg1.png" alt="">
                </div>
            </div>
            <div class="sliderBtns">
                <div class="sliderBtn left">
                <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.56425 6.58292L8.33849 0.937721C8.5051 0.798883 8.5051 0.576218 8.33849 0.43738C8.17189 0.298542 7.90469 0.298542 7.73809 0.43738L0.662064 6.33406C0.495458 6.4729 0.495458 6.69557 0.662064 6.8344L7.73809 12.7285C7.81982 12.7966 7.92984 12.8333 8.03672 12.8333C8.1436 12.8333 8.25362 12.7992 8.33535 12.7285C8.50196 12.5896 8.50196 12.367 8.33535 12.2281L1.56425 6.58292Z" fill="white"/>
                </svg>                
                </div>
                <div class="sliderBtn right">
                <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.43575 6.58358L0.661507 12.2288C0.494901 12.3676 0.494901 12.5903 0.661507 12.7291C0.828112 12.868 1.09531 12.868 1.26191 12.7291L8.33794 6.83244C8.50454 6.6936 8.50454 6.47094 8.33794 6.3321L1.26191 0.438036C1.18018 0.369927 1.07016 0.333252 0.963281 0.333252C0.856402 0.333252 0.746379 0.367307 0.664648 0.438036C0.498043 0.576874 0.498043 0.799538 0.664648 0.938376L7.43575 6.58358Z" fill="#005FA3"/>
                </svg>                
            </div>
        </div>
        </div>
    </div>
</article>

<article class="characteristics">
    <div class="titleWrap">
        <div class="title">
            <p>Характеристики проекта</p>
        </div>
    </div>
    <div class="inner grid12">
        <div class="list x6 md12">
            <div class="item">
                <div class="title">
                    <p>Название характеристики услуги</p>
                </div>
                <div class="text">
                    <p>25</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>Название характеристики услуги</p>
                </div>
                <div class="text">
                    <p>Значение характеристики</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>Название характеристики услуги</p>
                </div>
                <div class="text">
                    <p>есть</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>Название характеристики услуги</p>
                </div>
                <div class="text">
                    <p>нет</p>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="documents">
    <div class="titleWrap">
        <div class="title">
            <p>Документы</p>
        </div>
    </div>
    <div class="inner">
        <div class="list grid12">
            <div class="item x4 sm6 xs12">
                <div class="icon">
                    <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.9688 28.5H33.8438C32.8599 28.5 32.0625 29.2974 32.0625 30.2812V44.5312C32.0625 45.5151 32.8599 46.3125 33.8438 46.3125H40.9688C42.9363 46.3125 44.5312 44.7175 44.5312 42.75V32.0625C44.5312 30.095 42.9363 28.5 40.9688 28.5ZM40.9688 42.75H35.625V32.0625H40.9688V42.75Z" fill="#005FA3"/>
                        <path d="M57 32.0625V28.5H48.0938C47.1099 28.5 46.3125 29.2974 46.3125 30.2812V46.3125H49.875V39.1875H57V35.625H49.875V32.0625H57Z" fill="#005FA3"/>
                        <path d="M3.5625 51.6563V5.34378C3.5625 4.35997 4.35994 3.56253 5.34375 3.56253H32.0625V10.6875C32.0625 12.655 33.6575 14.25 35.625 14.25H42.75V19.5938H46.3125V12.4688C46.3153 11.9953 46.1294 11.5402 45.7959 11.2041L35.1084 0.516591C34.7723 0.183163 34.3172 -0.00264345 33.8438 2.8422e-05H5.34375C2.39244 2.8422e-05 0 2.39258 0 5.34378V51.6563C0 54.6076 2.39244 57 5.34375 57H17.8125V53.4375H5.34375C4.36005 53.4375 3.5625 52.6401 3.5625 51.6563Z" fill="#005FA3"/>
                        <path d="M26.7188 28.5H19.5938C18.6099 28.5 17.8125 29.2974 17.8125 30.2812V46.3125H21.375V40.9688H26.7188C28.6863 40.9688 30.2812 39.3738 30.2812 37.4062V32.0625C30.2812 30.095 28.6863 28.5 26.7188 28.5ZM26.7188 37.4062H21.375V32.0625H26.7188V37.4062Z" fill="#005FA3"/>
                    </svg>                        
                </div>
                <div class="content">
                    <div class="text">
                        <p>Название докмента в две или три строчки Название докмента в две или три строчки </p>
                    </div>
                    <div class="format">
                        <p>PDF, 720 Кб</p>
                    </div>
                </div>
            </div>

            <div class="item x4 sm6 xs12">
                <div class="icon">
                    <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.9688 28.5H33.8438C32.8599 28.5 32.0625 29.2974 32.0625 30.2812V44.5312C32.0625 45.5151 32.8599 46.3125 33.8438 46.3125H40.9688C42.9363 46.3125 44.5312 44.7175 44.5312 42.75V32.0625C44.5312 30.095 42.9363 28.5 40.9688 28.5ZM40.9688 42.75H35.625V32.0625H40.9688V42.75Z" fill="#005FA3"/>
                        <path d="M57 32.0625V28.5H48.0938C47.1099 28.5 46.3125 29.2974 46.3125 30.2812V46.3125H49.875V39.1875H57V35.625H49.875V32.0625H57Z" fill="#005FA3"/>
                        <path d="M3.5625 51.6563V5.34378C3.5625 4.35997 4.35994 3.56253 5.34375 3.56253H32.0625V10.6875C32.0625 12.655 33.6575 14.25 35.625 14.25H42.75V19.5938H46.3125V12.4688C46.3153 11.9953 46.1294 11.5402 45.7959 11.2041L35.1084 0.516591C34.7723 0.183163 34.3172 -0.00264345 33.8438 2.8422e-05H5.34375C2.39244 2.8422e-05 0 2.39258 0 5.34378V51.6563C0 54.6076 2.39244 57 5.34375 57H17.8125V53.4375H5.34375C4.36005 53.4375 3.5625 52.6401 3.5625 51.6563Z" fill="#005FA3"/>
                        <path d="M26.7188 28.5H19.5938C18.6099 28.5 17.8125 29.2974 17.8125 30.2812V46.3125H21.375V40.9688H26.7188C28.6863 40.9688 30.2812 39.3738 30.2812 37.4062V32.0625C30.2812 30.095 28.6863 28.5 26.7188 28.5ZM26.7188 37.4062H21.375V32.0625H26.7188V37.4062Z" fill="#005FA3"/>
                    </svg>                        
                </div>
                <div class="content">
                    <div class="text">
                        <p>Название докмента в две или три строчки Название докмента в две или три строчки </p>
                    </div>
                    <div class="format">
                        <p>PDF, 720 Кб</p>
                    </div>
                </div>
            </div>

            <div class="item x4  sm6 xs12">
                <div class="icon">
                    <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.9688 28.5H33.8438C32.8599 28.5 32.0625 29.2974 32.0625 30.2812V44.5312C32.0625 45.5151 32.8599 46.3125 33.8438 46.3125H40.9688C42.9363 46.3125 44.5312 44.7175 44.5312 42.75V32.0625C44.5312 30.095 42.9363 28.5 40.9688 28.5ZM40.9688 42.75H35.625V32.0625H40.9688V42.75Z" fill="#005FA3"/>
                        <path d="M57 32.0625V28.5H48.0938C47.1099 28.5 46.3125 29.2974 46.3125 30.2812V46.3125H49.875V39.1875H57V35.625H49.875V32.0625H57Z" fill="#005FA3"/>
                        <path d="M3.5625 51.6563V5.34378C3.5625 4.35997 4.35994 3.56253 5.34375 3.56253H32.0625V10.6875C32.0625 12.655 33.6575 14.25 35.625 14.25H42.75V19.5938H46.3125V12.4688C46.3153 11.9953 46.1294 11.5402 45.7959 11.2041L35.1084 0.516591C34.7723 0.183163 34.3172 -0.00264345 33.8438 2.8422e-05H5.34375C2.39244 2.8422e-05 0 2.39258 0 5.34378V51.6563C0 54.6076 2.39244 57 5.34375 57H17.8125V53.4375H5.34375C4.36005 53.4375 3.5625 52.6401 3.5625 51.6563Z" fill="#005FA3"/>
                        <path d="M26.7188 28.5H19.5938C18.6099 28.5 17.8125 29.2974 17.8125 30.2812V46.3125H21.375V40.9688H26.7188C28.6863 40.9688 30.2812 39.3738 30.2812 37.4062V32.0625C30.2812 30.095 28.6863 28.5 26.7188 28.5ZM26.7188 37.4062H21.375V32.0625H26.7188V37.4062Z" fill="#005FA3"/>
                    </svg>                        
                </div>
                <div class="content">
                    <div class="text">
                        <p>Название докмента в две или три строчки Название докмента в две или три строчки </p>
                    </div>
                    <div class="format">
                        <p>PDF, 720 Кб</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</article>




<article class="services">
    <div class="titleWrap">
        <div class="title">
            <p>Услуги</p>
        </div>
    </div>
    <div class="list grid12">
        <a href="#" class="item x4 md6 xs12">
            <div class="imgWrap">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="content">
                <div class="inner">
                    <div class="title">
                        <p>Противопожарные системы</p>
                    </div>
                    <div class="text">
                        <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. </p>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" class="item x4 md6 xs12">
            <div class="imgWrap">
                <img src="assets/img/servicecImg2.png" alt="">
            </div>
            <div class="content">
                <div class="inner">
                    <div class="title">
                        <p>Противопожарные системы системы</p>
                    </div>
                    <div class="text">
                        <p>Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех. Небольшой текст описания услуги в несколько строк но не более трех.</p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</article>

<% include ../includes/backCall %>
<% include ../includes/footer %>



</body>
</html>
