<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Услуги</h1>
    </div>
</article>

<article class="servicesCategorys">
    <div class="inner">
        <div class="list">
            <div class="item grid12">
                <a href="#" class="imgWrap x4 sm12">
                    <img src="assets/img/servicecImg1.png" alt="">
                </a>
                <div class="content x8 sm12">
                    <div class="title">
                        <a href="#">Название категории услуг</a>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                    </div>
                    <div class="tags">
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item grid12">
                <a href="#" class="imgWrap x4 sm12">
                    <img src="assets/img/servicecImg1.png" alt="">
                </a>
                <div class="content x8 sm12">
                    <div class="title">
                        <a href="#">Название категории услуг</a>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                    </div>
                    <div class="tags">
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item grid12">
                <a href="#" class="imgWrap x4 sm12">
                    <img src="assets/img/servicecImg1.png" alt="">
                </a>
                <div class="content x8 sm12">
                    <div class="title">
                        <a href="#">Название категории услуг</a>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                    </div>
                    <div class="tags">
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                        <a href="" class="tag">
                            <p>Название услуги этой категории</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<% include ../includes/backCall %>
<% include ../includes/footer %>



</body>
</html>

