<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Название категории услуги</h1>
    </div>
</article>

<article class="serviceCategory">

    <div class="inner grid12">
        <div class="servicesWrap x9 md12">
            <div class="text">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            </div>
            <div class="list">
                <div class="item grid12">
                    <a href="#" class="imgWrap x5 sm12">
                        <img src="assets/img/servicecImg1.png" alt="">
                    </a>
                    <div class="content x7 sm12">
                        <div class="title">
                            <a href="#">Название категории услуг</a>
                        </div>
                        <div class="text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                        </div>
                       <div class="price">
                           <p>от 35 000 руб.</p>
                       </div>
                    </div>
                </div>
                
                <div class="item grid12">
                    <a href="#" class="imgWrap x5 sm12">
                        <img src="assets/img/servicecImg1.png" alt="">
                    </a>
                    <div class="content x7 sm12">
                        <div class="title">
                            <a href="#">Название категории услуг</a>
                        </div>
                        <div class="text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                        </div>
                       <div class="price">
                           <p>от 35 000 руб.</p>
                       </div>
                    </div>
                </div>

                <div class="item grid12">
                    <a href="#" class="imgWrap x5 sm12">
                        <img src="assets/img/servicecImg1.png" alt="">
                    </a>
                    <div class="content x7 sm12">
                        <div class="title">
                            <a href="#">Название категории услуг</a>
                        </div>
                        <div class="text">
                            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                            <p>В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только </p>
                        </div>
                       <div class="price">
                           <p>от 35 000 руб.</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sideMenu x3 md12">
           <div class="sticky">
            <div class="title">
                <p>Услуги</p>
            </div>
            <div class="list">
                <div class="item">
                    <div class="link">
                        <a href="#">Название категории услуг</a>
                    </div>
                </div>
                <div class="item">
                    <div class="link">
                        <a href="#">Название категории услуг</a>
                    </div>
                </div>
                <div class="item">
                    <div class="link">
                        <a href="#">Название категории услуг</a>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</article>

<% include ../includes/backCall %>
<% include ../includes/footer %>



</body>
</html>

