<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Заголовок новости</h1>
    </div>
</article>


<article class="soloNews">
    <div class="inner">
        <div class="leftBlock grid12">
            <div class="imgWrap x7 md12">
                <img src="assets/img/soloNewsImg1.png" alt="">
            </div>
            <div class="text x5 md12">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </p>
            </div>
            <div class="text x12">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
                    В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. </p>
            </div>
        </div>
        <div class="stickyWrap">
           <div class="sticky">
            <div class="stickyTitle">
                <p>недавние новости</p>
            </div>
            <div class="list">
                <a href="#" class="item">
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                </a>
                <a href="#" class="item">
                    <div class="date">
                        <p>21.05.2021</p>
                    </div>
                    <div class="title">
                        <p>Заголовок новости в две строки заголовок новости</p>
                    </div>
                </a>
            </div>
           </div>
        </div>
    </div>
</article>


<article class="gallery">
    <div class="titleWrap">
        <div class="subTitle">
            <p>Есть на что посмотреть</p>
        </div>
        <div class="title">
            <p>Заголовок фотогалереи</p>
        </div>
    </div>
    <div class="inner">
        <div class="list grid12">
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
            <div class="item x3 sm6">
                <img src="assets/img/servicecImg1.png" alt="">
            </div>
        </div>
    </div>
</article>


<% include ../includes/footer %>



</body>
</html>


 




