<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="pageTitle">
    <div class="titleWrap">
        <h1>Вакансии</h1>
    </div>
</article>

<article class="accordeon">
    <div class="titleWrap">
        <div class="title">
            <p>Отдел продаж</p>
        </div>
    </div>
    <div class="list">
        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Заголовок вакансии</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Раздел прайс листа</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Раздел прайс листа</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>

    <div class="titleWrap">
        <div class="title">
            <p>Отдел рекламы</p>
        </div>
    </div>

    <div class="list">
        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Раздел прайс листа</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Раздел прайс листа</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>

        <div class="item">
            <div class="itemHeader">
                <div class="accButton">
                    <div class="icon">
                        <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.58268 7.43624L0.937477 0.661995C0.798639 0.495389 0.575974 0.495389 0.437136 0.661995C0.298298 0.8286 0.298298 1.0958 0.437136 1.2624L6.33382 8.33842C6.47266 8.50503 6.69532 8.50503 6.83416 8.33842L12.7282 1.2624C12.7963 1.18067 12.833 1.07065 12.833 0.96377C12.833 0.856891 12.799 0.746868 12.7282 0.665137C12.5894 0.498532 12.3667 0.498532 12.2279 0.665137L6.58268 7.43624Z" fill="white"/>
                        </svg>                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        <p>Раздел прайс листа</p>
                    </div>
                    <div class="text">
                        <p>От 150 000 руб.</p>
                    </div>
                </div>
            </div>
            <div class="itemBody">
               <div class="content">
                   <div class="text">
                       <p>В обязанности данного специалиста входит анализ текущей ситуации на финансовом рынке и управление инвестиционными средствами. Ведение переговоров, оформление и сопровождение договоров, формирование клиентской базы, отчетность по работе с клиентами, обучение и профессиональное развитие. Оформление потребительских кредитов физ.лицам, поиск и подключение новых партнеров, качественная работа с имеющимися партнерами.</p>
                   </div>
                   <div class="title">
                       <p>Условия</p>
                   </div>
                   <ul>
                       <li>работа в крупной федеральной компании;</li>
                       <li>возможность профессионального и карьерного развития;</li>
                       <li>своевременная оплата труда;</li>
                       <li>обучение;</li>
                       <li>официальное трудоустройство.</li>
                   </ul>
                   <div class="title">
                        <p>Требования</p>
                    </div>
                    <ul>
                        <li>от 30 лет;</li>
                        <li>наличие опыта работы в продажах;</li>
                        <li>уверенный пользователь ПК;</li>
                        <li>желательны знания в области страхования;</li>
                        <li>коммуникабельность.</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
</article>

<% include ../includes/footer %>



</body>
</html>
