.mobileMenu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    max-width: 320px;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(#000, .3);
    transition: left .3s;
    .mmTop {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon {
            cursor: pointer;
        }
        .cross {
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: relative;
            transform: rotate(45deg);
            .line {
               position: absolute;
               background-color: var(--cross);
                &.l1 {
                    width: 100%;
                    height: 2px;
                    top: calc(50% - 1px);
                    left: 0;
                }
                &.l2 {
                    width: 2px;
                    height: 100%;
                    left: calc(50% - 1px);
                    top: 0;
                    
                }
            }
        }
    }
    .mmBody {
        position: relative;
        height: calc(100vh - 55px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
            .list {
                margin-bottom: 32px;
                flex-grow: 1;
                .item {

                    .link {
                        padding: 8px 15px;
                        position: relative;
                        font-size: 16px;
                        color: var(--link);
                        &:before {
                            content: "";

                        }
                    }
                }
            }
        .mmBottom {
            position: relative; 
            bottom: 0;
            padding-bottom: 32px;
            .link {
                padding: 4px 15px;
                display: block;
                font-size: 16px;
                color: var(--link);
            }
        }
    }
    &.active {
        left: 0;
    }
}
