.paggination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .arrow {
        font-size: rem(14);
        position: relative;
        min-width: 42px;
        min-height: 42px;
        max-width: 42px;
        max-width: 42px;
        border-radius: 3px;
        background-color: var(--primary);
        transition: background-color .3s;
        @media screen and (max-width: $xlg) {
            min-width: 32px;
            min-height: 32px;
            max-width: 32px;
            max-width: 32px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
        }
        &.left {
            margin-right: 12px;
            display: block!important;
            &:before {
                transform: translate(-50%, -50%) rotate(-135deg);
            }  
        }
        &.right {
            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }  
        }
        &:hover {
            background-color: var(--secondary);
        }
    }
    .list {
        @extend %center;
        .item {
            min-width: 42px;
            min-height: 42px;
            max-width: 42px;
            max-width: 42px;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $xlg) {
                min-width: 32px;
                min-height: 32px;
                max-width: 32px;
                max-width: 32px;
            }
            .text {
                font-size: rem(14);
                font-weight: 700;
                transition: color .3s;
            }
            &:hover {
                box-shadow: none;
                .text {
                   color: var(--primary);
                }
            }
            &.active {
                border: 1px solid #D4DAE0;
                border-radius: 3px;
                .text {
                    &:before {
                        width: 0;
                    }
                }
            }
        }
    }
}