.personalArea {
    margin-bottom: 50px;
    
    .list {

        .item {
            min-height: 200px;
            background: #F6F6F6;
            @extend %start;
            padding: 32px;
            transition: box-shadow .3s;
            @media screen and (max-width: $lg) {
                min-height: 100px;
            }
            .icon {
                margin-right: 16px;
                svg {
                    path {
                        transition: fill .3s;
                    }
                }
            }
            .title {
                p {
                    color: #000;
                    font-size: rem(16);
                    transition: color .3s;
                }
            }
            &:hover {
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 8px 8px rgba(0, 0, 0, 0.05), 0px 16px 16px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.05), 0px 0px 64px rgba(0, 0, 0, 0.05);
                .icon {
                    svg {
                        path {
                            fill: var(--red);
                        }
                    }
                }
                .title {
                    p {
                        color: var(--red);
                    }
                }
            }
        }
    }
}

.personalArea__inner {
    display: flex;
    min-height: calc(100vh - 155px);
    margin-bottom: 50px;
    .left {
        width: 300px;
        border-right: 2px solid var(--border);
        @media screen and (max-width: $xlg) {
            width: 230px;
        }
        @media screen and (max-width: $md) {
           display: none;
        }
        .list {
            .item { 
                margin-bottom: 8px;
                .link {
                    font-size: rem(16);
                    @extend %underlineBlack;
                }
            }
        }
    }
    .right {
        overflow: hidden;
        width: calc(100% - 300px);
        padding-left: 32px;
        @media screen and (max-width: $xlg) {
            width: calc(100% - 230px);
        }
        @media screen and (max-width: $md) {
            padding-left: 0;
            width: 100%;
         }
        .top {
            margin-bottom: 32px;
            @media screen and (max-width: $lg) {
                margin-bottom: 40px;
                overflow-x: scroll;
            }
            .list {
                display: flex;
                .item {
                    margin-right: 20px;
                    .link {
                        white-space: nowrap;
                        @extend %underlineBlack;
                        font-size: rem(16);
                    }
                    &.active {
                        .link {
                        color: var(--red);
                        }
                    }
                }
            }
        }
        .headers {
            margin-bottom: 12px;
            @media screen and (max-width: $lg) {
                display: none;
            }
            .title {
                p {
                    font-size: rem(12);
                    font-weight: 400;
                    color: var(--textGray);  
                }
            }
        }
        .row {
            padding-bottom: 12px;
            margin-bottom: 24px;
            border-bottom: 1px solid var(--border);
            .block {
                position: relative;
                padding-top: 12px;
                @media screen and (max-width: $sm) {
                    margin-bottom: 12px;
                  } 
                &:before {
                    content: attr(data-title);
                    position: absolute;
                    top: -24px;
                    left: 0px;
                    z-index: 10;
                    font-size: rem(12);
                    font-weight: 400;
                    color: var(--textGray);
                    display: none;
                    @media screen and (max-width: $lg) {
                       display: block;
                    }
                    @media screen and (max-width: $md) {
                        top: -5px;
                    }   
                }
                .text {
                    display: flex;
                    align-items: flex-start;
                    img {
                        max-width: 50px;
                        max-height: 70px;
                        margin-right: 20px;
                    }
                    p {
                        font-size: rem(14);
                        font-weight: 400;
                        display: inline-block;
                    }
                    .btnWrap {
                        width: 100%;
                        .btn {
                            text-align: right;
                            margin-bottom: 12px;
                            margin-right: 0;
                            @media screen and (max-width: $sm) {
                                width: 100%;
                            } 
                        }
                    }
                }
                .separator {
                    width: 100%;
                    height: 1px;
                    background-color: var(--border);
                    padding: 0;
                    margin-bottom: 0;
                }
            }
            .separator {
                background-color: rgba(0, 0, 0, 0.1);
                padding: 4px 8px;
                margin-bottom: 24px;
                .title {
                  
                    p {
                        font-size: rem(18);
                    }
                }
            }
        }
        .field {
            margin-bottom: 32px;
        }
        .btnWrap {
            width: 100%;
        }
    }
}