h1 {
    font-size: rem(32);
    font-weight: 700;
    color: var(--text);
}
h2 {
    font-size: rem(28);
    font-weight: 700;
    color: var(--text);
}
h3 {
    font-size: rem(24);
    font-weight: 700;
    color: var(--text);
}

.titleWrap {
    margin-bottom: 32px;
}