<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>


<article class="mainScreen">
    <div class="sliderWrap">
        <div class="arrows">
            <div class="arrow left"></div>
            <div class="arrow right"></div>
        </div>
        <div class="list">
            <div class="item">
                <img src="assets/img/msBg1.png" alt="" class="msBg">
                <div class="inner">
                    <div class="content">
                        <div class="title">
                            <p>Заголовок для акции или популярной услуги</p>
                        </div>
                        <div class="text">
                            <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в</p>
                        </div>
                        <div class="btnWrap">
                            <a href="#" class="btn full">Бесплатная консультация</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="assets/img/msBg1.png" alt="" class="msBg">
                <div class="inner">
                    <div class="content">
                        <div class="title">
                            <p>Заголовок для акции или популярной услуги</p>
                        </div>
                        <div class="text">
                            <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в</p>
                        </div>
                        <div class="btnWrap">
                            <a href="#" class="btn full">Бесплатная консультация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


<article class="about">
    <div class="inner">
        <div class="content">
            <div class="titleWrap">
                <div class="subTitle">
                    <p>НЕСКОЛЬКО СЛОВ О НАС</p>
                </div>
                <div class="title">
                    <p>Юриспруденция - это действительно то, к чему у нас лежит душа!</p>
                </div>
            </div>
            <div class="text">
                <p>Мы имеем огромное количество выигранных дел по защите чести и достоинства, защите прав потребителей, в спорах со страховыми компаниями, по семейному, трудовому, земельному, корпоративному праву, защите прав военнослужащих, призывников и граждан уволенных с военной службы и массе других. Богатый опыт написания претензий, заявлений и других документов юридическо-правового характера,  работа с государственными органами.</p>
            </div>
            <div class="list grid12">
                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.7637 8.10072C13.7637 11.8149 16.7856 14.8367 20.5002 14.8367C24.2144 14.8367 27.2363 11.815 27.2363 8.10072C27.2363 4.38538 24.2145 1.36279 20.5002 1.36279C16.7857 1.36279 13.7637 4.38538 13.7637 8.10072ZM25.8199 8.10072C25.8199 11.034 23.4335 13.4203 20.5002 13.4203C17.5667 13.4203 15.1801 11.034 15.1801 8.10072C15.1801 5.16641 17.5667 2.77918 20.5002 2.77918C23.4335 2.77918 25.8199 5.16654 25.8199 8.10072Z" fill="white"/>
                            <path d="M7.80254 7.78979C4.7528 7.78979 2.27148 10.2714 2.27148 13.3217C2.27148 16.3714 4.75267 18.8524 7.80254 18.8524C10.8516 18.8524 13.3324 16.3714 13.3324 13.3217C13.3324 10.2714 10.8516 7.78979 7.80254 7.78979ZM7.80254 17.4362C5.5337 17.4362 3.68787 15.5905 3.68787 13.3217C3.68787 11.0524 5.5337 9.20618 7.80254 9.20618C10.0707 9.20618 11.9161 11.0525 11.9161 13.3217C11.9161 15.5905 10.0707 17.4362 7.80254 17.4362Z" fill="white"/>
                            <path d="M33.1969 18.8525C36.2467 18.8525 38.7279 16.3715 38.7279 13.3219C38.7279 10.2715 36.2468 7.78992 33.1969 7.78992C30.1472 7.78992 27.666 10.2715 27.666 13.3219C27.666 16.3715 30.1472 18.8525 33.1969 18.8525ZM33.1969 9.20617C35.4657 9.20617 37.3115 11.0525 37.3115 13.3217C37.3115 15.5905 35.4657 17.4362 33.1969 17.4362C30.9281 17.4362 29.0823 15.5905 29.0823 13.3217C29.0823 11.0525 30.9281 9.20617 33.1969 9.20617Z" fill="white"/>
                            <path d="M35.6237 19.8489H30.7307C30.2832 19.8489 29.8426 19.9053 29.4142 20.0142C28.331 17.8924 26.1237 16.4362 23.5827 16.4362H23.271H17.778H17.4662C14.9207 16.4362 12.7101 17.8976 11.6291 20.0256C11.1862 19.9092 10.7305 19.8492 10.2687 19.8489H5.37598C2.41156 19.8489 0 22.2608 0 25.2249V38.929C0 39.3201 0.316968 39.6371 0.708192 39.6371C1.09929 39.6371 1.41638 39.3201 1.41638 38.929V25.2249C1.41638 23.0417 3.19272 21.2653 5.37611 21.2653H10.2692C10.5585 21.2661 10.8454 21.2985 11.1261 21.3611C10.9939 21.8788 10.9234 22.421 10.9234 22.9795V38.929C10.9234 39.3201 11.2405 39.6371 11.6316 39.6371C12.0227 39.6371 12.3398 39.3201 12.3398 38.929V22.9796C12.3398 22.3633 12.4493 21.7721 12.6494 21.2241C12.6588 21.2059 12.6678 21.1875 12.6756 21.168C12.6862 21.1424 12.6946 21.1164 12.7019 21.0903C13.4091 19.3129 15.0821 18.0223 17.0697 17.8694V20.4413C17.0697 20.8324 17.3868 21.1496 17.7779 21.1496H18.4773L16.569 35.1462C16.5352 35.3933 16.6341 35.6398 16.8289 35.7953L20.0825 38.393C20.2117 38.4962 20.3681 38.5476 20.5244 38.5476C20.6807 38.5476 20.837 38.4962 20.9662 38.393L24.2201 35.7954C24.4151 35.6398 24.5136 35.3933 24.48 35.1462L22.5714 21.1496H23.271C23.6622 21.1496 23.9792 20.8324 23.9792 20.4413V17.8694C25.9568 18.0216 27.6228 19.2997 28.3362 21.0629C28.3435 21.0906 28.3519 21.118 28.3627 21.1451C28.3731 21.1713 28.3852 21.1962 28.3982 21.2204C28.5993 21.7693 28.7091 22.3618 28.7091 22.9795V38.929C28.7091 39.3201 29.0262 39.6371 29.4173 39.6371C29.8085 39.6371 30.1255 39.3201 30.1255 38.929V22.9796C30.1255 22.4174 30.0542 21.8715 29.9202 21.3504C30.1853 21.2945 30.4561 21.2655 30.7307 21.2655H35.6237C37.8073 21.2655 39.5837 23.0418 39.5837 25.2251V38.9291C39.5837 39.3202 39.9008 39.6373 40.2919 39.6373C40.683 39.6373 41.0001 39.3202 41.0001 38.9291V25.2249C41 22.2608 38.5883 19.8489 35.6237 19.8489ZM22.5627 17.8527V19.7334H21.76H19.2887H18.4862V17.8527H22.5627ZM23.0221 34.9394L20.5243 36.9333L18.0267 34.9394L19.9067 21.1498H21.1418L23.0221 34.9394Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Надежная команда. Квалифицированные юристы с опытом свыше 10 лет.</p>
                    </div>
                </div>

                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.4377 4.18453C25.0192 1.80772 22.952 0 20.4581 0C17.9641 0 15.8886 1.80772 15.4785 4.18453H4.23047V41H36.6857H36.7694V4.18453H25.4377V4.18453ZM20.4581 1.74076C21.9896 1.74076 23.2701 2.77853 23.655 4.18453H17.2611C17.6377 2.77853 18.9265 1.74076 20.4581 1.74076ZM26.5591 5.92529L28.7434 9.67463H12.0806L14.265 5.92529C14.265 5.92529 26.5591 5.92529 26.5591 5.92529ZM5.97123 39.2509V5.92529H12.2899L9.10963 11.4238H31.7898L28.6765 5.92529H35.0202V39.2509H5.97123Z" fill="white"/>
                            <path d="M23.3286 16.5707H11.1182V18.3114H23.3286V16.5707Z" fill="white"/>
                            <path d="M29.7891 16.5707H26.7344V18.3114H29.7891V16.5707Z" fill="white"/>
                            <path d="M23.3286 22.0692H11.1182V23.81H23.3286V22.0692Z" fill="white"/>
                            <path d="M29.7891 22.0692H26.7344V23.81H29.7891V22.0692Z" fill="white"/>
                            <path d="M23.3286 27.4756H11.1182V29.2164H23.3286V27.4756Z" fill="white"/>
                            <path d="M29.7891 27.4756H26.7344V29.2164H29.7891V27.4756Z" fill="white"/>
                            <path d="M23.3286 32.9741H11.1182V34.7149H23.3286V32.9741Z" fill="white"/>
                            <path d="M29.7891 32.9741H26.7344V34.7149H29.7891V32.9741Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Широкий спектр услуг: от консультации до абонентского обслуживания.</p>
                    </div>
                </div>

                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.1819 11.8883L31.836 3.54239C31.3076 3.01398 30.6052 2.72302 29.8579 2.72302C29.1107 2.72302 28.4082 3.01398 27.88 3.54239L25.9187 5.50356C25.6169 5.80537 25.4017 6.16038 25.2668 6.53804L16.0902 4.89512C16.0895 4.89497 16.0888 4.89497 16.0882 4.89481C11.962 4.07576 7.93343 6.75827 7.10135 10.8849L6.6781 12.9844C6.21064 15.3029 7.71677 17.5693 10.0353 18.0367C12.3539 18.5039 14.6203 16.9981 15.0878 14.6796L15.3465 13.3957L19.4616 13.7555L30.2081 24.502L32.1558 26.4497C32.5502 26.8441 32.55 27.4859 32.1558 27.8803C31.7615 28.2745 31.1198 28.2747 30.7254 27.8803L25.5081 22.6631C25.1447 22.2997 24.5554 22.2997 24.1922 22.6631C23.8288 23.0264 23.8288 23.6156 24.1922 23.979L29.4094 29.1963C29.6005 29.3873 29.7056 29.6414 29.7056 29.9116C29.7056 30.1817 29.6005 30.4356 29.4094 30.6267C29.0148 31.0211 28.3732 31.0209 27.9789 30.6267L22.7617 25.4095C22.3983 25.0461 21.809 25.0461 21.4457 25.4095C21.0824 25.7729 21.0824 26.3621 21.4457 26.7254L26.663 31.9427C27.0574 32.3369 27.0574 32.9787 26.663 33.3731C26.4719 33.5642 26.2178 33.6693 25.9478 33.6693C25.6776 33.6693 25.4236 33.5642 25.2325 33.3731L20.0153 28.1559C19.6519 27.7925 19.0626 27.7925 18.6993 28.1559C18.3359 28.5193 18.3359 29.1085 18.6993 29.4719L23.9165 34.6891C24.311 35.0835 24.3108 35.7253 23.9165 36.1197C23.5223 36.5139 22.8805 36.5141 22.4861 36.1197L4.02629 17.6602L1.58852 15.2224C1.22513 14.859 0.635771 14.859 0.27254 15.2224C-0.0908466 15.5858 -0.0908466 16.175 0.27254 16.5384L2.71032 18.9761L5.36321 21.629L3.90082 23.0914C3.42205 23.5702 3.15823 24.2069 3.15823 24.8842C3.15823 25.5615 3.42189 26.1981 3.90082 26.6769L4.37805 27.1541C4.79665 27.5727 5.33591 27.8268 5.91736 27.8842C5.97475 28.4656 6.22879 29.0049 6.64739 29.4233L7.12462 29.9007C7.55438 30.3305 8.1014 30.5729 8.66362 30.6289C8.72054 31.2109 8.97489 31.751 9.39396 32.1699L9.87119 32.6471C10.2898 33.0657 10.8291 33.3198 11.4105 33.3771C11.4679 33.9586 11.7219 34.4978 12.1405 34.9164L12.6178 35.3937C13.112 35.888 13.7613 36.135 14.4105 36.135C15.0597 36.135 15.7089 35.888 16.2032 35.3937L17.6656 33.9313L21.17 37.4356C21.7127 37.9783 22.434 38.277 23.2013 38.277C23.9685 38.277 24.69 37.9782 25.2325 37.4356C25.7465 36.9217 26.0384 36.2465 26.068 35.5247C26.79 35.4951 27.465 35.2032 27.9791 34.6892C28.5089 34.1594 28.7848 33.4725 28.8135 32.7771C29.5088 32.7484 30.1959 32.4725 30.7255 31.9428C31.2553 31.413 31.5312 30.7261 31.5599 30.0307C32.2554 30.002 32.9424 29.7261 33.4721 29.1963C34.5922 28.0762 34.5922 26.2538 33.4721 25.1337L32.1825 23.8441L36.9009 19.1257L40.1821 15.8445C41.2726 14.7537 41.2726 12.979 40.1819 11.8883V11.8883ZM5.2168 25.3608C4.95391 25.0979 4.95391 24.6703 5.2168 24.4074L6.58814 23.0361L8.01874 24.4666L6.64739 25.838C6.38466 26.1009 5.95675 26.1007 5.69402 25.838L5.2168 25.3608V25.3608ZM7.96337 28.1073C7.70048 27.8445 7.70048 27.4169 7.96337 27.1541L9.33471 25.7828L10.7653 27.2134L9.39412 28.5847C9.13123 28.8474 8.70332 28.8476 8.44075 28.5847L7.96337 28.1073ZM10.7098 30.8539C10.5825 30.7266 10.5123 30.5572 10.5123 30.3773C10.5123 30.1974 10.5825 30.028 10.7098 29.9007L12.0811 28.5293L13.5116 29.9598L12.1402 31.3311C11.8775 31.5939 11.4497 31.5939 11.187 31.3311L10.7098 30.8539ZM14.8869 34.0777C14.6242 34.3406 14.1963 34.3404 13.9336 34.0777L13.4564 33.6005C13.1935 33.3376 13.1935 32.91 13.4564 32.6471L14.8277 31.2758L16.2583 32.7064L14.8869 34.0777ZM30.8662 22.528L20.5381 12.1999C20.3833 12.0451 20.1792 11.9499 19.9612 11.931L14.6797 11.4693C14.6523 11.4668 14.625 11.4657 14.598 11.4657C14.1592 11.4657 13.7748 11.7751 13.6865 12.2125L13.2633 14.312C12.9987 15.6244 11.7163 16.4768 10.403 16.2124C9.76727 16.0843 9.21932 15.7161 8.86044 15.1759C8.50155 14.6357 8.37437 13.988 8.50263 13.3521L8.92588 11.2528C9.5565 8.12465 12.6131 6.09198 15.7424 6.72337C15.749 6.72461 15.7556 6.72601 15.7623 6.7271L24.8052 8.34613L25.9187 9.45955L34.9267 18.4676L30.8662 22.528V22.528ZM38.8658 14.5283L36.2425 17.1516L27.2345 8.14357C27.0577 7.96677 26.9603 7.73164 26.9603 7.48148C26.9603 7.23131 27.0577 6.99634 27.2345 6.81938L29.1958 4.85805C29.3726 4.68125 29.6077 4.58385 29.8578 4.58385C30.1078 4.58385 30.3429 4.68125 30.5199 4.85805L38.8658 13.204C39.0426 13.3808 39.14 13.6159 39.14 13.8661C39.14 14.1163 39.0426 14.3515 38.8658 14.5283Z" fill="white"/>
                            <path d="M36.6132 15.1663C37.1271 15.1663 37.5438 14.7497 37.5438 14.2357C37.5438 13.7218 37.1271 13.3052 36.6132 13.3052C36.0992 13.3052 35.6826 13.7218 35.6826 14.2357C35.6826 14.7497 36.0992 15.1663 36.6132 15.1663Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Прозрачные цены и сроки. Фиксируем условия в договоре и не меняем в ходе исполнения.</p>
                    </div>
                </div>

                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.4152 0H12.4635C11.0928 0 9.9776 1.11519 9.9776 2.48587V8.04882C5.43395 9.34913 2.09863 13.5403 2.09863 18.496C2.09863 23.4516 5.43387 27.6428 9.9776 28.9431V38.5143C9.9776 39.885 11.0928 41.0002 12.4635 41.0002H32.0367C32.2689 41.0002 32.4916 40.9079 32.6558 40.7438L38.6446 34.7549C38.8088 34.5907 38.901 34.368 38.901 34.1357V2.48587C38.901 1.11519 37.7859 0 36.4152 0ZM12.4635 1.75109H36.4152C36.8203 1.75109 37.1499 2.08071 37.1499 2.48587V5.12826H11.7287V2.48587C11.7287 2.08071 12.0583 1.75109 12.4635 1.75109ZM3.84972 18.4959C3.84972 13.4709 7.93784 9.38273 12.9629 9.38273C17.9879 9.38273 22.076 13.4709 22.076 18.4959C22.076 23.5209 17.9879 27.6091 12.9629 27.6091C7.93784 27.6091 3.84972 23.5209 3.84972 18.4959ZM11.7287 38.5142V29.2897C12.1339 29.3357 12.5456 29.3602 12.963 29.3602C16.2262 29.3602 19.1578 27.9137 21.1509 25.6286H26.5156C26.9992 25.6286 27.3911 25.2366 27.3911 24.753C27.3911 24.2695 26.9992 23.8775 26.5156 23.8775H22.398C23.1595 22.5475 23.6474 21.042 23.7858 19.4379H26.5155C26.9991 19.4379 27.3911 19.0459 27.3911 18.5623C27.3911 18.0788 26.9991 17.6868 26.5155 17.6868H23.7969C23.6785 16.0863 23.2116 14.5814 22.4723 13.2473H26.5154C26.999 13.2473 27.391 12.8553 27.391 12.3718C27.391 11.8882 26.999 11.4962 26.5154 11.4962H21.2643C19.2699 9.1345 16.2888 7.63156 12.9627 7.63156C12.5454 7.63156 12.1337 7.65608 11.7284 7.70211V6.87935H37.1497V33.26H33.6468C32.276 33.26 31.161 34.3752 31.161 35.7458V39.2489H12.4635C12.0583 39.2489 11.7287 38.9194 11.7287 38.5142ZM32.9123 38.0106V35.7459C32.9123 35.3407 33.2419 35.0112 33.647 35.0112H35.9118L32.9123 38.0106Z" fill="white"/>
                            <path d="M29.9556 13.2473H32.8633C33.3468 13.2473 33.7388 12.8553 33.7388 12.3718C33.7388 11.8882 33.3468 11.4962 32.8633 11.4962H29.9556C29.4721 11.4962 29.0801 11.8882 29.0801 12.3718C29.0801 12.8553 29.4721 13.2473 29.9556 13.2473Z" fill="white"/>
                            <path d="M29.9556 19.4379H32.8633C33.3468 19.4379 33.7388 19.0459 33.7388 18.5624C33.7388 18.0788 33.3468 17.6868 32.8633 17.6868H29.9556C29.4721 17.6868 29.0801 18.0788 29.0801 18.5624C29.0801 19.0459 29.4721 19.4379 29.9556 19.4379Z" fill="white"/>
                            <path d="M29.9556 25.6286H32.8633C33.3468 25.6286 33.7388 25.2366 33.7388 24.753C33.7388 24.2695 33.3468 23.8775 32.8633 23.8775H29.9556C29.4721 23.8775 29.0801 24.2695 29.0801 24.753C29.0801 25.2366 29.4721 25.6286 29.9556 25.6286Z" fill="white"/>
                            <path d="M32.8629 31.8191C33.3465 31.8191 33.7385 31.4271 33.7385 30.9436C33.7385 30.46 33.3465 30.0681 32.8629 30.0681H24.6724C24.1889 30.0681 23.7969 30.46 23.7969 30.9436C23.7969 31.4271 24.1889 31.8191 24.6724 31.8191H32.8629Z" fill="white"/>
                            <path d="M19.7604 14.0791L18.6923 13.011C18.4046 12.7234 18.0222 12.5649 17.6153 12.5649C17.2085 12.5649 16.8261 12.7234 16.5384 13.011L10.9358 18.6136L9.38707 17.0649C9.09948 16.7774 8.71699 16.619 8.31024 16.619C7.90349 16.619 7.521 16.7774 7.2334 17.065L6.16499 18.1333C5.57129 18.7271 5.57129 19.6933 6.16508 20.2871L9.85878 23.9807C10.1465 24.2684 10.5289 24.4269 10.9358 24.4269H10.9359C11.3426 24.4269 11.7251 24.2684 12.0126 23.9809L19.7605 16.233C20.3542 15.6392 20.3542 14.6729 19.7604 14.0791ZM10.9357 22.5812L7.56453 19.2101L8.31016 18.4645L10.3166 20.4709C10.6585 20.8129 11.2129 20.8129 11.5548 20.4709L17.6153 14.4104L18.361 15.156L10.9357 22.5812Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Работаем на результат - не обещаем, а делаем.</p>
                    </div>
                </div>

                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37.9971 1.48145H3.00293C1.34707 1.48145 0 2.82852 0 4.48438V30.9102C0 32.566 1.34707 33.9131 3.00293 33.9131H15.82L15.0971 36.4431C14.8068 37.4591 13.6689 38.3174 12.6123 38.3174H8.08789C7.75621 38.3174 7.4873 38.5862 7.4873 38.918C7.4873 39.2497 7.75621 39.5186 8.08789 39.5186H32.9121C33.2438 39.5186 33.5127 39.2497 33.5127 38.918C33.5127 38.5862 33.2438 38.3174 32.9121 38.3174H28.3877C27.3311 38.3174 26.1932 37.459 25.9029 36.4431L25.18 33.9131H37.9971C39.6529 33.9131 41 32.566 41 30.9102V4.48438C41 2.82852 39.6529 1.48145 37.9971 1.48145ZM3.00293 2.68262H37.9971C38.9906 2.68262 39.7988 3.49093 39.7988 4.48438V25.5049H1.20117V4.48438C1.20117 3.49093 2.0094 2.68262 3.00293 2.68262ZM24.7479 36.7731C24.9127 37.35 25.2403 37.8801 25.6698 38.3174H15.3302C15.7597 37.8801 16.0873 37.35 16.2521 36.7731L17.0692 33.9131H23.9307L24.7479 36.7731ZM37.9971 32.7119H3.00293C2.0094 32.7119 1.20117 31.9036 1.20117 30.9102V26.7061H39.7988V30.9102C39.7988 31.9036 38.9906 32.7119 37.9971 32.7119Z" fill="white"/>
                            <path d="M3.00293 24.3037H37.9971C38.3288 24.3037 38.5977 24.0349 38.5977 23.7031V4.48438C38.5977 4.15261 38.3288 3.88379 37.9971 3.88379H3.00293C2.67125 3.88379 2.40234 4.15261 2.40234 4.48438V12.8926C2.40234 13.2243 2.67125 13.4932 3.00293 13.4932C3.33461 13.4932 3.60352 13.2243 3.60352 12.8926V5.08496H37.3965V23.1025H3.60352V15.2949C3.60352 14.9632 3.33461 14.6943 3.00293 14.6943C2.67125 14.6943 2.40234 14.9632 2.40234 15.2949V23.7031C2.40234 24.0349 2.67125 24.3037 3.00293 24.3037Z" fill="white"/>
                            <path d="M20.5 27.9072C19.5065 27.9072 18.6982 28.7155 18.6982 29.709C18.6982 30.7024 19.5065 31.5107 20.5 31.5107C21.4935 31.5107 22.3018 30.7024 22.3018 29.709C22.3018 28.7155 21.4935 27.9072 20.5 27.9072ZM20.5 30.3096C20.1688 30.3096 19.8994 30.0402 19.8994 29.709C19.8994 29.3778 20.1688 29.1084 20.5 29.1084C20.8312 29.1084 21.1006 29.3778 21.1006 29.709C21.1006 30.0402 20.8312 30.3096 20.5 30.3096Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Мы доступны онлайн - услуги для тех кто ценит свое время.</p>
                    </div>
                </div>

                <div class="item x4 sm6">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.0781 8.96875H36.8449C37.0351 8.34514 37.1398 7.69863 37.1562 7.04688C37.1562 5.51774 36.5488 4.05123 35.4675 2.96996C34.3863 1.8887 32.9198 1.28125 31.3906 1.28125C29.8615 1.28125 28.395 1.8887 27.3137 2.96996C26.2324 4.05123 25.625 5.51774 25.625 7.04688C25.6414 7.69863 25.7462 8.34514 25.9363 8.96875H10.1988C10.029 7.85386 9.44533 6.84387 8.56417 6.14005C7.68301 5.43623 6.56901 5.09026 5.44417 5.17106C4.31932 5.25187 3.26622 5.75353 2.49471 6.57608C1.7232 7.39863 1.28994 8.48166 1.28125 9.60938V35.2344C1.28261 36.4233 1.7555 37.5631 2.59619 38.4038C3.43688 39.2445 4.57671 39.7174 5.76562 39.7188H39.0781C39.248 39.7188 39.411 39.6513 39.5311 39.5311C39.6513 39.411 39.7188 39.248 39.7188 39.0781V9.60938C39.7188 9.43947 39.6513 9.27653 39.5311 9.15638C39.411 9.03624 39.248 8.96875 39.0781 8.96875ZM31.3906 2.5625C32.5795 2.56386 33.7194 3.03675 34.5601 3.87744C35.4007 4.71813 35.8736 5.85796 35.875 7.04688C35.875 9.93417 32.6546 14.5422 31.3906 16.2418C30.126 14.5422 26.9062 9.93673 26.9062 7.04688C26.9076 5.85796 27.3805 4.71813 28.2212 3.87744C29.0619 3.03675 30.2017 2.56386 31.3906 2.5625V2.5625ZM2.5625 9.60938C2.5625 8.75985 2.89997 7.94513 3.50067 7.34442C4.10138 6.74372 4.9161 6.40625 5.76562 6.40625C6.61515 6.40625 7.42987 6.74372 8.03058 7.34442C8.63128 7.94513 8.96875 8.75985 8.96875 9.60938V32.0953C8.55168 31.6682 8.05334 31.3288 7.50309 31.0972C6.95285 30.8656 6.36181 30.7465 5.76481 30.7469C5.16782 30.7472 4.57693 30.867 4.02696 31.0993C3.47699 31.3315 2.97906 31.6715 2.5625 32.0992V9.60938ZM38.4375 38.4375H5.76562C5.13211 38.4375 4.51282 38.2496 3.98606 37.8977C3.45931 37.5457 3.04876 37.0455 2.80632 36.4602C2.56389 35.8749 2.50045 35.2308 2.62405 34.6095C2.74764 33.9881 3.05271 33.4174 3.50067 32.9694C3.94864 32.5215 4.51938 32.2164 5.14073 32.0928C5.76207 31.9692 6.40611 32.0326 6.99141 32.2751C7.5767 32.5175 8.07696 32.9281 8.42893 33.4548C8.78089 33.9816 8.96875 34.6009 8.96875 35.2344C8.96875 35.4043 9.03624 35.5672 9.15638 35.6874C9.27653 35.8075 9.43947 35.875 9.60938 35.875C9.77928 35.875 9.94222 35.8075 10.0624 35.6874C10.1825 35.5672 10.25 35.4043 10.25 35.2344V10.25H26.3726C27.5631 12.9106 29.0807 15.4123 30.8903 17.6973C30.9503 17.7723 31.0264 17.8329 31.1131 17.8745C31.1997 17.9162 31.2945 17.9378 31.3906 17.9378C31.4867 17.9378 31.5816 17.9162 31.6682 17.8745C31.7548 17.8329 31.8309 17.7723 31.891 17.6973C33.7006 15.4123 35.2182 12.9106 36.4086 10.25H38.4375V38.4375Z" fill="white"/>
                            <path d="M34.5937 7.04688C34.5937 6.41336 34.4059 5.79407 34.0539 5.26732C33.702 4.74056 33.2017 4.33001 32.6164 4.08757C32.0311 3.84514 31.3871 3.78171 30.7657 3.9053C30.1444 4.02889 29.5736 4.33396 29.1257 4.78193C28.6777 5.22989 28.3726 5.80063 28.249 6.42198C28.1255 7.04332 28.1889 7.68736 28.4313 8.27266C28.6738 8.85795 29.0843 9.35821 29.6111 9.71018C30.1378 10.0621 30.7571 10.25 31.3906 10.25C32.2398 10.249 33.054 9.91119 33.6544 9.3107C34.2549 8.71022 34.5927 7.89609 34.5937 7.04688V7.04688ZM29.4687 7.04688C29.4687 6.66677 29.5815 6.29519 29.7926 5.97914C30.0038 5.66309 30.304 5.41676 30.6552 5.2713C31.0063 5.12583 31.3928 5.08777 31.7656 5.16193C32.1384 5.23609 32.4808 5.41913 32.7496 5.68791C33.0184 5.95668 33.2014 6.29913 33.2756 6.67194C33.3497 7.04474 33.3117 7.43117 33.1662 7.78235C33.0207 8.13352 32.7744 8.43368 32.4584 8.64486C32.1423 8.85604 31.7707 8.96875 31.3906 8.96875C30.8809 8.96875 30.3921 8.76627 30.0317 8.40585C29.6712 8.04543 29.4687 7.55659 29.4687 7.04688Z" fill="white"/>
                            <path d="M19.8594 17.9375V12.8125H18.5781V17.2969H12.8125V18.5781H19.2188C19.3887 18.5781 19.5516 18.5106 19.6717 18.3905C19.7919 18.2704 19.8594 18.1074 19.8594 17.9375Z" fill="white"/>
                            <path d="M23.0625 18.5781H28.8281V17.2969H23.7031V12.8125H22.4219V17.9375C22.4219 18.1074 22.4894 18.2704 22.6095 18.3905C22.7296 18.5106 22.8926 18.5781 23.0625 18.5781Z" fill="white"/>
                            <path d="M29.4688 21.1406H23.0625C22.8926 21.1406 22.7296 21.2081 22.6095 21.3283C22.4894 21.4484 22.4219 21.6113 22.4219 21.7812V26.9062C22.4219 27.0762 22.4894 27.2391 22.6095 27.3592C22.7296 27.4794 22.8926 27.5469 23.0625 27.5469H29.4688C29.6387 27.5469 29.8016 27.4794 29.9217 27.3592C30.0419 27.2391 30.1094 27.0762 30.1094 26.9062V21.7812C30.1094 21.6113 30.0419 21.4484 29.9217 21.3283C29.8016 21.2081 29.6387 21.1406 29.4688 21.1406ZM28.8281 26.2656H23.7031V22.4219H28.8281V26.2656Z" fill="white"/>
                            <path d="M19.8594 26.9062V21.7812C19.8594 21.6113 19.7919 21.4484 19.6717 21.3283C19.5516 21.2081 19.3887 21.1406 19.2188 21.1406H12.8125V22.4219H18.5781V26.2656H12.8125V27.5469H19.2188C19.3887 27.5469 19.5516 27.4794 19.6717 27.3592C19.7919 27.2391 19.8594 27.0762 19.8594 26.9062Z" fill="white"/>
                            <path d="M29.4688 31.3906H12.8125V32.6719H28.8281V35.875H30.1094V32.0312C30.1094 31.8613 30.0419 31.6984 29.9217 31.5783C29.8016 31.4581 29.6387 31.3906 29.4688 31.3906Z" fill="white"/>
                            <path d="M32.6719 21.7812V26.9062C32.6719 27.0762 32.7394 27.2391 32.8595 27.3592C32.9796 27.4794 33.1426 27.5469 33.3125 27.5469H35.875V26.2656H33.9531V22.4219H35.875V21.1406H33.3125C33.1426 21.1406 32.9796 21.2081 32.8595 21.3283C32.7394 21.4484 32.6719 21.6113 32.6719 21.7812Z" fill="white"/>
                            <path d="M32.6719 32.0312V35.875H33.9531V32.6719H35.875V31.3906H33.3125C33.1426 31.3906 32.9796 31.4581 32.8595 31.5783C32.7394 31.6984 32.6719 31.8613 32.6719 32.0312Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Удобное расположение офиса рядом с метро.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgWrap">
            <img src="assets/img/aboutImg1.png" alt="">
        </div>
    </div>
</article>

<article class="services">
    <div class="servicesBg">
        <img src="assets/img/servicesBg.png" alt="">
    </div>
    <div class="inner">
        <div class="titleWrap">
            <div class="subTitle">
                <p>Наши Услуги</p>
            </div>
        </div>
      
        <div class="tabs">
            <div class="tabNavs">
                <div data-id="1" class="tabPill active">
                    <p>Юридическим лицам</p>
                </div>
                <div data-id="2" class="tabPill">
                    <p>Физическим лицам</p>
                </div>
            </div>
            <div class="tabContent">
                <div data-id="1" class="tabPane active">
                    <div class="list grid12">
                        <div class="item x3 lg4 md6 sm12">
                            <div class="title">
                                <p>КОНСУЛЬТАЦИИ 
                                    ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Заказать услугу</a>
                            </div>
                        </div>

                        <div class="item x3 lg4 md6 sm12">
                            <div class="title">
                                <p>ПОДГОТОВКА ЮРИДИЧЕСКИХ ДОКУМЕНТОВ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Заказать услугу</a>
                            </div>
                        </div>

                        <div class="item x3 lg4 md6 sm12">
                            <div class="title">
                                <p>ПРЕДСТАВЛЕНИЕ ИНТЕРЕСОВ ФИЗИЧЕСКИХ ЛИЦ</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Заказать услугу</a>
                            </div>
                        </div>

                        <div class="item x3 lg4 md6 sm12">
                            <div class="title">
                                <p>ПРЕДСТАВИТЕЛЬСТВО ФИЗИЧЕСКИХ ЛИЦ В СУДЕ</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Заказать услугу</a>
                            </div>
                        </div>

                        <div class="item x3 lg4 md6  sm12">
                            <div class="title">
                                <p>ИСПОЛНИТЕЛЬНОЕ ПРОИЗВОДСТВО</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Заказать услугу</a>
                            </div>
                        </div>
                        <div class="item last x9 lg12 md6 sm12">
                            <div class="title">
                                <p>ИСПОЛНИТЕЛЬНОЕ ПРОИЗВОДСТВО</p>
                            </div>
                            <div class="text">
                                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты</p>
                            </div>
                            <div class="btnWrap">
                                <a href="#" class="btn border">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                    
        </div>
    </div>
</article>


<article class="howWeWork">
    <div class="titleWrap">
        <div class="subTitle">
            <p>Шаг за шагом</p>
        </div>
        <div class="title">
            <p>Как мы работаем</p>
        </div>
    </div>
    <div class="inner">
        <div class="list">
            <div class="item">
                <div class="top">
                    <div class="icon">
                        <svg width="41" height="33" viewBox="0 0 41 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40.9448 9.39345L38.4479 3.40118C38.3615 3.19356 38.1826 3.03844 37.9649 2.98201L34.9638 2.20392C26.1773 -0.0741039 14.8224 -0.0740081 6.03628 2.20392L3.03507 2.98201C2.81739 3.03844 2.63851 3.19356 2.55209 3.40118L0.0553234 9.39345C-0.0134695 9.55844 -0.0182601 9.74316 0.041814 9.9115L1.04046 12.7079C1.16042 13.0437 1.50821 13.2409 1.85812 13.1708L11.3459 11.2733C11.6381 11.2148 11.8638 10.9821 11.9136 10.6883L12.7352 5.82292C17.2574 4.6866 23.7426 4.6866 28.2646 5.82292L29.0863 10.6884C29.136 10.9823 29.3618 11.2149 29.654 11.2734L39.1417 13.1709C39.189 13.1804 39.2362 13.185 39.283 13.185C39.5814 13.185 39.8557 12.9984 39.9594 12.708L40.9582 9.9116C41.0183 9.74316 41.0135 9.55844 40.9448 9.39345ZM2.18522 11.6399L1.67263 10.2045L10.8622 8.28376L10.579 9.96113L2.18522 11.6399ZM11.9127 4.55342C11.6435 4.62767 11.4418 4.8511 11.3953 5.12647L11.1192 6.76178L1.90641 8.68741L3.7414 4.28361L6.39692 3.59511C14.9641 1.374 26.0357 1.3739 34.6033 3.59511L37.2588 4.28361L39.0938 8.68741L29.881 6.76178L29.6049 5.12647C29.5584 4.8512 29.3566 4.62767 29.0875 4.55342C24.1917 3.20237 16.8083 3.20237 11.9127 4.55342ZM38.8148 11.6399L30.4212 9.96113L30.1379 8.28376L39.3275 10.2045L38.8148 11.6399Z" fill="white"/>
                            <path d="M34.1229 13.6177C34.0618 13.3432 33.8464 13.1294 33.5715 13.0707L28.6775 12.0246L28.0613 8.01146C28.0075 7.66079 27.7059 7.40191 27.3511 7.40191H25.4348V6.46104C25.4348 6.06418 25.1132 5.74245 24.7162 5.74245C24.3193 5.74245 23.9977 6.06418 23.9977 6.46104V7.40191H17.0034V6.46104C17.0034 6.06418 16.6817 5.74245 16.2848 5.74245C15.8879 5.74245 15.5662 6.06418 15.5662 6.46104V7.40191H13.65C13.2953 7.40191 12.9935 7.66079 12.9397 8.01146L12.3235 12.0246L7.42958 13.0707C7.1546 13.1294 6.93922 13.3432 6.87818 13.6177L3.55514 28.5913C3.54383 28.6424 3.53809 28.6947 3.53809 28.747V31.786C3.53809 32.1829 3.85973 32.5046 4.25667 32.5046H36.7444C37.1413 32.5046 37.463 32.1829 37.463 31.786V28.747C37.463 28.6947 37.4572 28.6424 37.4459 28.5913L34.1229 13.6177ZM8.18132 14.3796L13.1087 13.3263C13.4007 13.264 13.6235 13.0277 13.6688 12.7327L14.2667 8.83909H26.7344L27.3322 12.7327C27.3775 13.0277 27.6004 13.264 27.8923 13.3263L32.8198 14.3796L35.8489 28.0284H5.15223L8.18132 14.3796ZM12.092 29.4656L11.1663 31.0674H10.074L10.9996 29.4656H12.092ZM13.7519 29.4656H29.3894L28.4637 31.0674H12.8263L13.7519 29.4656ZM4.97526 29.4656H9.33969L8.41405 31.0674H4.97526V29.4656ZM30.1237 31.0674L31.0493 29.4656H36.0258V31.0674H30.1237Z" fill="white"/>
                            <path d="M20.5 26.6634C24.7529 26.6634 28.2128 23.2035 28.2128 18.9506C28.2128 14.6977 24.7529 11.2377 20.5 11.2377C16.2471 11.2377 12.7871 14.6977 12.7871 18.9506C12.7871 23.2035 16.2471 26.6634 20.5 26.6634ZM20.5 12.6749C23.9604 12.6749 26.7756 15.4901 26.7756 18.9506C26.7756 22.411 23.9604 25.2263 20.5 25.2263C17.0395 25.2263 14.2243 22.411 14.2243 18.9506C14.2243 15.4901 17.0395 12.6749 20.5 12.6749Z" fill="white"/>
                            <path d="M20.4996 21.6863C22.008 21.6863 23.2354 20.459 23.2354 18.9505C23.2354 17.4419 22.008 16.2147 20.4996 16.2147C18.991 16.2147 17.7637 17.4419 17.7637 18.9505C17.7637 20.459 18.991 21.6863 20.4996 21.6863ZM20.4996 17.6518C21.2157 17.6518 21.7982 18.2344 21.7982 18.9505C21.7982 19.6666 21.2157 20.2491 20.4996 20.2491C19.7835 20.2491 19.2008 19.6666 19.2008 18.9505C19.2008 18.2345 19.7835 17.6518 20.4996 17.6518Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="count">
                        <p>1</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="title">
                        <a href="#">Оставляете заявку</a>
                    </div>
                    <div class="text">
                        <p>или звоните по телефону</p>
                    </div>
                    <div class="link">
                        <a href="tel:+79150622211">+7 (915) 062-22-11</a>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="top">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35.9566 28.4661C35.0975 27.029 33.8932 26.0294 32.474 25.5752L28.4649 24.2924C28.3329 24.25 28.1975 24.2534 28.0749 24.2927L27.4414 23.3424C27.2517 23.0577 26.8721 22.9725 26.5788 23.1484L26.2674 23.3352V22.416C26.2674 22.3189 26.2451 22.2272 26.2064 22.1446C28.2029 20.3803 29.4777 17.7098 29.4777 14.7261V12.4949C30.3605 10.0604 30.6704 7.71242 30.3714 5.69812C30.0348 3.43068 28.9442 1.75728 27.2172 0.857348C27.2156 0.856467 27.214 0.855667 27.2125 0.854786C27.2092 0.853104 27.2061 0.851262 27.2028 0.849581C27.1972 0.846698 27.1916 0.844616 27.186 0.841973C27.1743 0.836288 27.1626 0.830682 27.1504 0.825717C27.1418 0.822194 27.1331 0.819151 27.1245 0.816028C27.1136 0.812104 27.1027 0.80826 27.0916 0.804897C27.0818 0.801934 27.0718 0.799531 27.0619 0.797049C27.0518 0.794567 27.0417 0.792004 27.0314 0.790082C27.0205 0.78792 27.0095 0.786318 26.9986 0.784717C26.989 0.783355 26.9796 0.781994 26.97 0.781033C26.9581 0.779912 26.9464 0.779351 26.9345 0.778871C26.9256 0.778551 26.9167 0.77807 26.9078 0.77807C26.895 0.77807 26.8822 0.778791 26.8695 0.779592C26.8614 0.780072 26.8534 0.780392 26.8453 0.781273C26.8314 0.782635 26.8177 0.784797 26.8039 0.787119C26.7984 0.788 26.7929 0.7884 26.7874 0.789441C25.2914 1.077 23.8802 0.756209 22.5155 0.446063C20.348 -0.0465825 18.1083 -0.554363 15.7589 1.42567C15.6311 1.4163 15.5028 1.41013 15.3735 1.41013C12.5976 1.41013 10.3315 3.60229 10.2509 6.32666C10.2485 6.34932 10.2471 6.3723 10.2471 6.39561C10.2471 6.41434 10.2477 6.43324 10.2477 6.45206C10.2477 6.46015 10.2471 6.46808 10.2471 6.47617C10.2471 6.48369 10.248 6.49106 10.2482 6.49851C10.2722 9.49194 11.3342 12.9055 11.5428 13.5475V14.7263C11.5428 17.7028 12.8116 20.3677 14.7999 22.1322C14.7574 22.2178 14.7329 22.314 14.7329 22.4161V23.3353L14.4215 23.1484C14.1282 22.9727 13.7486 23.0579 13.5588 23.3425L12.9253 24.2927C12.8027 24.2534 12.6672 24.2501 12.5353 24.2924L8.52613 25.5752C7.10689 26.0294 5.90258 27.0289 5.04349 28.4661C4.26665 29.7655 3.83887 31.3311 3.83887 32.8745V38.4368C3.83887 39.85 4.98864 40.9999 6.40195 40.9999H18.5756C18.5763 40.9999 18.577 41 18.5777 41C18.5788 41 18.58 40.9999 18.5811 40.9999H22.4189C22.4201 40.9999 22.4212 41 22.4223 41C22.423 41 22.4237 40.9999 22.4244 40.9999H34.5981C36.0114 40.9999 37.1612 39.8501 37.1612 38.4368V32.8745C37.1612 31.3311 36.7334 29.7655 35.9566 28.4661ZM30.056 30.9142C30.0684 31.0256 30.0203 31.1365 29.9307 31.2038L27.8055 32.7976C27.657 32.9091 27.564 33.0795 27.5509 33.2647C27.5377 33.4499 27.6056 33.6318 27.7369 33.7632L29.0713 35.0976C29.1826 35.2089 29.1953 35.3877 29.101 35.5136L25.9471 39.7186H23.3611L28.7865 25.8537C28.7998 25.8199 28.8089 25.7851 28.8161 25.75L29.5067 25.9711L30.056 30.9142ZM19.0149 39.7186L18.564 38.5664C18.5643 38.5651 18.5647 38.5638 18.565 38.5624L19.7459 32.658C19.7835 32.6601 19.8212 32.6616 19.8593 32.6616H21.1409C21.179 32.6616 21.2167 32.6601 21.2543 32.658L22.4352 38.5624C22.4354 38.5638 22.4359 38.5651 22.4362 38.5664L21.9853 39.7186H19.0149ZM15.053 39.7186L11.8992 35.5136C11.8048 35.3877 11.8174 35.2088 11.9288 35.0977L13.2632 33.7632C13.3945 33.6318 13.4623 33.45 13.4492 33.2647C13.436 33.0795 13.3431 32.9091 13.1946 32.7976L11.0694 31.2039C10.9797 31.1365 10.9317 31.0256 10.9441 30.9142L11.4934 25.9711L12.184 25.75C12.1913 25.7851 12.2004 25.8199 12.2136 25.8537L17.6389 39.7186H15.053ZM19.8592 28.8167H21.1409C21.4943 28.8167 21.7819 29.1043 21.7819 29.4577V30.7394C21.7819 31.0928 21.4943 31.3804 21.1409 31.3804H19.8593C19.5058 31.3804 19.2183 31.0928 19.2183 30.7394V29.4577C19.2183 29.1043 19.5057 28.8167 19.8592 28.8167ZM23.3007 36.357L22.457 32.1385C22.4824 32.1146 22.507 32.09 22.5311 32.0647L22.5491 32.0918C22.8094 32.4822 23.2264 32.7326 23.6933 32.7788C23.7453 32.7839 23.7971 32.7865 23.8487 32.7865C24.2097 32.7865 24.5574 32.6617 24.8363 32.4325L23.3007 36.357ZM18.4509 32.0919L18.469 32.0648C18.493 32.09 18.5177 32.1146 18.5431 32.1386L17.6994 36.3571L16.1637 32.4326C16.4426 32.662 16.7903 32.7866 17.1513 32.7866C17.2029 32.7866 17.2548 32.784 17.3067 32.7789C17.7736 32.7327 18.1907 32.4823 18.4509 32.0919ZM26.7141 24.5615L27.4717 25.6978L25.9684 29.5394C25.913 29.5686 25.861 29.6065 25.8144 29.653L24.0439 31.4236C23.9629 31.5047 23.8686 31.509 23.8195 31.5037C23.7705 31.4988 23.6788 31.4765 23.6152 31.3811L23.0631 30.5529V29.4576C23.0631 28.5722 22.4611 27.825 21.6449 27.6029L26.7141 24.5615ZM11.5288 6.46047C11.5375 4.38082 13.2586 2.69156 15.3734 2.69156C15.8879 2.69156 16.3869 2.78973 16.8565 2.9832C17.1835 3.11814 17.5581 2.96206 17.6928 2.63494C17.8189 2.32904 17.6907 1.9819 17.4061 1.8279C18.9548 0.952162 20.4367 1.28777 22.2314 1.69561C23.5918 2.0048 25.1258 2.35186 26.7948 2.08744C28.3666 2.99786 28.9194 4.64348 29.1039 5.88654C29.3173 7.32404 29.1645 9.02916 28.6767 10.7945L27.4665 8.64478C27.3373 8.41536 27.0806 8.28827 26.8198 8.32455C26.7488 8.33456 19.6596 9.28638 14.3366 7.08549C14.0096 6.95015 13.635 7.10583 13.4997 7.43271C13.3646 7.75967 13.52 8.13436 13.847 8.26945C18.7742 10.3066 24.878 9.82971 26.5599 9.64633L28.1961 12.5529V12.8044C28.194 12.8044 28.1919 12.8041 28.1897 12.8041H26.2671H22.4225C22.0451 12.8041 21.6887 12.9693 21.4448 13.2572C21.395 13.316 21.3525 13.3794 21.3146 13.445H19.6852C19.6472 13.3794 19.6048 13.316 19.555 13.2572C19.3111 12.9692 18.9546 12.8041 18.5772 12.8041H14.7326H12.9912C13.4054 11.1875 14.448 10.0523 14.4603 10.0391C14.7029 9.78158 14.6908 9.37614 14.4332 9.1335C14.1756 8.89079 13.7702 8.90296 13.5276 9.16057C13.4788 9.21238 12.7689 9.97874 12.2117 11.1882C11.8843 9.85237 11.5379 8.06621 11.5288 6.46047ZM26.2457 14.0856L25.7014 15.3193C25.6999 15.3227 25.6984 15.3261 25.697 15.3295C25.5076 15.7798 25.1576 16.0082 24.6564 16.0082H23.3928C23.0781 16.0082 22.8122 15.7829 22.7605 15.4726C22.7579 15.4571 22.7547 15.4416 22.7509 15.4263L22.4242 14.0854L26.2457 14.0856ZM18.5759 14.0856L18.2491 15.4262C18.2454 15.4416 18.2423 15.457 18.2396 15.4726C18.1879 15.7829 17.9219 16.0081 17.6073 16.0081H16.3437C15.8426 16.0081 15.4925 15.7797 15.3031 15.3294C15.3017 15.326 15.3002 15.3226 15.2987 15.3192L14.7543 14.0853L18.5759 14.0856ZM12.824 14.7264V14.0856V14.0853H13.4531C13.4531 14.1555 13.4571 14.2259 13.4688 14.2963C13.4776 14.349 13.4929 14.4005 13.5146 14.4495L14.1244 15.8317C14.5163 16.7581 15.3249 17.2895 16.3437 17.2895H17.6073C18.5422 17.2895 19.3337 16.6262 19.499 15.7089L19.7385 14.7262H21.2616L21.5011 15.7089C21.6664 16.6263 22.4579 17.2895 23.3927 17.2895H24.6563C25.6752 17.2895 26.4837 16.7583 26.8756 15.8318L27.4854 14.4495C27.5071 14.4005 27.5224 14.349 27.5313 14.2963C27.5429 14.226 27.5469 14.1555 27.5469 14.0853H28.1898C28.192 14.0853 28.1941 14.085 28.1962 14.085V14.7264C28.1962 19.32 24.7483 23.0572 20.5101 23.0572C16.2719 23.0572 12.824 19.32 12.824 14.7264ZM16.0141 23.0403C17.3367 23.8653 18.8728 24.3385 20.5102 24.3385C22.1391 24.3385 23.668 23.8703 24.986 23.0531V24.1041L20.5001 26.7957L16.0141 24.1041V23.0403ZM14.286 24.5615L19.3551 27.6031C18.539 27.8251 17.9369 28.5723 17.9369 29.4578V30.5531L17.3848 31.3813C17.3212 31.4766 17.2294 31.4991 17.1804 31.5039C17.1315 31.5092 17.0372 31.5048 16.956 31.4236L15.1856 29.6532C15.139 29.6066 15.0869 29.5688 15.0316 29.5395L13.5283 25.698L14.286 24.5615ZM5.12013 38.4368V32.8745C5.12013 29.6811 7.03001 27.3993 8.91659 26.7956L10.1567 26.3988L9.67069 30.7726C9.60847 31.3327 9.84983 31.8906 10.3007 32.2289L11.8349 33.3795L11.0227 34.1917C10.4636 34.7508 10.3997 35.6497 10.8742 36.2823L13.4515 39.7186H6.40203C5.69518 39.7186 5.12013 39.1436 5.12013 38.4368ZM35.88 38.4368C35.88 39.1436 35.3049 39.7186 34.5981 39.7186H27.5487L30.1261 36.2823C30.6004 35.6496 30.5365 34.7508 29.9774 34.1916L29.1653 33.3795L30.6994 32.2289C31.1503 31.8907 31.3917 31.3327 31.3295 30.7726L30.8435 26.3988L32.0835 26.7956C33.9701 27.3992 35.88 29.6811 35.88 32.8745V38.4368Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="count">
                        <p>2</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="text">
                        <p>Наш менеджер подробно консультирует Вас в нашем офисе</p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="top">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.2653 1.13525C33.8707 1.13525 33.5508 1.4552 33.5508 1.84981V35.2998C33.5508 35.4106 33.5766 35.52 33.6262 35.6193L35.5518 39.4698C35.6728 39.7119 35.9201 39.8648 36.1909 39.8648C36.4615 39.8648 36.7088 39.7119 36.83 39.4698L38.7554 35.6193C38.805 35.52 38.8308 35.4108 38.8308 35.2998V1.84981C38.8308 1.4552 38.5109 1.13525 38.1163 1.13525H34.2653ZM37.4017 35.1308L36.1909 37.5524L34.9799 35.1308V2.56437H37.4017V35.1308Z" fill="white"/>
                            <path d="M39.5713 6.23754V17.6368C39.5713 18.0314 39.8912 18.3514 40.2858 18.3514C40.6805 18.3514 41.0004 18.0314 41.0004 17.6368V6.23754C41.0004 5.84293 40.6805 5.52298 40.2858 5.52298C39.8912 5.52298 39.5713 5.84293 39.5713 6.23754Z" fill="white"/>
                            <path d="M24.2204 21.3783H6.1296C5.73499 21.3783 5.41504 21.6984 5.41504 22.093C5.41504 22.4876 5.73499 22.8074 6.1296 22.8074H24.2204C24.615 22.8074 24.9349 22.4876 24.9349 22.093C24.9349 21.6984 24.615 21.3783 24.2204 21.3783Z" fill="white"/>
                            <path d="M24.2204 31.9516H6.1296C5.73499 31.9516 5.41504 32.2716 5.41504 32.6662C5.41504 33.0608 5.73499 33.3807 6.1296 33.3807H24.2204C24.615 33.3807 24.9349 33.0608 24.9349 32.6662C24.9349 32.2716 24.615 31.9516 24.2204 31.9516Z" fill="white"/>
                            <path d="M24.2204 16.7888H6.1296C5.73499 16.7888 5.41504 17.1087 5.41504 17.5033C5.41504 17.8979 5.73499 18.2179 6.1296 18.2179H24.2204C24.615 18.2179 24.9349 17.8979 24.9349 17.5033C24.9349 17.1087 24.615 16.7888 24.2204 16.7888Z" fill="white"/>
                            <path d="M6.1296 13.6288H16.8693C17.2639 13.6288 17.5838 13.3087 17.5838 12.9141C17.5838 12.5195 17.2639 12.1997 16.8693 12.1997H6.1296C5.73499 12.1997 5.41504 12.5195 5.41504 12.9141C5.41504 13.3087 5.73499 13.6288 6.1296 13.6288Z" fill="white"/>
                            <path d="M6.1296 9.03941H16.8693C17.2639 9.03941 17.5838 8.71959 17.5838 8.32498C17.5838 7.93037 17.2639 7.61029 16.8693 7.61029H6.1296C5.73499 7.61029 5.41504 7.93037 5.41504 8.32498C5.41504 8.71959 5.73499 9.03941 6.1296 9.03941Z" fill="white"/>
                            <path d="M0.71261 39.8075H29.637C30.0305 39.8075 30.3496 39.4884 30.3496 39.0948V11.4063C30.3496 11.4053 30.3494 11.4043 30.3494 11.4034C30.3493 11.3805 30.3481 11.3576 30.3459 11.3353C30.3442 11.3179 30.3413 11.3009 30.3383 11.2838C30.3372 11.278 30.3367 11.272 30.3357 11.2662C30.3316 11.2462 30.3264 11.2262 30.3207 11.2066C30.32 11.204 30.3194 11.2014 30.3187 11.1987C30.3126 11.1792 30.3054 11.1598 30.2979 11.1408C30.2968 11.1383 30.2961 11.1357 30.2952 11.1332C30.2878 11.1153 30.2793 11.098 30.2704 11.081C30.2685 11.0775 30.2671 11.0736 30.2652 11.0701C30.2568 11.0547 30.2475 11.0397 30.2382 11.0248C30.235 11.02 30.2323 11.0148 30.2292 11.0101C30.2202 10.9967 30.2102 10.9839 30.2002 10.971C30.196 10.9655 30.1919 10.9595 30.1875 10.9539C30.1752 10.939 30.1619 10.9247 30.1482 10.9107C30.1456 10.9079 30.1435 10.9051 30.1408 10.9025L20.6392 1.40106C20.6227 1.38457 20.6054 1.36911 20.5877 1.35444C20.583 1.35068 20.5779 1.3473 20.5732 1.34366C20.5596 1.33302 20.5458 1.32237 20.5317 1.31289C20.5275 1.31016 20.523 1.3077 20.5187 1.30497C20.5034 1.2951 20.4878 1.28549 20.4718 1.27679C20.469 1.27523 20.4657 1.27407 20.4629 1.27251C20.4451 1.26329 20.4272 1.25446 20.4087 1.24693C20.4067 1.24602 20.4046 1.24537 20.4026 1.24459C20.3831 1.23667 20.3633 1.22953 20.3433 1.22329C20.3409 1.22265 20.3387 1.22226 20.3364 1.22161C20.3165 1.21563 20.2963 1.21044 20.2758 1.20628C20.2702 1.20525 20.2642 1.20473 20.2586 1.20369C20.2414 1.2007 20.2241 1.19758 20.2067 1.1959C20.1832 1.19343 20.1594 1.19226 20.1355 1.19226H0.71261C0.319039 1.19239 0 1.51143 0 1.905V39.0948C0 39.4884 0.319039 39.8075 0.71261 39.8075ZM27.9168 10.6939L20.8487 10.6947L20.8483 3.62563L27.9168 10.6939ZM1.42522 2.61774H19.4229L19.4234 11.4075C19.4234 11.5965 19.4985 11.7778 19.6321 11.9114C19.7657 12.0449 19.9471 12.1199 20.136 12.1199L28.9245 12.1189V38.3822H1.42522V2.61774Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="count">
                        <p>3</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="text">
                        <p>Заключаем соглашение на оказание юридической помощи </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="top">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32.5067 5.37176H28.7975V3.71239C28.7975 3.17552 28.2118 2.93151 27.675 2.93151H24.7955C24.1122 0.979277 22.404 0.00316009 20.4517 0.00316009C18.521 -0.0694251 16.7648 1.11445 16.108 2.93151H13.2773C12.7404 2.93151 12.2036 3.17552 12.2036 3.71239V5.37176H8.49424C6.29613 5.39521 4.49785 7.12922 4.39453 9.32499V37.2907C4.39453 39.4381 6.34677 40.9999 8.49424 40.9999H32.5067C34.6542 40.9999 36.6064 39.4381 36.6064 37.2907V9.32508C36.5031 7.12922 34.7048 5.39521 32.5067 5.37176ZM14.1557 4.88375H16.84C17.3086 4.82657 17.685 4.47009 17.7674 4.00525C18.0564 2.74655 19.1607 1.84301 20.4517 1.80901C21.7308 1.84778 22.8185 2.75411 23.0872 4.00525C23.1748 4.48616 23.576 4.84722 24.0634 4.88375H26.8453V8.78821H14.1557V4.88375ZM34.6542 37.2908C34.6542 38.3645 33.5804 39.0478 32.5067 39.0478H8.49424C7.4205 39.0478 6.34677 38.3645 6.34677 37.2908V9.32508C6.44635 8.20744 7.3723 7.34454 8.49424 7.32409H12.2035V9.81319C12.255 10.3601 12.7287 10.7691 13.2772 10.7405H27.6749C28.2335 10.7711 28.722 10.3676 28.7974 9.81319V7.32399H32.5066C33.6284 7.34454 34.5545 8.20735 34.6541 9.32499V37.2908H34.6542Z" fill="white"/>
                            <path d="M16.7423 21.8194C16.3762 21.4335 15.7684 21.4117 15.3757 21.7706L12.2521 24.7477L10.9343 23.3811C10.5682 22.9952 9.96045 22.9736 9.56772 23.3324C9.18966 23.7285 9.18966 24.3516 9.56772 24.7477L11.5687 26.7976C11.7419 26.9915 11.9921 27.0988 12.252 27.0904C12.5094 27.0868 12.755 26.9815 12.9352 26.7976L16.7421 23.186C17.1195 22.8398 17.1447 22.2531 16.7984 21.8758C16.7807 21.8561 16.7619 21.8373 16.7423 21.8194Z" fill="white"/>
                            <path d="M30.7493 23.918H19.524C18.9849 23.918 18.5479 24.355 18.5479 24.8941C18.5479 25.4332 18.9849 25.8702 19.524 25.8702H30.7493C31.2884 25.8702 31.7254 25.4332 31.7254 24.8941C31.7254 24.355 31.2884 23.918 30.7493 23.918Z" fill="white"/>
                            <path d="M16.7423 14.0104C16.3762 13.6245 15.7684 13.6028 15.3757 13.9617L12.2521 16.9388L10.9343 15.5722C10.5682 15.1863 9.96045 15.1645 9.56772 15.5234C9.18966 15.9195 9.18966 16.5427 9.56772 16.9388L11.5687 18.9886C11.7419 19.1826 11.9921 19.2898 12.252 19.2815C12.5094 19.2779 12.755 19.1726 12.9352 18.9886L16.7421 15.377C17.1195 15.0308 17.1447 14.4442 16.7984 14.0669C16.7807 14.0471 16.7619 14.0284 16.7423 14.0104Z" fill="white"/>
                            <path d="M30.7493 16.109H19.524C18.9849 16.109 18.5479 16.546 18.5479 17.0852C18.5479 17.6243 18.9849 18.0613 19.524 18.0613H30.7493C31.2884 18.0613 31.7254 17.6243 31.7254 17.0852C31.7254 16.546 31.2884 16.109 30.7493 16.109Z" fill="white"/>
                            <path d="M16.7423 29.6282C16.3762 29.2423 15.7684 29.2206 15.3757 29.5794L12.2521 32.5565L10.9343 31.1899C10.5682 30.804 9.96045 30.7824 9.56772 31.1412C9.18966 31.5373 9.18966 32.1605 9.56772 32.5565L11.5687 34.6064C11.7419 34.8003 11.9921 34.9076 12.252 34.8993C12.5094 34.8956 12.755 34.7903 12.9352 34.6064L16.7421 30.9948C17.1195 30.6486 17.1447 30.0619 16.7984 29.6846C16.7807 29.665 16.7619 29.6462 16.7423 29.6282Z" fill="white"/>
                            <path d="M30.7493 31.7269H19.524C18.9849 31.7269 18.5479 32.1639 18.5479 32.703C18.5479 33.2422 18.9849 33.6792 19.524 33.6792H30.7493C31.2884 33.6792 31.7254 33.2422 31.7254 32.703C31.7254 32.1639 31.2884 31.7269 30.7493 31.7269Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="count">
                        <p>4</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="text">
                        <p>Оказываем услугу </p>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="top">
                    <div class="icon">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.5 0C9.19626 0 0 9.19626 0 20.5C0 31.8037 9.19626 41 20.5 41C31.8037 41 41 31.8037 41 20.5C41 9.19626 31.8037 0 20.5 0ZM20.5 39.0841C10.2527 39.0841 1.91589 30.7474 1.91589 20.5C1.91589 10.2527 10.2527 1.91589 20.5 1.91589C30.7473 1.91589 39.0841 10.2527 39.0841 20.5C39.0841 30.7474 30.7473 39.0841 20.5 39.0841Z" fill="white"/>
                            <path d="M34.9996 16.5147C34.887 16.1679 34.5872 15.9152 34.2262 15.8628L25.3355 14.5709L21.3594 6.51429C21.1979 6.18731 20.865 5.98027 20.5003 5.98027C20.1356 5.98027 19.8027 6.18731 19.6412 6.51429L15.6651 14.5709L6.77425 15.8628C6.41342 15.9152 6.11365 16.1679 6.00099 16.5147C5.88834 16.8615 5.98235 17.2421 6.24342 17.4967L12.6768 23.7678L11.1581 32.6227C11.0965 32.9822 11.2441 33.3453 11.5392 33.5597C11.7061 33.6809 11.9037 33.7426 12.1023 33.7426C12.2547 33.7426 12.4078 33.7062 12.548 33.6327L20.5002 29.4519L28.4524 33.6327C28.7754 33.8023 29.1664 33.7741 29.4612 33.5597C29.7562 33.3454 29.904 32.9823 29.8422 32.6229L28.3234 23.768L34.7569 17.4969C35.0183 17.2421 35.1121 16.8615 34.9996 16.5147ZM26.6257 22.7472C26.3998 22.9673 26.2969 23.2844 26.3503 23.5952L27.626 31.0334L20.9461 27.5216C20.667 27.375 20.3337 27.375 20.0545 27.5216L13.3746 31.0334L14.6503 23.5952C14.7036 23.2844 14.6006 22.9674 14.3748 22.7472L8.97062 17.4796L16.439 16.3943C16.751 16.3489 17.0207 16.153 17.1603 15.8702L20.5003 9.10278L23.8402 15.8703C23.9798 16.153 24.2494 16.3491 24.5616 16.3944L32.03 17.4797L26.6257 22.7472Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="count">
                        <p>5</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="text">
                        <p>Отличный результат - отличный отзыв</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>


<% include ../includes/command %>
<% include ../includes/backCall %>
<% include ../includes/seo %>





<% include ../includes/footer %>



</body>
</html>


 











