<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<section>
<style>
		.pages-list {
			height: 100%;
			margin-top: 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: space-between;
			-ms-align-items: center;
			align-items: left;
		}
		.page-item {
			font-family: 'Montserrat', sans-serif;
			text-decoration: none;
			color: #000;
			margin-bottom: 25px;
		}
	</style>
</head>
<body>
	<div class="pages-list">
		<a href="mainPage.html" class="page-item">Главная</a>
		<a href="aboutPage.html" class="page-item">О нас</a>
		<a href="contactsPage.html" class="page-item">Контакты</a>
		<a href="practicePage.html" class="page-item">Практика внутрянка</a>
		<a href="practices.html" class="page-item">Практика</a>
		<a href="reviewsPage.html" class="page-item">Отзывы</a>
		<a href="serviceOnline.html" class="page-item">Услуги онлайн</a>
		<a href="servicePage.html" class="page-item">Услауга</a>
		<a href="services.html" class="page-item">Услуги</a>
		<a href="tariffs.html" class="page-item">Тарифы</a>
	</div>


</section>

    <% include ../includes/footer %>



</body>
</html>


 











