<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<article class="practice">
    <div class="titleWrap">
        <h1>Практика</h1>
    </div>
    <div class="list grid12">
        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>

        <a href="#" class="item x3 lg4 sm6">
            <div class="imgWrap">
                <img src="assets/img/practiceImg1.png" alt="">
                <div class="date">
                    <p>05.03.2020</p>
                </div>
            </div>
            <div class="content">
                <div class="title">
                    <p>Название оказанной клиенту услуги</p>
                </div>
                <div class="text">
                    <p>Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги Анонс опаисания оказанной услуги </p>
                </div>
            </div>
        </a>
    </div>
    <div class="btnWrap">
        <a href="#" class="btn noBorder">Показать еще</a>
    </div>
    <% include ../includes/pagination %>
</article>


<% include ../includes/footer %>


</body>
</html>


 











