<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<article class="practice">
    <div class="titleWrap">
        <h1>Практика</h1>
    </div>

<div class="tabs">
    <div class="tabNavs dark">
        <div data-id="1" class="tabPill active">
            <p>Юридическим лицам</p>
        </div>
        <div data-id="2" class="tabPill">
            <p>Физическим лицам</p> 
        </div>
    </div>
    <div class="tabContent">
        <div data-id="1" class="tabPane active">
            <div class="reviewsList grid12">
                <div class="reviewsItem x4 lg6 sm12">
                    <div class="title">
                        <p>Иванов Иван Иванович</p>
                    </div>
                    <div class="subTitle">
                        <p>ООО “Ромашка”</p>
                    </div>
                    <div class="inner">
                        <div class="imgWrap">
                            <img src="assets/img/sert.png" alt="">
                        </div>
                        <div class="content">
                            <div class="text">
                                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. Конечно, для этого статьи должны быть качественными</p>
                            </div>
                            <div class="btnMore">
                                <a href="#">Показать весь текст</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="reviewsItem x4 lg6 sm12">
                    <div class="reviewBg">
                        <img src="assets/img/reviewBg1.png" alt="">
                    </div>
                    <div class="videoBtn">
                        <svg width="43" height="51" viewBox="0 0 43 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.85" d="M43 25.5L0.249998 50.1817L0.25 0.818274L43 25.5Z" fill="white"/>
                        </svg>                            
                    </div>
                    <div class="title">
                        <p>Иванов Иван Иванович</p>
                    </div>
                    <div class="subTitle">
                        <p>ООО “Ромашка”</p>
                    </div>
                   
                </div>

                <div class="reviewsItem x4 lg6 sm12">
                    <div class="title">
                        <p>Иванов Иван Иванович</p>
                    </div>
                    <div class="subTitle">
                        <p>ООО “Ромашка”</p>
                    </div>
                    <div class="inner">
                        <div class="imgWrap">
                            <img src="assets/img/sert.png" alt="">
                        </div>
                        <div class="content">
                            <div class="text">
                                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. Конечно, для этого статьи должны быть качественными</p>
                            </div>
                            <div class="btnMore">
                                <a href="#">Показать весь текст</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-id="2" class="tabPane">

        </div>
    </div>
</div>
    <div class="btnWrap">
        <a href="#" class="btn noBorder">Показать еще</a>
    </div>
    <% include ../includes/pagination %>
</article>


<% include ../includes/footer %>


</body>
</html>


 











