<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<article class="servicesPage">
    <div class="titleWrap">
        <h1>Услуги</h1>
    </div>

<div class="tabs">
    <div class="tabNavs dark">
        <div data-id="1" class="tabPill active">
            <p>Юридическим лицам</p>
        </div>
        <div data-id="2" class="tabPill">
            <p>Физическим лицам</p> 
        </div>
    </div>
    <div class="tabContent">
        <div data-id="1" class="tabPane active">
          <div class="servicesList grid12">
              <div class="servicesItem x6 lg12">
                <div class="itemBg">
                    <img src="assets/img/servicesImg1.png" alt="">
                </div>
                  <div class="inner">
                     <div class="content">
                        <div class="title">
                            <p>КОНСУЛЬТАЦИИ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                        </div>
                        <div class="text">
                           <ul>
                                <li>РАЗРАБОТКА ВНУТРЕННИХ КОРПОРАТИВНЫХ ДОКУМЕНТОВ</li>
                                <li>ПРЕТЕНЗИЯ (ЖАЛОБА)</li>
                                <li>ИСКОВОЕ ЗАЯВЛЕНИЕ</li>
                                <li>ВОЗРАЖЕНИЕ НА ИСКОВЫЕ ТРЕБОВАНИЯ</li>
                                <li>АППЕЛЯЦИОННАЯ ЖАЛОБА</li>
                                <li>ХОДАТАЙСТВА (ЗАЯВЛЕНИЯ) В СУД</li>
                                <li>ЗАЯВЛЕНИЕ О ПРИМИНЕНИИ ОБЕСПЕЧИТЕЛЬНЫХ МЕР</li>
                                <li>ДОГОВОР</li>
                           </ul>
                        </div>
                     </div>
                     <div class="btnWrap">
                         <a href="" class="btn border">Заказать услугу</a>
                     </div>
                  </div>
              </div>

              <div class="servicesItem x6 lg12">
                <div class="itemBg">
                    <img src="assets/img/servicesImg2.png" alt="">
                </div>
                  <div class="inner">
                     <div class="content">
                        <div class="title">
                            <p>КОНСУЛЬТАЦИИ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                        </div>
                        <div class="text">
                           <ul>
                                <li>РАЗРАБОТКА ВНУТРЕННИХ КОРПОРАТИВНЫХ ДОКУМЕНТОВ</li>
                                <li>ПРЕТЕНЗИЯ (ЖАЛОБА)</li>
                                <li>ИСКОВОЕ ЗАЯВЛЕНИЕ</li>

                           </ul>
                        </div>
                     </div>
                     <div class="btnWrap">
                         <a href="" class="btn border">Заказать услугу</a>
                     </div>
                  </div>
              </div>

              <div class="servicesItem x6 lg12">
                <div class="itemBg">
                    <img src="assets/img/servicesImg3.png" alt="">
                </div>
                  <div class="inner">
                     <div class="content">
                        <div class="title">
                            <p>КОНСУЛЬТАЦИИ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                        </div>
                        <div class="text">
                           <ul>
                                <li>РАЗРАБОТКА ВНУТРЕННИХ КОРПОРАТИВНЫХ ДОКУМЕНТОВ</li>
                                <li>ПРЕТЕНЗИЯ (ЖАЛОБА)</li>
                                <li>ИСКОВОЕ ЗАЯВЛЕНИЕ</li>
                                <li>ВОЗРАЖЕНИЕ НА ИСКОВЫЕ ТРЕБОВАНИЯ</li>
                                <li>АППЕЛЯЦИОННАЯ ЖАЛОБА</li>
                                <li>ХОДАТАЙСТВА (ЗАЯВЛЕНИЯ) В СУД</li>
                                <li>ЗАЯВЛЕНИЕ О ПРИМИНЕНИИ ОБЕСПЕЧИТЕЛЬНЫХ МЕР</li>
                                <li>ДОГОВОР</li>
                           </ul>
                        </div>
                     </div>
                     <div class="btnWrap">
                         <a href="" class="btn border">Заказать услугу</a>
                     </div>
                  </div>
              </div>

              <div class="servicesItem x6 lg12">
                <div class="itemBg">
                    <img src="assets/img/servicesImg4.png" alt="">
                </div>
                  <div class="inner">
                     <div class="content">
                        <div class="title">
                            <p>КОНСУЛЬТАЦИИ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                        </div>
                        <div class="text">
                           <ul>
                                <li>РАЗРАБОТКА ВНУТРЕННИХ КОРПОРАТИВНЫХ ДОКУМЕНТОВ</li>
                                <li>ПРЕТЕНЗИЯ (ЖАЛОБА)</li>
                                <li>ИСКОВОЕ ЗАЯВЛЕНИЕ</li>
                                <li>ВОЗРАЖЕНИЕ НА ИСКОВЫЕ ТРЕБОВАНИЯ</li>
                                <li>АППЕЛЯЦИОННАЯ ЖАЛОБА</li>
                                <li>ХОДАТАЙСТВА (ЗАЯВЛЕНИЯ) В СУД</li>
                                <li>ЗАЯВЛЕНИЕ О ПРИМИНЕНИИ ОБЕСПЕЧИТЕЛЬНЫХ МЕР</li>
                                <li>ДОГОВОР</li>
                           </ul>
                        </div>
                     </div>
                     <div class="btnWrap">
                         <a href="" class="btn border">Заказать услугу</a>
                     </div>
                  </div>
              </div>

              <div class="servicesItem x6 lg12">
                <div class="itemBg">
                    <img src="assets/img/servicesImg5.png" alt="">
                </div>
                  <div class="inner">
                     <div class="content">
                        <div class="title">
                            <p>КОНСУЛЬТАЦИИ ДЛЯ ФИЗИЧЕСКИХ ЛИЦ</p>
                        </div>
                        <div class="text">
                           <ul>
                                <li>РАЗРАБОТКА ВНУТРЕННИХ КОРПОРАТИВНЫХ ДОКУМЕНТОВ</li>
                                <li>ПРЕТЕНЗИЯ (ЖАЛОБА)</li>
                                <li>ИСКОВОЕ ЗАЯВЛЕНИЕ</li>
                                <li>ВОЗРАЖЕНИЕ НА ИСКОВЫЕ ТРЕБОВАНИЯ</li>
                                <li>АППЕЛЯЦИОННАЯ ЖАЛОБА</li>
                                <li>ХОДАТАЙСТВА (ЗАЯВЛЕНИЯ) В СУД</li>
                                <li>ЗАЯВЛЕНИЕ О ПРИМИНЕНИИ ОБЕСПЕЧИТЕЛЬНЫХ МЕР</li>
                                <li>ДОГОВОР</li>
                           </ul>
                        </div>
                     </div>
                     <div class="btnWrap">
                         <a href="" class="btn border">Заказать услугу</a>
                     </div>
                  </div>
              </div>
          </div>
        </div>
        <div data-id="2" class="tabPane">

        </div>
    </div>
</div>
</article>



<% include ../includes/seo %>

<% include ../includes/footer %>


</body>
</html>


 











