<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<article class="servicePage">
    <div class="titleWrap">
        <h1>Услуги онлайн</h1>
    </div>
    <div class="topText">
        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. 
            Конечно, для этого статьи должны быть качественными, уникальными (т. е. не скопированными из других источников, оригинальными), интересными, с определенной структурой. А ещё они должны содержать ключевые слова — запросы, которые интересны вашей целевой аудитории больше остальных. Именно по этим «тропинкам» вас найдут потенциальные покупатели.
            Самой популярной статьей на каждом ресурсе является текст «о компании», ведь любому юзеру важно понять, что за фирма перед ним, а ещё ознакомиться с её историей, разобраться в опыте и компетенциях.</p>
        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. 
            Конечно, для этого статьи должны быть качественными, уникальными (т. е. не скопированными из других источников, оригинальными), интересными, с определенной структурой. А ещё они должны содержать ключевые слова — запросы, которые интересны вашей целевой аудитории больше остальных. Именно по этим «тропинкам» вас найдут потенциальные покупатели.</p>
    </div>

    <div class="serviceTable">
      <div class="title">
          <p>Услуги</p>
      </div>
        <div class="list">
            <div class="item grid12">
                <div class="block x6 sm12">
                    <div class="title">
                        <p>Взыскание дебиторской задолженности (по договорам)</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. </p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="price">
                        <p>от 8 000 руб.</p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="btnWrap">
                        <a href="#" class="btn noBorder">Заказать</a>
                    </div>
                </div>
            </div>

            <div class="item grid12">
                <div class="block x6 sm12">
                    <div class="title">
                        <p>Взыскание дебиторской задолженности (по договорам)</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. </p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="price">
                        <p>от 8 000 руб.</p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="btnWrap">
                        <a href="#" class="btn noBorder">Заказать</a>
                    </div>
                </div>
            </div>

            <div class="item grid12">
                <div class="block x6 sm12">
                    <div class="title">
                        <p>Взыскание дебиторской задолженности (по договорам)</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. </p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="price">
                        <p>от 8 000 руб.</p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="btnWrap">
                        <a href="#" class="btn noBorder">Заказать</a>
                    </div>
                </div>
            </div>

            <div class="item grid12">
                <div class="block x6 sm12">
                    <div class="title">
                        <p>Взыскание дебиторской задолженности (по договорам)</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. </p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="price">
                        <p>от 8 000 руб.</p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="btnWrap">
                        <a href="#" class="btn noBorder">Заказать</a>
                    </div>
                </div>
            </div>

            <div class="item grid12">
                <div class="block x6 sm12">
                    <div class="title">
                        <p>Взыскание дебиторской задолженности (по договорам)</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. </p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="price">
                        <p>от 8 000 руб.</p>
                    </div>
                </div>
                <div class="block x3 sm12">
                    <div class="btnWrap">
                        <a href="#" class="btn noBorder">Заказать</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</article>




<article class="tableSection">
    <div class="titleWrap">
        <div class="title">
            <p>Абонентское обслуживание</p>
        </div>
    </div>
    <div class="table">
        <div class="stickyTop">
            <div class="block x2">
                <div class="title">
                    <p>Услуги</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>Лайт</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>ОПТИМАЛЬНЫЙ</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>ПРЕМИУМ</p>
                </div>
            </div>
        </div>
        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Консультации</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Устные:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Письменные:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="bottomSticky">
            <div class="block x2">
               <div class="title">
                   <p>ЦЕНА</p>
               </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>от <span>39 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 5%</p>
                </div>
             </div>
             <div class="block">
                <div class="title">
                    <p>от <span>69 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 10%</p>
                </div>
             </div>
             <div class="block">
                <div class="title">
                    <p>от <span>90 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 15%</p>
                </div>
             </div>
        </div>


    </div>
</article>


<% include ../includes/backcall %>

<% include ../includes/footer %>


</body>
</html>


 











