<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>


<article class="tariffs">
    <div class="titleWrap">
        <h1>Тарифы</h1>
    </div>

<div class="tabs">
    <div class="tabNavs dark">
        <div data-id="1" class="tabPill active">
            <p>Юридическим лицам</p>
        </div>
        <div data-id="2" class="tabPill">
            <p>Физическим лицам</p> 
        </div>
    </div>
    <div class="tabContent">
        <div data-id="1" class="tabPane active">
           <div class="accordion">
               <div class="list">

                   <div class="item">
                       <div class="accTop">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Лайт</p>
                                <p>СКИДКА ПРИ ОПЛАТЕ ЗА 6 МЕСЯЦЕВ 5%</p>
                            </div>
                            <div class="price">
                                <p>от <span>39 000 руб.</span></p>
                            </div>
                       </div>
                       <div class="accBody">
                            <div class="row titleRow">
                               <div class="left">
                                    <div class="title">
                                        <p>Консультации</p>
                                    </div>
                               </div>
                               <div class="right">
                                   <div class="text">
                                       <p></p>
                                   </div>
                               </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                     <div class="title">
                                         <p>Устные:</p>
                                     </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                             </div>

                             <div class="row">
                                <div class="left">
                                     <div class="title">
                                         <p>Письменные:</p>
                                     </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                             </div>

                             <div class="row titleRow">
                                <div class="left">
                                     <div class="title">
                                         <p>Работа с договорами</p>
                                     </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p></p>
                                    </div>
                                </div>
                             </div>
 
                             <div class="row">
                                 <div class="left">
                                      <div class="title">
                                          <p>Создание договора:</p>
                                      </div>
                                 </div>
                                 <div class="right">
                                     <div class="text">
                                         <p>до 2-х в мес.</p>
                                     </div>
                                 </div>
                              </div>
 
                              <div class="row">
                                 <div class="left">
                                      <div class="title">
                                          <p>Проверка договоров предоставленных контрагентами:</p>
                                      </div>
                                 </div>
                                 <div class="right">
                                     <div class="text">
                                         <p>до 2-х в мес.</p>
                                     </div>
                                 </div>
                              </div>

                              <div class="row">
                                <div class="left">
                                     <div class="title">
                                         <p>Проверка контрагентов перед заключением договора:</p>
                                     </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                             </div> 
                       </div>
                    </div>

                   <div class="item">
                    <div class="accTop">
                         <div class="icon">
                             <div class="line l1"></div>
                             <div class="line l2"></div>
                         </div>
                         <div class="title">
                             <p>Лайт</p>
                             <p>СКИДКА ПРИ ОПЛАТЕ ЗА 6 МЕСЯЦЕВ 5%</p>
                         </div>
                         <div class="price">
                             <p>от <span>39 000 руб.</span></p>
                         </div>
                    </div>
                    <div class="accBody">
                         <div class="row titleRow">
                            <div class="left">
                                 <div class="title">
                                     <p>Консультации</p>
                                 </div>
                            </div>
                            <div class="right">
                                <div class="text">
                                    <p></p>
                                </div>
                            </div>
                         </div>

                         <div class="row">
                             <div class="left">
                                  <div class="title">
                                      <p>Устные:</p>
                                  </div>
                             </div>
                             <div class="right">
                                 <div class="text">
                                     <p>до 2-х в мес.</p>
                                 </div>
                             </div>
                          </div>

                          <div class="row">
                             <div class="left">
                                  <div class="title">
                                      <p>Письменные:</p>
                                  </div>
                             </div>
                             <div class="right">
                                 <div class="text">
                                     <p>до 2-х в мес.</p>
                                 </div>
                             </div>
                          </div>

                          <div class="row titleRow">
                             <div class="left">
                                  <div class="title">
                                      <p>Работа с договорами</p>
                                  </div>
                             </div>
                             <div class="right">
                                 <div class="text">
                                     <p></p>
                                 </div>
                             </div>
                          </div>

                          <div class="row">
                              <div class="left">
                                   <div class="title">
                                       <p>Создание договора:</p>
                                   </div>
                              </div>
                              <div class="right">
                                  <div class="text">
                                      <p>до 2-х в мес.</p>
                                  </div>
                              </div>
                           </div>

                           <div class="row">
                              <div class="left">
                                   <div class="title">
                                       <p>Проверка договоров предоставленных контрагентами:</p>
                                   </div>
                              </div>
                              <div class="right">
                                  <div class="text">
                                      <p>до 2-х в мес.</p>
                                  </div>
                              </div>
                           </div>

                           <div class="row">
                             <div class="left">
                                  <div class="title">
                                      <p>Проверка контрагентов перед заключением договора:</p>
                                  </div>
                             </div>
                             <div class="right">
                                 <div class="text">
                                     <p>до 2-х в мес.</p>
                                 </div>
                             </div>
                          </div> 
                    </div>
                    </div>

                    <div class="item">
                        <div class="accTop">
                            <div class="icon">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="title">
                                <p>Лайт</p>
                                <p>СКИДКА ПРИ ОПЛАТЕ ЗА 6 МЕСЯЦЕВ 5%</p>
                            </div>
                            <div class="price">
                                <p>от <span>39 000 руб.</span></p>
                            </div>
                        </div>
                        <div class="accBody">
                            <div class="row titleRow">
                                <div class="left">
                                    <div class="title">
                                        <p>Консультации</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                    <div class="title">
                                        <p>Устные:</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                    <div class="title">
                                        <p>Письменные:</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row titleRow">
                                <div class="left">
                                    <div class="title">
                                        <p>Работа с договорами</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                    <div class="title">
                                        <p>Создание договора:</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                    <div class="title">
                                        <p>Проверка договоров предоставленных контрагентами:</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="left">
                                    <div class="title">
                                        <p>Проверка контрагентов перед заключением договора:</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="text">
                                        <p>до 2-х в мес.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div data-id="2" class="tabPane">

        </div>
    </div>
</div>
</article>


<article class="tableSection">
    <div class="titleWrap">
        <div class="title">
            <p>Абонентское обслуживание</p>
        </div>
    </div>
    <div class="table">
        <div class="stickyTop">
            <div class="block x2">
                <div class="title">
                    <p>Услуги</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>Лайт</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>ОПТИМАЛЬНЫЙ</p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>ПРЕМИУМ</p>
                </div>
            </div>
        </div>
        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Консультации</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Устные:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Письменные:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="titleRow">
            <div class="block x2">
                <div class="title">
                    <p>Работа с договорами</p>
                </div>
            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
            <div class="block empty">

            </div>
        </div>

        <div class="row grid12">
            <div class="block x2">
               <div class="text">
                   <p>Создание договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка договоров предоставленных контрагентами:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="row">
            <div class="block x2">
               <div class="text">
                   <p>Проверка контрагентов перед заключением договора:</p>
               </div>
            </div>
            <div class="block">
                <div class="text center">
                    <p>до 2-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 4-х в мес.</p>
                </div>
             </div>
             <div class="block">
                <div class="text center">
                    <p>до 8-х в мес.</p>
                </div>
             </div>
        </div>

        <div class="bottomSticky">
            <div class="block x2">
               <div class="title">
                   <p>ЦЕНА</p>
               </div>
            </div>
            <div class="block">
                <div class="title">
                    <p>от <span>39 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 5%</p>
                </div>
             </div>
             <div class="block">
                <div class="title">
                    <p>от <span>69 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 10%</p>
                </div>
             </div>
             <div class="block">
                <div class="title">
                    <p>от <span>90 000</span> ₽</p>
                    <p>Скидка при оплате за <b>6</b> месяцев 15%</p>
                </div>
             </div>
        </div>


    </div>
</article>


<% include ../includes/seo %>

<% include ../includes/footer %>


</body>
</html>


 











