<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>





    <section class="cartPage">
        <form class="form">
            
            <div class="header grid12">
                <div class="title x4">
                    <p>Товар</p>
                </div>
                <div class="title x2">
                    <p>Стоимость</p>
                </div>
                <div class="title x3">
                    <p>Количество</p>
                </div>
                <div class="title x2">
                    <p>Сумма</p>
                </div>
            </div>
            
            <div class="product grid12">

                <div class="cancel active">
                    <div class="text">
                        <p>Товар "наименование товара" удален.</p>
                        <a href="#">Восстановить</a>
                    </div>
                </div>
                <div class="block x4 md10" data-title="Товар">
                    <div class="icon">
                        <img src="assets/img/catalog-page-img.png" alt="">
                    </div>
                    <div class="title">
                        <p>Название продукции которую мы добавили в корзину</p>
                    </div>
                </div>
                <div class="block dell md2">
                    <div class="cross">
                        <div class="line l1"></div>
                        <div class="line l2"></div>
                    </div>
                    </div>
                <div class="block x2 md4" data-title="Стоимость">
                    <div class="title">
                        <p><b>120 000 руб.</b></p>
                    </div>
                </div>
                <div class="block x3 md4"  data-title="Количество">
                    <div class="counter">
                        <div class="counterBtn">
                            <div class="line l1"></div>
                            <div class="line l2"></div>
                        </div>
                        <div class="counterInput">
                            <input type="number" value="2">
                        </div>
                        <div class="counterBtn">
                            <div class="line l1"></div>
                        </div>
                    </div>
                </div>
                <div class="block x2 md4"  data-title="Сумма">
                    <div class="title">
                        <p><b>240 000 руб.</b></p>
                    </div>
                </div>
               
            </div>

            <div class="product grid12">

                    <div class="cancel">
                        <div class="text">
                            <p>Товар "наименование товара" удален.</p>
                            <a href="#">Восстановить</a>
                        </div>
                    </div>
                    <div class="block x4 md10" data-title="Товар">
                        <div class="icon">
                            <img src="assets/img/catalog-page-img.png" alt="">
                        </div>
                        <div class="title">
                            <p>Название продукции которую мы добавили в корзину</p>
                        </div>
                    </div>
                    <div class="block dell md2">
                        <div class="cross">
                            <div class="line l1"></div>
                            <div class="line l2"></div>
                        </div>
                        </div>
                    <div class="block x2 md4" data-title="Стоимость">
                        <div class="title">
                            <p><b>120 000 руб.</b></p>
                        </div>
                    </div>
                    <div class="block x3 md4"  data-title="Количество">
                        <div class="counter">
                            <div class="counterBtn">
                                <div class="line l1"></div>
                                <div class="line l2"></div>
                            </div>
                            <div class="counterInput">
                                <input type="number" value="2">
                            </div>
                            <div class="counterBtn">
                                <div class="line l1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="block x2 md4"  data-title="Сумма">
                        <div class="title">
                            <p><b>240 000 руб.</b></p>
                        </div>
                    </div>
                   
                </div>

             <div class="bottom">
                 <div class="delivery">
                    <p>До бесплатной доставки осталось 835 рублей *</p>
                 </div>
                 <div class="total">
                     <p class="title">К оплате:</p>
                     <p class="summ">0 руб.</p>
                 </div>
             </div>   
             <div class="btnWrap right">
                <button class="btn full">ОФОРМИТЬ ЗАКАЗ</button>
            </div>
            
        </form>
           
    </section>


    <% include ../includes/footer %>



</body>
</html>


 











