<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <section class="checkOut">
        <form action="" class="form">

    <!-- STEP START -->
            <div class="left"> 
                <div class="step grid12">
                    <div class="top x12">
                        <div class="titleWrap">
                            <p class="title">Шаг 1. Тип плательщика</p>
                            <p class="subTitle">Выберите тип плательщика</p>
                        </div>  
                        <div class="change">
                        <a href="#">Изменить</a>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio1" checked="checked" name="step1">
                                <label class="radioLabel" for="radio1"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio1">
                                <p class="title">Физическое лицо</p> 
                                <p class="text">Какой то текст</p>
                            </label>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio2" name="step1" >
                                <label class="radioLabel" for="radio2"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio2">
                            <p class="title">Физическое лицо</p> 
                            <p class="text">Какой то текст</p>
                            </label>
                        </div>
                    </div>
                    <div class="bottom x12">
                        <button class="btn border">назад</button>
                        <button class="btn border">далее</button>
                    </div>
                </div>

    <!-- STEP END -->
    <!-- STEP START -->

                <div class="step grid12">
                    <div class="top x12">
                        <div class="titleWrap">
                            <p class="title">Шаг 2. Оплата</p>
                            <p class="subTitle">Выберите способ оплаты</p>
                        </div>  
                        <div class="change">
                            <a href="#">Изменить</a>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio3" checked="checked" name="step2">
                                <label class="radioLabel" for="radio3"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio3">
                                <p class="title">Наличный расчет</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                                <img src="assets/img/sberbank.png" alt="" class="icon">
                            </label>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio4" name="step2" >
                                <label class="radioLabel" for="radio4"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio4">
                                <p class="title">Онлайн оплата</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                                <img src="assets/img/sberbank.png" alt="" class="icon">
                            </label>
                        </div>
                    </div>
                    <div class="bottom x12">
                        <button class="btn border">назад</button>
                        <button class="btn border">далее</button>
                    </div>
                </div>

    <!-- STEP END -->
    <!-- STEP START -->

                <div class="step grid12">
                    <div class="top x12">
                        <div class="titleWrap">
                            <p class="title">Шаг 3. Доставка</p>
                            <p class="subTitle">Выберите способ доставки</p>
                        </div>  
                        <div class="change">
                            <a href="#">Изменить</a>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio5" checked="checked" name="step3">
                                <label class="radioLabel" for="radio5"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio5">
                                <p class="title">Доставка TESGO</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                            </label>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio6" name="step3" >
                                <label class="radioLabel" for="radio6"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio6">
                                <p class="title">СДЭК</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                            </label>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio7" name="step3" >
                                <label class="radioLabel" for="radio7"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio7">
                                <p class="title">ПЭК</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                            </label>
                        </div>
                    </div>
                    <div class="block x6 md12">
                        <div class="radio">
                            <div class="radioField">
                                <input type="radio" id="radio8" name="step3" >
                                <label class="radioLabel" for="radio8"></label>
                                <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.934 2.193l-9.92 9.92a.223.223 0 0 1-.316 0L.065 6.48a.223.223 0 0 1 0-.316l1.37-1.368a.224.224 0 0 1 .315 0l4.106 4.106L14.25.508a.224.224 0 0 1 .316 0l1.368 1.369a.223.223 0 0 1 0 .316z" fill="#fff"></path></svg>
                            </div>
                            <label class="checkboxText" for="radio8">
                                <p class="title">Самовывоз со склада</p> 
                                <p class="text">Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
                            </label>
                        </div>
                    </div>
                    <div class="bottom x12">
                        <button class="btn border">назад</button>
                        <button class="btn border">далее</button>
                    </div>
                </div>

    <!-- STEP END -->
    <!-- STEP START -->

                <div class="step grid12">
                    <div class="top x12">
                        <div class="titleWrap">
                            <p class="title">Шаг 4. Адрес доставки</p>
                            <p class="subTitle">Укажите адрес доставки</p>
                        </div>  
                        <div class="change">
                            <a href="#">Изменить</a>
                        </div>
                    </div>
                    <div class="field x12">
                        <input type="text" class="phone">
                        <label>Город*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Улица*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Корпус</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Дом*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Квартира \ Офис</label>
                    </div>
                
                    <div class="bottom x12">
                        <button class="btn border">назад</button>
                        <button class="btn border">далее</button>
                    </div>
                </div>

    <!-- STEP END -->
    <!-- STEP START -->

                <div class="step grid12">
                    <div class="top x12">
                        <div class="titleWrap">
                            <p class="title">Шаг 5. Контактная информация</p>
                            <p class="subTitle">Контактная информация заполнена из вашего профиля</p>
                        </div>  
                        <div class="change">
                            <a href="#">Изменить</a>
                        </div>
                    </div>
                    <div class="field x12">
                        <input type="text" class="phone">
                        <label>Ф.И.О.*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Телефон*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>E-Mail*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Пароль*</label>
                    </div>

                    <div class="field x6 sm12">
                        <input type="text" class="phone">
                        <label>Повторите пароль*</label>
                    </div>

                    <div class="bottom x12">
                        <button class="btn border">назад</button>
                        <button class="btn border">Оформить заказ</button>
                    </div>
                </div>

    <!-- STEP END -->

            </div> <!--  END LEFT -->
            
            <div class="right">
                <div class="sticky">
                    <div class="top">
                        <div class="title">
                            <p>Состав заказа</p>
                        </div>
                    </div>
                    
                    <div class="product">
                        <div class="imgWrap">
                            <img src="assets/img/catalog-page-img.png" alt="">
                        </div>
                        <div class="textWrap">
                            <div class="title">
                                <p>1 Универсальное моющее 5л пэт</p>
                            </div>
                            <div class="price">
                                <p>190 руб.</p>
                            </div>
                            <div class="quantity">
                                <p>Кол-во: <b>1</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="imgWrap">
                            <img src="assets/img/catalog-page-img.png" alt="">
                        </div>
                        <div class="textWrap">
                            <div class="title">
                                <p>1 Универсальное моющее 5л пэт</p>
                            </div>
                            <div class="price">
                                <p>190 руб.</p>
                            </div>
                            <div class="quantity">
                                <p>Кол-во: <b>1</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="bottom">
                        <div class="line">
                            <p class="title">Количество товаров:</p>
                            <p class="quantity">1</p>
                        </div>
                        <div class="line">
                            <p class="title">Доставка</p>
                            <p class="quantity">250 руб.</p>
                        </div>
                        <div class="line">
                            <p class="title">Итого:</p>
                            <p class="quantity">440 руб.</p>
                        </div>
                    </div>

                </div>
            </div> <!--  END RIGHT -->

        </form>
    </section>

    <% include ../includes/footer %>



</body>
</html>


 











