<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/stickyHeader %>
<% include ../includes/ddSearch %> 
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>
<% include ../includes/cardTabs %> 



<section>
    <div class="btns">
        <button id="bcCall"  class="btn full">bc modal</button>
    </div>
</section>


<section class="form">
    <a href="#" class="linkEffect">TEXT FOR HOVER</a>
    <a class="linkEffect2" href="#"><span class="dotted" data-content="chamomile">chamomile</span></a>
    <a href="#" class="linkEffect3" data-content="Link Hover">Link Hover</a>
    <% include modalBC %>
</section>

<!-- <% include ../includes/select %> -->


<% include ../includes/footer %>



</body>
</html>


 




