
    <% include ../includes/head %>
    <% include ../includes/mobile_menu %>
    <% include ../includes/header %>
    <% include ../includes/breadcrumbs %>
    



    <section>
        <div class="btns">
            <button id="bcCall"  class="btn full">bc modal</button>
        </div>
        
    </section>
    
   
    <section class="form">
        <% include modalBC %>
    </section>



    <!-- MODALS START BACK CALL -->

    
    
        <!-- MODALS END BACK CALL -->

        <% include ../includes/footer %>
</body>
</html>


 











