<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item">
                    <a href="#" class="link">Текущие заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Личные данные</a>
                </div>
                <div class="item">
                    <a href="#" class="link">История заказов</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Корзина</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Контакты</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Выход</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="list">
                    <div class="item active">
                        <a href="#" class="link">Оплаченные заказы</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Не оплаченные заказы</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Оплаченные заказы</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Не оплаченные заказы</a>
                    </div>
                </div>
            </div>
            <div class="headers grid12">
               <div class="title x4">
                   <p>Ф.И.О.:</p>
               </div> 
               <div class="title x4">
                    <p>Текущий статус, от 18.06.2019:</p>
                </div> 
                <div class="title x2">
                    <p>Сумма</p>
                </div> 
                <div class="title x2">
                    <p>Действие</p>
                </div> 
            </div>
            
            <div class="row grid12">
                <div class="block x4 lg3" data-title="Ф.И.О.:">
                    <div class="text">
                        <p><b>admin test</b></p>
                    </div>
                </div>
                <div class="block x4 sm6" data-title="Текущий статус, от 18.06.2019:">
                    <div class="text">
                        <p>Принят, ожидается оплата</p>
                    </div>
                </div>
                <div class="block x2 sm3" data-title="Сумма">
                    <div class="text">
                        <p>2 192.85 руб.</p>
                    </div>
                </div>
                <div class="block x2 lg3 sm12" data-title="Действие">
                    <div class="text">
                        <div class="btnWrap">
                            <button class="btn full">Оформить</button>
                            <button class="btn border">Редактировать</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row grid12">
                <div class="separator x12">
                    <div class="ttile">
                        <p>Содержимое заказа</p>
                    </div>
                </div>
            </div>

            <div class="headers grid12">
                <div class="title x4">
                    <p>Наименование товара</p>
                </div> 
                <div class="title x2">
                    <p>Модель</p>
                </div> 
                <div class="title x2">
                    <p>Категория</p>
                </div> 
                <div class="title x2">
                    <p>Цена</p>
                </div> 
                <div class="title x2">
                    <p>Действие</p>
                </div> 
            </div>

            <div class="row grid12">
                <div class="block x4 lg3 sm12" data-title="Наименование товара">
                    <div class="text">
                        <img src="assets/img/catalog-page-img.png" alt="">
                        <p>любое текстовое полелюбое текстовое полелюбое текстовое полелюбое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Модель">
                    <div class="text">
                        <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Категория">
                    <div class="text">
                            <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Цена">
                    <div class="text">
                        <p>любое текстовое поле</p>
                    </div>
                    </div>
                <div class="block x2 lg3 sm12" data-title="Действие">
                    <div class="text">
                        <div class="btnWrap">
                            <button class="btn border">Редактировать</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row grid12">
                <div class="block x4 lg3 sm12" data-title="Наименование товара">
                    <div class="text">
                        <img src="assets/img/catalog-page-img.png" alt="">
                        <p>любое текстовое полелюбое текстовое полелюбое текстовое полелюбое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Модель">
                    <div class="text">
                        <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Категория">
                    <div class="text">
                            <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Цена">
                        <div class="text">
                                <p>любое текстовое поле</p>
                        </div>
                    </div>
                <div class="block x2 lg3 sm12" data-title="Действие">
                    <div class="text">
                        <div class="btnWrap">
                                <% include ../includes/select %>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="row grid12">
                <div class="block x4 lg3 sm12" data-title="Наименование товара">
                    <div class="text">
                        <img src="assets/img/catalog-page-img.png" alt="">
                        <p>любое текстовое полелюбое текстовое полелюбое текстовое полелюбое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Модель">
                    <div class="text">
                        <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Категория">
                    <div class="text">
                        <p>любое текстовое поле</p>
                    </div>
                </div>
                <div class="block x2 sm4" data-title="Цена">
                        <div class="text">
                            <p>любое текстовое поле</p>
                        </div>
                    </div>
                <div class="block x2 lg3 sm12" data-title="Действие">
                    <div class="text">
                        <div class="btnWrap">
                            <button class="btn border">Редактировать</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row grid12">
                <div class="block x8 md6 xs4">
                
                </div>
                <div class="block x2 md3 xs4">
                    <div class="text">
                        <p>Итого:</p>
                    </div>
                </div>
                <div class="block x2 md3 xs4">
                    <div class="text">
                        <p><b>2 152.85 руб</b></p>
                    </div>
                </div> 
            </div>

            <div class="row grid12">
                <div class="field x6 sm12">
                    <input type="text" class="phone">
                    <label>Юридическое название</label>
                </div>
                <div class="field x6 xlg8 lg5 md6 sm10 xs12">
                    <input type="text" class="phone">
                    <label>Юридическое название</label>
                </div>
            </div>

            <div class="field">
                <input type="text" class="phone">
                <label>Юридическое название</label>
            </div>

            

            <div class="field">
                <input type="text" class="phone">
                <label>Юридическое название</label>
            </div>

            <div class="field">
                <input type="text" class="phone">
                <label>Юридическое название</label>
            </div>

            <div class="btnWrap right">
                <button class="btn border">Редактировать</button>
            </div>

           
        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











