<div class="catalogFilter">
    <div class="mobileCross">
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89926 11.3137L4.94952 16.2635L6.36373 17.6777L11.3135 12.7279L16.2632 17.6777L17.6774 16.2635L12.7277 11.3137L17.6774 6.36396L16.2632 4.94975L11.3135 9.89949L6.36373 4.94975L4.94952 6.36396L9.89926 11.3137Z" fill="#FF695A"></path>
        </svg>    
    </div>
    <div class="filterInner">

        <div class="block">
            <div class="filterResult">
                <div class="filterSticker" id="modef" style="display: inline-block;">
                    <div class="text">
                        <p>Выбрано: <span id="modef_num">321</span></p>
                    </div>
                    <a href="" class="link btn border" target="">Показать</a>
			    </div>
            </div>
            <div class="caption active">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Цена, руб</p>
                </div>
            </div>    
            <div class="innerBlock priceFilter active">
            <div class="priceCaption">
                    <input value="5 000" type="text">
                    <input value="40 800" type="text">
            </div>
            <div class="priceSlider" >
                <div class="backLine"  style="left: 0%; right: 0%;">
                    <div class="frontLine" style="left: 15.6934%; right: 0px;" ></div>
                    <div class="centerLine" style="left: 0%; right: 0%;"></div>
                    <div class="frontLine" style="left: 15.6934%; right: 0%;"></div>
                    <a class="leftBtn" style="left: 15.6934%;"></a>
                    <a class="rightBtn" style="right:0;"></a>
                </div>
            </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Производитель</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="valuesList">
                    <div class="filterSearch">
                        <div class="field">
                            <input type="text" placeholder="Поиск">
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search"><path d="M11 4a7 7 0 015.6 11.2c.038.028.073.059.107.093l4 4a1 1 0 01-1.414 1.414l-4-4a1.009 1.009 0 01-.093-.107A7 7 0 1111 4zm0 2a5 5 0 100 10 5 5 0 000-10z" fill="currentColor" fill-rule="evenodd"></path></svg>
                        </div>
                    </div>
                    <div class="checkbox">
                        <div class="checkboxField">
                            <input type="checkbox" id="check1" name="sogl">
                            <label class="checkbox__label" for="check1"></label>
                        </div>
                        <label class="checkboxText" for="check1">Производитель 1</label>
                    </div>
                    
                    <div class="checkbox">
                        <div class="checkboxField">
                            <input type="checkbox" id="check2" name="sogl">
                            <label class="checkbox__label" for="check2"></label>
                        </div>
                        <label class="checkboxText" for="check2">Производитель 2</label>
                    </div>
                    
                    <div class="radio">
                        <div class="radioField">
                            <input type="radio" id="radio1" checked="checked" name="step1">
                            <label class="radioLabel" for="radio1"></label>
                        </div>
                        <label class="checkboxText" for="radio1">
                            <p class="title">Физическое лицо</p> 
                        </label>
                    </div>
                </div>


                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Цвет</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check1" name="sogl">
                        <label class="checkbox__label" for="check1"></label>
                    </div>
                    <label class="checkboxText" for="check1">Производитель 1</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check2" name="sogl">
                        <label class="checkbox__label" for="check2"></label>
                    </div>
                    <label class="checkboxText" for="check2">Производитель 2</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check3" name="sogl">
                        <label class="checkbox__label" for="check3"></label>
                    </div>
                    <label class="checkboxText" for="check3">Производитель 3</label>
                </div>
                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Цвет</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check1" name="sogl">
                        <label class="checkbox__label" for="check1"></label>
                    </div>
                    <label class="checkboxText" for="check1">Производитель 1</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check2" name="sogl">
                        <label class="checkbox__label" for="check2"></label>
                    </div>
                    <label class="checkboxText" for="check2">Производитель 2</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check3" name="sogl">
                        <label class="checkbox__label" for="check3"></label>
                    </div>
                    <label class="checkboxText" for="check3">Производитель 3</label>
                </div>
                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Цвет</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check1" name="sogl">
                        <label class="checkbox__label" for="check1"></label>
                    </div>
                    <label class="checkboxText" for="check1">Производитель 1</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check2" name="sogl">
                        <label class="checkbox__label" for="check2"></label>
                    </div>
                    <label class="checkboxText" for="check2">Производитель 2</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check3" name="sogl">
                        <label class="checkbox__label" for="check3"></label>
                    </div>
                    <label class="checkboxText" for="check3">Производитель 3</label>
                </div>
                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Камера</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check1" name="sogl">
                        <label class="checkbox__label" for="check1"></label>
                    </div>
                    <label class="checkboxText" for="check1">Производитель 1</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check2" name="sogl">
                        <label class="checkbox__label" for="check2"></label>
                    </div>
                    <label class="checkboxText" for="check2">Производитель 2</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check3" name="sogl">
                        <label class="checkbox__label" for="check3"></label>
                    </div>
                    <label class="checkboxText" for="check3">Производитель 3</label>
                </div>
                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="caption">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                </div>
                <div class="title">
                    <p>Диагональ экрана</p>
                </div>
            </div>   
            <div class="innerBlock">
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check1" name="sogl">
                        <label class="checkbox__label" for="check1"></label>
                    </div>
                    <label class="checkboxText" for="check1">Производитель 1</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check2" name="sogl">
                        <label class="checkbox__label" for="check2"></label>
                    </div>
                    <label class="checkboxText" for="check2">Производитель 2</label>
                </div>
                
                <div class="checkbox">
                    <div class="checkboxField">
                        <input type="checkbox" id="check3" name="sogl">
                        <label class="checkbox__label" for="check3"></label>
                    </div>
                    <label class="checkboxText" for="check3">Производитель 3</label>
                </div>
                <div class="btnMore">
                    <p>Еще</p>
                </div>
            </div>
        </div>

        <div class="btnWrap">
			<button type="button" id="set_filter" name="set_filter" class="btn border filterBtn">
				<span>Применить</span>
			</button>

			<button type="button" id="del_filter" name="del_filter" class="btn border filterBtn">
				<div class="icon">
					<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.89926 11.3137L4.94952 16.2635L6.36373 17.6777L11.3135 12.7279L16.2632 17.6777L17.6774 16.2635L12.7277 11.3137L17.6774 6.36396L16.2632 4.94975L11.3135 9.89949L6.36373 4.94975L4.94952 6.36396L9.89926 11.3137Z" fill="#FF695A"></path>
					</svg>                        
				</div>
				<span>Сбросить</span>
			</button>
			
		</div>

    </div>
</div>