<div class="ddSearch active">
    <form class="form">
        <div class="field">
            <input placeholder="Что будем искать?" type="text">
        </div>
        <div class="btnWrap">
            <button class="btn border">Поиск</button>
        </div>
    </form>
</div>