<div  class="dropDownMenu">
    <ul class="list">
        <li class="item">

            <a href="#" class="link">О компании</a>
            <div class="subMenu">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                    <div class="innerSubMenu">
                                        <ul class="list">
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="item">
                        <a href="#" class="link">link2</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="link">link3</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="item">
            <a href="#" class="link">Услуги</a>
            <div class="subMenu">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">link1link1link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </li>
        <li class="item">
            <a href="#" class="link">Новости</a>
        </li>
        <li class="item">
            <a href="#" class="link">Акции и скидки</a>
        </li>
        <li class="item">
            <a href="#" class="link">Прайс</a>
        </li>
        <li class="item">
            <a href="#" class="link">Наши проекты</a>
        </li>
        <li class="item">
            <a href="#" class="link">Контакты</a>
        </li>
    </ul>
</div>