</div> 
 <!-- END SITEBODY -->
   
   
   <footer class="footer">
      <div class="top">
        <div class="inner grid12">
            <div class="block x3  md6 sm12">
                <a href="#" class="footerLogo">
                    <svg width="183" height="28" viewBox="0 0 183 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.57685 23.115H20.5417V27.6257H0V0.374332H6.57685V23.115Z" fill="#2B2B2B"/>
                        <path d="M49.151 14.6176C49.151 17.3004 48.5956 19.6524 47.4849 21.6738C46.3741 23.6952 44.7811 25.2549 42.7057 26.3529C40.6449 27.451 38.2773 28 35.6027 28C32.9573 28 30.597 27.4572 28.5216 26.3717C26.4463 25.2861 24.8386 23.7389 23.6986 21.7299C22.5586 19.7086 21.9813 17.3877 21.9667 14.7674V13.4198C21.9667 10.7371 22.5294 8.37879 23.6547 6.34492C24.7947 4.29857 26.3951 2.73262 28.4558 1.64706C30.5312 0.54902 32.8989 0 35.5588 0C38.2188 0 40.5792 0.54902 42.6399 1.64706C44.7153 2.73262 46.3157 4.29857 47.441 6.34492C48.581 8.37879 49.151 10.7308 49.151 13.4011V14.6176ZM42.4865 13.3824C42.4865 10.525 41.8872 8.35383 40.6888 6.86898C39.4903 5.38414 37.7804 4.64171 35.5588 4.64171C33.3519 4.64171 31.6493 5.3779 30.4508 6.85027C29.2524 8.31016 28.6458 10.4563 28.6312 13.2888V14.6176C28.6312 17.4002 29.2305 19.5588 30.4289 21.0936C31.6273 22.6283 33.3519 23.3957 35.6027 23.3957C37.8096 23.3957 39.505 22.6595 40.6888 21.1872C41.8726 19.7023 42.4719 17.5437 42.4865 14.7112V13.3824Z" fill="#2B2B2B"/>
                        <path d="M79.1853 24.1818C78.0015 25.3922 76.328 26.3342 74.165 27.008C72.0019 27.6693 69.605 28 66.9743 28C64.212 28 61.7859 27.4884 59.6959 26.4652C57.6205 25.4296 56.0129 23.9323 54.8729 21.9733C53.7475 20.0143 53.1702 17.7121 53.141 15.0668V13.2139C53.141 10.4938 53.6744 8.14171 54.7413 6.15775C55.8229 4.16132 57.3721 2.63904 59.389 1.59091C61.4205 0.530303 63.7955 0 66.5139 0C70.2992 0 73.2588 0.773618 75.3926 2.32086C77.5265 3.85562 78.7907 6.09537 79.1853 9.04011H72.7838C72.4915 7.48039 71.8411 6.33868 70.8327 5.61497C69.8389 4.89127 68.465 4.52941 66.7112 4.52941C64.4751 4.52941 62.7724 5.24688 61.6032 6.68182C60.434 8.11676 59.842 10.2504 59.8274 13.0829V14.8235C59.8274 17.6809 60.4632 19.8396 61.7347 21.2995C63.0062 22.7594 64.8697 23.4893 67.325 23.4893C69.795 23.4893 71.5561 23.0401 72.6084 22.1417V17.4439H66.6235V13.3075H79.1853V24.1818Z" fill="#2B2B2B"/>
                        <path d="M110.754 14.6176C110.754 17.3004 110.199 19.6524 109.088 21.6738C107.977 23.6952 106.384 25.2549 104.309 26.3529C102.248 27.451 99.8805 28 97.2059 28C94.5605 28 92.2002 27.4572 90.1248 26.3717C88.0494 25.2861 86.4418 23.7389 85.3018 21.7299C84.1618 19.7086 83.5845 17.3877 83.5699 14.7674V13.4198C83.5699 10.7371 84.1326 8.37879 85.2579 6.34492C86.3979 4.29857 87.9983 2.73262 90.059 1.64706C92.1344 0.54902 94.5021 0 97.162 0C99.822 0 102.182 0.54902 104.243 1.64706C106.318 2.73262 107.919 4.29857 109.044 6.34492C110.184 8.37879 110.754 10.7308 110.754 13.4011V14.6176ZM104.09 13.3824C104.09 10.525 103.49 8.35383 102.292 6.86898C101.094 5.38414 99.3835 4.64171 97.162 4.64171C94.9551 4.64171 93.2525 5.3779 92.054 6.85027C90.8556 8.31016 90.249 10.4563 90.2344 13.2888V14.6176C90.2344 17.4002 90.8336 19.5588 92.0321 21.0936C93.2305 22.6283 94.9551 23.3957 97.2059 23.3957C99.4128 23.3957 101.108 22.6595 102.292 21.1872C103.476 19.7023 104.075 17.5437 104.09 14.7112V13.3824Z" fill="#2B2B2B"/>
                        <path d="M141 4.54813H131.223V27.2513H124.646V4.54813H115V0H141V4.54813Z" fill="#005FA3"/>
                        <path d="M151.765 27.2513H145.188V0H151.765V27.2513Z" fill="#005FA3"/>
                        <path d="M164.458 17.6497V27.2513H157.881V0H170.333C172.73 0 174.835 0.374332 176.647 1.12299C178.474 1.87166 179.877 2.9385 180.856 4.32353C181.835 5.69608 182.325 7.26203 182.325 9.02139C182.325 11.6916 181.251 13.8004 179.102 15.3476C176.969 16.8824 174.009 17.6497 170.224 17.6497H164.458ZM164.458 13.1016H170.333C172.072 13.1016 173.395 12.7522 174.301 12.0535C175.222 11.3547 175.682 10.3565 175.682 9.05882C175.682 7.72371 175.222 6.64439 174.301 5.82086C173.381 4.99733 172.109 4.57308 170.487 4.54813H164.458V13.1016Z" fill="#005FA3"/>
                    </svg>                        
                </a>

                <div class="location">
                    <div class="icon">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.4854 0C6.24158 0 2.78906 3.45252 2.78906 7.69636C2.78906 9.64588 4.01745 12.4003 6.44025 15.8833C8.21114 18.4293 9.95286 20.3995 10.0262 20.4822L10.4854 21L10.9448 20.4822C11.018 20.3995 12.7597 18.4293 14.5307 15.8833C16.9534 12.4003 18.1819 9.64588 18.1819 7.69636C18.1819 3.45252 14.7293 0 10.4854 0V0ZM13.5295 15.1723C12.3326 16.8943 11.1228 18.3763 10.4854 19.1323C9.84968 18.3784 8.64436 16.902 7.44818 15.1822C5.20338 11.9551 4.01681 9.36646 4.01681 7.69636C4.01681 4.1296 6.91866 1.22775 10.4854 1.22775C14.0523 1.22775 16.954 4.1296 16.954 7.69636C16.954 9.3647 15.7699 11.9498 13.5295 15.1723Z" fill="#005FA3"/>
                            <path d="M10.4857 2.84448C7.981 2.84448 5.94336 4.88213 5.94336 7.3868C5.94336 9.89148 7.981 11.9293 10.4857 11.9293C12.9905 11.9293 15.0282 9.89148 15.0282 7.3868C15.0282 4.88213 12.9905 2.84448 10.4857 2.84448V2.84448ZM10.4857 10.7015C8.65808 10.7015 7.1711 9.21456 7.1711 7.3868C7.1711 5.5592 8.65808 4.07223 10.4857 4.07223C12.3134 4.07223 13.8004 5.5592 13.8004 7.3868C13.8004 9.21456 12.3134 10.7015 10.4857 10.7015Z" fill="#005FA3"/>
                        </svg>                    
                    </div>
                    <div class="text">
                        <p>Москва, ул. Строителей,<br>
                            д. 57, офис 452</p>
                    </div>
                </div>
                
                <a href="tel:+780045454544" class="phone">
                    <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.6048 0H1.39524C0.627976 0 0 0.6378 0 1.4184V19.581C0 20.3616 0.627976 21 1.39524 21H10.6048C11.372 21 12 20.3628 12 19.5816V1.4184C12 0.6378 11.372 0 10.6048 0ZM4.52685 1.0224H7.47315C7.5664 1.0224 7.64194 1.0992 7.64194 1.1946C7.64194 1.2894 7.5664 1.3662 7.47315 1.3662H4.52685C4.4336 1.3662 4.35806 1.2894 4.35806 1.1946C4.35806 1.0992 4.4336 1.0224 4.52685 1.0224ZM6 20.2908C5.6146 20.2908 5.30238 19.9734 5.30238 19.581C5.30238 19.1886 5.6146 18.8718 6 18.8718C6.3854 18.8718 6.69762 19.1886 6.69762 19.581C6.69762 19.9734 6.3854 20.2908 6 20.2908ZM11.0291 18.375H0.970883V2.2494H11.0291V18.375Z" fill="#005FA3"/>
                    </svg>                                                     
                    <span>8 800 454 545 44</span>
                </a>

                <div class="btnWrap">
                    <a href="#" class="arrowBtn">
                        <span>Заказать звонок</span>
                        <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3536 4.05595C16.5488 3.86068 16.5488 3.5441 16.3536 3.34884L13.1716 0.166859C12.9763 -0.0284035 12.6597 -0.0284035 12.4645 0.166859C12.2692 0.362121 12.2692 0.678703 12.4645 0.873965L15.2929 3.70239L12.4645 6.53082C12.2692 6.72608 12.2692 7.04266 12.4645 7.23793C12.6597 7.43319 12.9763 7.43319 13.1716 7.23793L16.3536 4.05595ZM0 4.20239H16V3.20239H0V4.20239Z" fill="white"/>
                        </svg>                    
                    </a>
                </div>

                <a href="tel:+780045454544" class="mail">
                    <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.2156 0H3.79081C1.69977 0 0 1.7292 0 3.85644V20.1436C0 22.2708 1.69977 24 3.79081 24H27.2092C29.3002 24 31 22.2708 31 20.1436V3.86297C31.0064 1.73573 29.3066 0 27.2156 0ZM29.2746 20.1436C29.2746 21.2985 28.3509 22.2382 27.2156 22.2382H3.79081C2.65549 22.2382 1.73184 21.2985 1.73184 20.1436V3.86297C1.73184 2.70799 2.65549 1.76835 3.79081 1.76835H27.2092C28.3445 1.76835 29.2681 2.70799 29.2681 3.86297V20.1436H29.2746Z" fill="white"/>
                        <path d="M19.5507 11.7977L27.1323 4.88092C27.4851 4.55466 27.5171 4.00001 27.1964 3.63459C26.8757 3.2757 26.3305 3.24307 25.9713 3.56934L15.5161 13.1158L13.4764 11.2627C13.47 11.2561 13.4636 11.2496 13.4636 11.2431C13.4187 11.1974 13.3738 11.1582 13.3224 11.1191L5.02243 3.56281C4.66323 3.23655 4.11802 3.26917 3.79731 3.63459C3.4766 4.00001 3.50867 4.55466 3.86787 4.88092L11.5393 11.8565L3.89994 19.1321C3.55357 19.4649 3.53433 20.0196 3.86145 20.3785C4.03464 20.5612 4.26555 20.6591 4.49646 20.6591C4.70813 20.6591 4.9198 20.5808 5.08657 20.4242L12.8414 13.0441L14.9452 14.956C15.112 15.106 15.3173 15.1778 15.5225 15.1778C15.7278 15.1778 15.9395 15.0995 16.0998 14.9494L18.2614 12.9788L25.9713 20.4307C26.1381 20.5938 26.3562 20.6721 26.5678 20.6721C26.7987 20.6721 27.0232 20.5808 27.1964 20.3981C27.5236 20.0457 27.5107 19.4845 27.1644 19.1517L19.5507 11.7977Z" fill="white"/>
                    </svg>                                                                             
                    <span>order@domen.ru</span>
                </a>
            </div>

            <div class="block mobileHidden x3  md6">
                <div class="title">
                    <a href="#">Компания</a>
                </div>
                <div class="list">
                    <div class="item">
                        <a href="#">О компании</a>
                    </div>
                    <div class="item">
                        <a href="#">История</a>
                    </div>
                    <div class="item">
                        <a href="#">Сертификаты</a>
                    </div>
                    <div class="item">
                        <a href="#">Производители</a>
                    </div>
                    <div class="item">
                        <a href="#">Сотрудники</a>
                    </div>
                    <div class="item">
                        <a href="#">Отзывы</a>
                    </div>
                    <div class="item">
                        <a href="#">Вакансии</a>
                    </div>
                    <div class="item">
                        <a href="#">Реквизиты</a>
                    </div>
                </div>
            </div>

            <div class="block mobileHidden x3  md6">
                <div class="title">
                    <a href="#">Каталог</a>
                </div>
                <div class="list">
                    <div class="item">
                        <a href="#">Котельное оборудование</a>
                    </div>
                    <div class="item">
                        <a href="#">Очистка воды и водоподготовка</a>
                    </div>
                    <div class="item">
                        <a href="#">Автоматика и управление</a>
                    </div>
                    <div class="item">
                        <a href="#">Радиаторы</a>
                    </div>
                    <div class="item">
                        <a href="#">Насосы</a>
                    </div>
                    <div class="item">
                        <a href="#">Автономная канализация</a>
                    </div>
                    <div class="item">
                        <a href="#">Арматура и коллекторы</a>
                    </div>
                    <div class="item">
                        <a href="#">Баки и емкости</a>
                    </div>
                    <div class="item">
                        <a href="#">Электрооборудование</a>
                    </div>
                </div>
            </div>

            <div class="block mobileHidden x3  md6">
                <div class="title">
                    <a href="#">Услуги</a>
                </div>
                <div class="list">
                    <div class="item">
                        <a href="#">Автономная канализация</a>
                    </div>
                    <div class="item">
                        <a href="#">Водоснабжение</a>
                    </div>
                    <div class="item">
                        <a href="#">Вентиляция</a>
                    </div>
                    <div class="item">
                        <a href="#">Отопление</a>
                    </div>
                    <div class="item">
                        <a href="#">Электроснабжение</a>
                    </div>
                    <div class="item">
                        <a href="#">Умный дом</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="bottom">
        <div class="inner grid12">
            <div class="block x4 sm12">
                <div class="copyright">
                    <p>2021 (с) Все права защищены. </p>
                </div>
            </div>
            <div class="block x4 sm12">
                <div class="weAreWrap">
                    <div class="title">
                        <p>Разработано:</p>
                    </div>
                    <a href="#" class="weAre">MAXITOP</a>
                </div>
            </div>
            <div class="block x4 sm12">
                <% include ../includes/socialList %>
            </div>
        </div>
      </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//dev.unic.agency/libs/js/?modules=slider,scroll,modal"></script>