<header class="header">

    <!-- TOP HEADER START -->
    <div class="top">
        <div class="logoWrap">
            <a href="#" class="logo">
                <svg width="157" height="25" viewBox="0 0 157 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.66332 19.9043H17.6884V23.7885H0V0.322337H5.66332V19.9043Z" fill="#2B2B2B"/>
                    <path d="M42.3239 12.5872C42.3239 14.8973 41.8457 16.9227 40.8892 18.6633C39.9327 20.4039 38.5609 21.747 36.7738 22.6925C34.9993 23.638 32.9605 24.1108 30.6575 24.1108C28.3795 24.1108 26.347 23.6434 24.5599 22.7086C22.7729 21.7738 21.3885 20.4415 20.4068 18.7116C19.4252 16.971 18.9281 14.9725 18.9155 12.7162V11.5558C18.9155 9.24569 19.4 7.21497 20.3691 5.46361C21.3507 3.7015 22.7288 2.35306 24.5033 1.41828C26.2904 0.472761 28.3292 0 30.6197 0C32.9102 0 34.9427 0.472761 36.7172 1.41828C38.5043 2.35306 39.8824 3.7015 40.8514 5.46361C41.8331 7.21497 42.3239 9.24032 42.3239 11.5397V12.5872ZM36.5851 11.5235C36.5851 9.06303 36.0691 7.19348 35.0371 5.91488C34.0051 4.63628 32.5326 3.99698 30.6197 3.99698C28.7193 3.99698 27.2532 4.6309 26.2212 5.89876C25.1892 7.15588 24.6669 9.00394 24.6543 11.443V12.5872C24.6543 14.9833 25.1703 16.8421 26.2023 18.1637C27.2343 19.4853 28.7193 20.146 30.6575 20.146C32.5578 20.146 34.0177 19.5121 35.0371 18.2443C36.0565 16.9657 36.5725 15.1068 36.5851 12.6678V11.5235Z" fill="#2B2B2B"/>
                    <path d="M68.1864 20.823C67.167 21.8652 65.726 22.6764 63.8634 23.2566C62.0008 23.8261 59.9368 24.1108 57.6715 24.1108C55.2929 24.1108 53.2038 23.6703 51.4041 22.7892C49.617 21.8974 48.2326 20.6081 47.251 18.9212C46.2819 17.2343 45.7848 15.2519 45.7597 12.9741V11.3785C45.7597 9.03617 46.219 7.01082 47.1377 5.30244C48.069 3.58331 49.4031 2.27247 51.1398 1.36993C52.8892 0.456644 54.9342 0 57.2751 0C60.5346 0 63.0831 0.666163 64.9206 1.99849C66.758 3.32007 67.8466 5.24872 68.1864 7.78443H62.6741C62.4224 6.44136 61.8624 5.45824 60.994 4.83505C60.1382 4.21187 58.9552 3.90027 57.445 3.90027C55.5195 3.90027 54.0533 4.51809 53.0465 5.75371C52.0397 6.98934 51.53 8.82665 51.5174 11.2657V12.7645C51.5174 15.225 52.0648 17.0838 53.1597 18.341C54.2546 19.5981 55.8593 20.2266 57.9736 20.2266C60.1005 20.2266 61.617 19.8398 62.5231 19.0662V15.0209H57.3695V11.4591H68.1864V20.823Z" fill="#2B2B2B"/>
                    <path d="M95.3704 12.5872C95.3704 14.8973 94.8921 16.9227 93.9357 18.6633C92.9792 20.4039 91.6074 21.747 89.8203 22.6925C88.0458 23.638 86.007 24.1108 83.7039 24.1108C81.426 24.1108 79.3935 23.6434 77.6064 22.7086C75.8193 21.7738 74.435 20.4415 73.4533 18.7116C72.4717 16.971 71.9746 14.9725 71.962 12.7162V11.5558C71.962 9.24569 72.4465 7.21497 73.4156 5.46361C74.3972 3.7015 75.7753 2.35306 77.5498 1.41828C79.3369 0.472761 81.3757 0 83.6662 0C85.9567 0 87.9892 0.472761 89.7637 1.41828C91.5508 2.35306 92.9289 3.7015 93.8979 5.46361C94.8796 7.21497 95.3704 9.24032 95.3704 11.5397V12.5872ZM89.6315 11.5235C89.6315 9.06303 89.1156 7.19348 88.0836 5.91488C87.0516 4.63628 85.5791 3.99698 83.6662 3.99698C81.7658 3.99698 80.2996 4.6309 79.2677 5.89876C78.2357 7.15588 77.7134 9.00394 77.7008 11.443V12.5872C77.7008 14.9833 78.2168 16.8421 79.2488 18.1637C80.2808 19.4853 81.7658 20.146 83.7039 20.146C85.6043 20.146 87.0642 19.5121 88.0836 18.2443C89.103 16.9657 89.619 15.1068 89.6315 12.6678V11.5235Z" fill="#2B2B2B"/>
                    <path d="M121.415 3.91639H112.996V23.4661H107.333V3.91639H99.0264V0H121.415V3.91639Z" fill="#005FA3"/>
                    <path d="M130.684 23.4661H125.021V0H130.684V23.4661Z" fill="#005FA3"/>
                    <path d="M141.615 15.1982V23.4661H135.951V0H146.674C148.738 0 150.55 0.322337 152.111 0.96701C153.684 1.61168 154.892 2.53034 155.735 3.72299C156.578 4.90489 157 6.25333 157 7.76832C157 10.0677 156.075 11.8835 154.225 13.2158C152.387 14.5374 149.839 15.1982 146.579 15.1982H141.615ZM141.615 11.2818H146.674C148.171 11.2818 149.31 10.9809 150.091 10.3792C150.884 9.77755 151.28 8.91798 151.28 7.80055C151.28 6.65088 150.884 5.72148 150.091 5.01234C149.298 4.3032 148.203 3.93788 146.806 3.91639H141.615V11.2818Z" fill="#005FA3"/>
                </svg>                    
            </a>
            <div class="logoText">
                <p>Профессиональные инженерные системы и коммуникации</p>
            </div>
        </div>

        <div class="location">
            <div class="icon">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4854 0C6.24158 0 2.78906 3.45252 2.78906 7.69636C2.78906 9.64588 4.01745 12.4003 6.44025 15.8833C8.21114 18.4293 9.95286 20.3995 10.0262 20.4822L10.4854 21L10.9448 20.4822C11.018 20.3995 12.7597 18.4293 14.5307 15.8833C16.9534 12.4003 18.1819 9.64588 18.1819 7.69636C18.1819 3.45252 14.7293 0 10.4854 0V0ZM13.5295 15.1723C12.3326 16.8943 11.1228 18.3763 10.4854 19.1323C9.84968 18.3784 8.64436 16.902 7.44818 15.1822C5.20338 11.9551 4.01681 9.36646 4.01681 7.69636C4.01681 4.1296 6.91866 1.22775 10.4854 1.22775C14.0523 1.22775 16.954 4.1296 16.954 7.69636C16.954 9.3647 15.7699 11.9498 13.5295 15.1723Z" fill="#005FA3"/>
                    <path d="M10.4857 2.84448C7.981 2.84448 5.94336 4.88213 5.94336 7.3868C5.94336 9.89148 7.981 11.9293 10.4857 11.9293C12.9905 11.9293 15.0282 9.89148 15.0282 7.3868C15.0282 4.88213 12.9905 2.84448 10.4857 2.84448V2.84448ZM10.4857 10.7015C8.65808 10.7015 7.1711 9.21456 7.1711 7.3868C7.1711 5.5592 8.65808 4.07223 10.4857 4.07223C12.3134 4.07223 13.8004 5.5592 13.8004 7.3868C13.8004 9.21456 12.3134 10.7015 10.4857 10.7015Z" fill="#005FA3"/>
                </svg>                    
            </div>
            <div class="text">
                <p>Москва, ул. Строителей,<br>
                    д. 57, офис 452</p>
            </div>
        </div>
        
        <div class="phones">
            <div class="list">
                <div class="item">
                    <a href="tel:+780045454544" class="link">
                        <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.6048 0H1.39524C0.627976 0 0 0.6378 0 1.4184V19.581C0 20.3616 0.627976 21 1.39524 21H10.6048C11.372 21 12 20.3628 12 19.5816V1.4184C12 0.6378 11.372 0 10.6048 0ZM4.52685 1.0224H7.47315C7.5664 1.0224 7.64194 1.0992 7.64194 1.1946C7.64194 1.2894 7.5664 1.3662 7.47315 1.3662H4.52685C4.4336 1.3662 4.35806 1.2894 4.35806 1.1946C4.35806 1.0992 4.4336 1.0224 4.52685 1.0224ZM6 20.2908C5.6146 20.2908 5.30238 19.9734 5.30238 19.581C5.30238 19.1886 5.6146 18.8718 6 18.8718C6.3854 18.8718 6.69762 19.1886 6.69762 19.581C6.69762 19.9734 6.3854 20.2908 6 20.2908ZM11.0291 18.375H0.970883V2.2494H11.0291V18.375Z" fill="#005FA3"/>
                        </svg>                                                     
                        <span>8 800 454 545 44</span>
                    </a>
                </div>
            </div>
            <div class="workTime">
                <p>Пн-Вс: 10.00 - 19.00</p>
            </div>
        </div>

        <div class="btnWrap">
            <a href="#" class="btn border">Заказать звонок</a>
        </div>

        <div class="burger mobileMenuBurger">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>
    </div>
    <!-- TOP HEADER END -->


    <!-- BOTTOM HEADER START -->
    <div class="bottom">
        <% include ../includes/dropDownMenu %>

        <div class="searckBtn">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.8413 24.3094L18.2885 16.7566C19.7211 14.9881 20.5834 12.7397 20.5834 10.2917C20.5834 4.61689 15.9665 0 10.2917 0C4.61684 0 0 4.61689 0 10.2917C0 15.9665 4.61689 20.5834 10.2917 20.5834C12.7397 20.5834 14.9881 19.721 16.7566 18.2886L24.3095 25.8414C24.5211 26.0529 24.8639 26.0529 25.0755 25.8414L25.8414 25.0755C26.0529 24.8639 26.0529 24.521 25.8413 24.3094ZM10.2917 18.4167C5.81132 18.4167 2.16669 14.7721 2.16669 10.2917C2.16669 5.81132 5.81132 2.16669 10.2917 2.16669C14.7721 2.16669 18.4167 5.81132 18.4167 10.2917C18.4167 14.7721 14.7721 18.4167 10.2917 18.4167Z" fill="white"/>
            </svg>                
        </div>
    </div>
    <!-- BOTTOM HEADER END -->

</header>

<div class="siteBody">   <!-- SITEBODY START -->