<div class="paggination">

    <div class="pagList">
        <a href="#" class="pagItem">
            <p class="text">1</p>
        </a>
        <a href="#" class="pagItem active">
            <p class="text">2</p>
        </a>
        <a href="#" class="pagItem ">
            <p class="text">3</p>
        </a>
    </div>
    <div class="arrow left">
        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.56425 6.58292L8.33849 0.937721C8.5051 0.798883 8.5051 0.576218 8.33849 0.43738C8.17189 0.298542 7.90469 0.298542 7.73809 0.43738L0.662064 6.33406C0.495458 6.4729 0.495458 6.69557 0.662064 6.8344L7.73809 12.7285C7.81982 12.7966 7.92984 12.8333 8.03672 12.8333C8.1436 12.8333 8.25362 12.7992 8.33535 12.7285C8.50196 12.5896 8.50196 12.367 8.33535 12.2281L1.56425 6.58292Z" fill="white"/>
        </svg>                
       </div>
       <div class="arrow right">
        <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.43575 6.58358L0.661507 12.2288C0.494901 12.3676 0.494901 12.5903 0.661507 12.7291C0.828112 12.868 1.09531 12.868 1.26191 12.7291L8.33794 6.83244C8.50454 6.6936 8.50454 6.47094 8.33794 6.3321L1.26191 0.438036C1.18018 0.369927 1.07016 0.333252 0.963281 0.333252C0.856402 0.333252 0.746379 0.367307 0.664648 0.438036C0.498043 0.576874 0.498043 0.799538 0.664648 0.938376L7.43575 6.58358Z" fill="#005FA3"/>
        </svg>                
    </div>
</div> 