<div class="select" id="elBlock">
        <div class="selectTitle" id="elToggle">
            <p>selectTitle</p>
        </div>
        <div class="selectList">
            <div class="selectItem">
                <p class="selectText">select 1</p>
            </div>
            <div class="selectItem">
                 <p class="selectText">select 2</p>
             </div>
             <div class="selectItem">
                 <p class="selectText">select 3</p>
             </div>
        </div>
    </div>