<div class="stickyHeader">
    <div class="logoWrap">
        <a href="#" class="logo">
            <svg viewBox="0 0 233 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.004 10.322H2.584V33H7.004V23.344L7.514 22.834L15.572 33H21.42L11.322 20.794L20.91 10.322H15.334L7.004 19.91V10.322ZM21.4883 40.786H26.1803L38.0463 18.278H33.3543L29.2743 26.642L24.7183 18.278H19.8903L26.8943 30.79L21.4883 40.786ZM51.8532 8.52C51.5132 9.574 50.6632 10.118 48.4872 10.56C46.5152 10.968 43.7612 11.546 41.8572 14.164C40.7692 15.66 39.6132 18.448 39.6132 24.092C39.6132 26.2 39.8172 29.328 42.2652 31.538C44.1692 33.272 46.5492 33.476 48.1472 33.476C50.4932 33.476 52.3632 32.898 53.9952 31.402C55.1852 30.314 56.4772 28.444 56.4772 25.588C56.4772 22.46 55.0152 20.658 54.1992 19.876C52.7712 18.482 50.9012 17.802 48.6912 17.802C46.8552 17.802 44.6452 18.38 43.5232 19.808H43.4552C43.5572 18.244 44.2372 16.85 45.1212 16.034C46.3112 14.912 48.0452 14.64 49.3032 14.266L50.8332 13.824C51.7512 13.552 54.9812 12.566 55.6612 8.52H51.8532ZM48.0452 29.804C45.5972 29.804 43.8972 27.968 43.8972 25.656C43.8972 23.31 45.5632 21.474 48.0452 21.474C50.5272 21.474 52.1932 23.31 52.1932 25.656C52.1932 27.968 50.4932 29.804 48.0452 29.804ZM70.967 20.182C69.573 18.006 67.363 17.802 66.241 17.802C61.889 17.802 58.931 21.27 58.931 25.622C58.931 29.94 61.923 33.476 66.445 33.476C67.499 33.476 69.471 33.238 70.967 31.096V33H75.115V18.278H70.967V20.182ZM67.295 21.474C69.675 21.474 71.375 23.276 71.375 25.622C71.375 27.968 69.675 29.804 67.295 29.804C64.915 29.804 63.215 27.968 63.215 25.622C63.215 23.276 64.915 21.474 67.295 21.474ZM79.0697 33H83.2177V27.016H88.9977V33H93.1457V18.278H88.9977V23.48H83.2177V18.278H79.0697V33ZM97.099 18.278V33H104.681C105.667 33 106.891 32.864 107.979 31.912C108.693 31.3 109.543 30.11 109.543 28.172C109.543 26.71 109.067 25.69 108.421 25.01C107.401 23.888 105.769 23.514 104.477 23.514H101.247V18.278H97.099ZM101.247 29.736V26.778H103.287C103.661 26.778 104.273 26.812 104.715 27.118C104.987 27.288 105.259 27.628 105.259 28.172C105.259 28.75 104.987 29.158 104.715 29.362C104.273 29.702 103.627 29.736 103.185 29.736H101.247ZM112.134 27.084H120.974V23.276H112.134V27.084ZM125.27 10.322V33H129.69V14.13H138.802V33H143.222V10.322H125.27ZM159.055 20.182C157.661 18.006 155.451 17.802 154.329 17.802C149.977 17.802 147.019 21.27 147.019 25.622C147.019 29.94 150.011 33.476 154.533 33.476C155.587 33.476 157.559 33.238 159.055 31.096V33H163.203V18.278H159.055V20.182ZM155.383 21.474C157.763 21.474 159.463 23.276 159.463 25.622C159.463 27.968 157.763 29.804 155.383 29.804C153.003 29.804 151.303 27.968 151.303 25.622C151.303 23.276 153.003 21.474 155.383 21.474ZM171.306 31.096C172.938 33.306 175.012 33.476 176.032 33.476C178.208 33.476 179.908 32.626 181.03 31.572C181.88 30.756 183.342 28.954 183.342 25.622C183.342 22.698 182.22 20.862 181.132 19.774C179.466 18.108 177.392 17.802 176.1 17.802C173.38 17.802 171.952 19.264 171.306 20.182V18.278H167.158V40.786H171.306V31.096ZM174.978 21.474C175.964 21.474 177.052 21.848 177.8 22.528C178.616 23.31 179.058 24.534 179.058 25.622C179.058 26.71 178.65 27.934 177.766 28.75C177.222 29.26 176.338 29.804 174.978 29.804C173.686 29.804 172.802 29.294 172.258 28.818C171.442 28.104 170.898 26.982 170.898 25.622C170.898 24.262 171.374 23.242 172.292 22.46C173.04 21.78 173.89 21.474 174.978 21.474ZM186.548 18.278V33H190.696V27.526L191.308 26.914L196.408 33H201.712L194.708 24.84L201.372 18.278H196.204L190.696 23.99V18.278H186.548ZM214.19 28.274C213.51 29.464 212.32 30.212 210.756 30.212C209.158 30.212 208.24 29.43 207.798 28.818C207.322 28.172 207.084 27.22 207.084 26.336H218.1V25.996C218.1 24.398 217.896 22.086 216.332 20.216C215.312 18.992 213.578 17.802 210.586 17.802C208.818 17.802 206.778 18.176 205.044 19.876C203.99 20.93 202.8 22.732 202.8 25.656C202.8 27.968 203.48 29.872 205.112 31.402C206.574 32.796 208.376 33.476 210.756 33.476C215.89 33.476 217.556 29.974 217.998 28.886L214.19 28.274ZM207.22 23.684C207.56 21.712 209.158 20.726 210.688 20.726C212.218 20.726 213.85 21.678 214.19 23.684H207.22ZM231.852 21.814V18.278H219.544V21.814H223.624V33H227.772V21.814H231.852Z" fill="#393735"/>
                <path d="M2.641 56L3.895 47.184L8.151 56.532L12.464 47.184L13.661 56H15.105L13.129 42.605L8.17 53.321L3.306 42.624L1.197 56H2.641ZM23.5463 49.236C23.1853 48.761 22.3683 47.925 20.8483 47.925C18.8343 47.925 17.0103 49.331 17.0103 52.048C17.0103 54.822 18.8533 56.228 20.8483 56.228C22.2353 56.228 23.0903 55.487 23.5463 54.898V56H24.9143V48.115H23.5463V49.236ZM21.0003 49.141C22.2163 49.141 23.6223 50.034 23.6223 52.067C23.6223 53.625 22.6723 55.012 21.0003 55.012C19.3663 55.012 18.4163 53.739 18.4163 52.048C18.4163 50.129 19.6513 49.141 21.0003 49.141ZM27.3153 56H28.6833V49.369H31.9893V48.115H27.3153V56ZM39.2161 49.236C38.8551 48.761 38.0381 47.925 36.5181 47.925C34.5041 47.925 32.6801 49.331 32.6801 52.048C32.6801 54.822 34.5231 56.228 36.5181 56.228C37.9051 56.228 38.7601 55.487 39.2161 54.898V56H40.5841V48.115H39.2161V49.236ZM36.6701 49.141C37.8861 49.141 39.2921 50.034 39.2921 52.067C39.2921 53.625 38.3421 55.012 36.6701 55.012C35.0361 55.012 34.0861 53.739 34.0861 52.048C34.0861 50.129 35.3211 49.141 36.6701 49.141ZM44.0111 50.129C44.2011 49.787 44.4481 49.578 44.6571 49.445C45.0561 49.198 45.4361 49.141 45.7401 49.141C45.9871 49.141 46.4241 49.141 46.7471 49.426C46.9561 49.597 47.0891 49.901 47.0891 50.243C47.0891 50.604 46.8801 50.832 46.6711 50.965C46.5571 51.041 46.2721 51.174 45.6451 51.174H44.9801V52.428H45.7781C46.1391 52.428 46.6711 52.428 47.0701 52.694C47.3361 52.865 47.5451 53.169 47.5451 53.606C47.5451 54.176 47.2601 54.537 46.9941 54.708C46.5761 54.993 45.9681 55.012 45.6641 55.012C45.2461 55.012 44.8091 54.936 44.3721 54.613C43.9351 54.29 43.7451 53.91 43.6691 53.72L42.4911 54.214C42.7191 54.708 43.0801 55.221 43.5361 55.563C44.2011 56.076 44.9421 56.228 45.6451 56.228C46.5001 56.228 47.3171 56.038 47.8871 55.62C48.5331 55.145 48.9131 54.404 48.9131 53.587C48.9131 52.979 48.6851 52.485 48.3621 52.143C48.1721 51.934 47.8491 51.725 47.4501 51.63C47.8491 51.383 48.3431 50.908 48.3431 49.977C48.3431 49.426 48.1721 48.913 47.6591 48.476C47.0701 47.982 46.4241 47.925 45.7971 47.925C45.2841 47.925 44.6761 48.001 44.0681 48.362C43.6881 48.59 43.3271 48.97 43.0611 49.35L44.0111 50.129ZM50.8107 48.115V56.551L56.2067 50.737V56H57.5747V47.507L52.1787 53.321V48.115H50.8107ZM59.9723 56H61.3403V52.599H65.0643V56H66.4323V48.115H65.0643V51.345H61.3403V48.115H59.9723V56ZM73.063 56H74.431V52.599H78.155V56H79.523V48.115H78.155V51.345H74.431V48.115H73.063V56ZM87.9511 49.236C87.5901 48.761 86.7731 47.925 85.2531 47.925C83.2391 47.925 81.4151 49.331 81.4151 52.048C81.4151 54.822 83.2581 56.228 85.2531 56.228C86.6401 56.228 87.4951 55.487 87.9511 54.898V56H89.3192V48.115H87.9511V49.236ZM85.4051 49.141C86.6211 49.141 88.0271 50.034 88.0271 52.067C88.0271 53.625 87.0771 55.012 85.4051 55.012C83.7711 55.012 82.8211 53.739 82.8211 52.048C82.8211 50.129 84.0561 49.141 85.4051 49.141ZM91.7201 48.115V56H93.0881V49.369H96.6981V56H98.0661V48.115H91.7201ZM104.141 56.228C106.535 56.228 108.321 54.48 108.321 52.086C108.321 49.692 106.554 47.925 104.141 47.925C101.728 47.925 99.9609 49.692 99.9609 52.086C99.9609 54.48 101.747 56.228 104.141 56.228ZM104.141 49.141C105.585 49.141 106.915 50.148 106.915 52.086C106.915 54.005 105.566 55.012 104.141 55.012C102.735 55.012 101.367 54.024 101.367 52.086C101.367 50.167 102.697 49.141 104.141 49.141ZM116.195 48.115H110.647V52.922C110.647 53.397 110.628 53.891 110.381 54.271C110.229 54.518 109.906 54.784 109.393 54.784C109.298 54.784 109.184 54.765 109.089 54.746V56C109.222 56.019 109.374 56.038 109.507 56.038C110.571 56.038 111.16 55.506 111.407 55.202C112.015 54.461 112.015 53.587 112.015 52.922V49.369H114.827V56H116.195V48.115ZM118.593 56H121.348C122.127 56 122.982 55.981 123.666 55.335C124.008 55.012 124.369 54.423 124.369 53.568C124.369 52.77 124.065 52.219 123.761 51.915C123.058 51.193 122.07 51.136 121.367 51.136H119.961V48.115H118.593V56ZM119.961 54.784V52.352H121.253C121.69 52.352 122.127 52.352 122.469 52.58C122.868 52.827 122.963 53.226 122.963 53.568C122.963 54.176 122.621 54.461 122.45 54.575C122.127 54.765 121.69 54.784 121.234 54.784H119.961ZM126.01 56H127.378V52.599H131.102V56H132.47V48.115H131.102V51.345H127.378V48.115H126.01V56ZM134.856 56H137.611C138.39 56 139.245 55.981 139.929 55.335C140.271 55.012 140.632 54.423 140.632 53.568C140.632 52.77 140.328 52.219 140.024 51.915C139.321 51.193 138.333 51.136 137.63 51.136H136.224V48.115H134.856V56ZM136.224 54.784V52.352H137.516C137.953 52.352 138.39 52.352 138.732 52.58C139.131 52.827 139.226 53.226 139.226 53.568C139.226 54.176 138.884 54.461 138.713 54.575C138.39 54.765 137.953 54.784 137.497 54.784H136.224ZM141.582 56H142.95V48.115H141.582V56ZM144.195 56H145.867L148.356 52.789L150.845 56H152.517L149.249 51.801L152.137 48.115H150.465L148.394 50.794L146.361 48.115H144.689L147.558 51.782L144.195 56ZM158.018 48.115V56H159.386V49.369H162.996V56H164.364V48.115H158.018ZM170.438 56.228C172.832 56.228 174.618 54.48 174.618 52.086C174.618 49.692 172.851 47.925 170.438 47.925C168.025 47.925 166.258 49.692 166.258 52.086C166.258 54.48 168.044 56.228 170.438 56.228ZM170.438 49.141C171.882 49.141 173.212 50.148 173.212 52.086C173.212 54.005 171.863 55.012 170.438 55.012C169.032 55.012 167.664 54.024 167.664 52.086C167.664 50.167 168.994 49.141 170.438 49.141ZM176.526 48.115V56H177.894V52.941L178.312 52.542L181.39 56H183.176L179.338 51.63L182.758 48.115H181.086L177.894 51.345V48.115H176.526ZM185.72 54.898C186.309 55.658 187.202 56.228 188.475 56.228C190.869 56.228 192.256 54.271 192.256 52.105C192.256 49.977 190.888 47.925 188.418 47.925C187.848 47.925 186.651 48.058 185.72 49.217V48.115H184.352V60.37H185.72V54.898ZM188.285 55.012C186.67 55.012 185.644 53.701 185.644 52.086C185.644 50.186 186.993 49.141 188.266 49.141C189.539 49.141 190.85 50.167 190.85 52.105C190.85 53.682 189.881 55.012 188.285 55.012ZM194.163 56H196.918C197.697 56 198.552 55.981 199.236 55.335C199.578 55.012 199.939 54.423 199.939 53.568C199.939 52.77 199.635 52.219 199.331 51.915C198.628 51.193 197.64 51.136 196.937 51.136H195.531V48.115H194.163V56ZM195.531 54.784V52.352H196.823C197.26 52.352 197.697 52.352 198.039 52.58C198.438 52.827 198.533 53.226 198.533 53.568C198.533 54.176 198.191 54.461 198.02 54.575C197.697 54.765 197.26 54.784 196.804 54.784H195.531ZM200.889 56H202.257V48.115H200.889V56ZM209.81 49.369V48.115H203.502V49.369H205.972V56H207.34V49.369H209.81ZM211.057 48.115V56.551L216.453 50.737V56H217.821V47.507L212.425 53.321V48.115H211.057ZM220.219 48.115V56.551L225.615 50.737V56H226.983V47.507L221.587 53.321V48.115H220.219ZM220.903 44.714C221.302 45.835 222.328 46.557 223.658 46.557C224.988 46.557 226.014 45.835 226.413 44.714L225.273 44.277C225.083 44.923 224.551 45.417 223.658 45.417C222.765 45.417 222.233 44.923 222.043 44.277L220.903 44.714Z" fill="#393735"/>
            </svg>        
        </a>
    </div>

<div  class="dropDownMenu">
    <ul class="list">
        <li class="item catalogBtn">
            <a href="#" class="link">Каталог товаров</a>
            <div class="burger">
                <div class="line l1"></div>
                <div class="line l2"></div>
                <div class="line l3"></div>
            </div>
            <div class="subMenu">
                <ul class="list">
                    <li class="item border">
                        <a href="#" class="link">link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                    <div class="innerSubMenu">
                                        <ul class="list">
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="item">
                        <a href="#" class="link">link2</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="link">link3</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </li>
    </ul>
</div>

<div class="phones">
    <a href="tel:+79282683171" class="phones__item">
        <span>8 (928) 268-31-71</span>
    </a>
    <a href="tel:+79882422255" class="phones__item">
        <span>8 (988) 242-22-55</span>
    </a>
</div>

<a href="#" class="btn gray">Заказ звонка</a>

<div class="elements">
    <a href="#" class="cart">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.57712 16.4371H25.08L28 6.01426H23.7028L22.1599 1.24853L15.7257 3.33426L16.6057 6.01426H16.3028L14.7143 1.24853L8.27998 3.33426L9.15996 6.01426H5.71997L5.00571 3.15711C4.64569 1.72854 3.39998 0.717133 1.96569 0.717133H0V1.9114H1.96569C2.8571 1.9114 3.63424 2.50568 3.87427 3.40285L7.03427 15.7685C6.38284 16.2371 5.95428 17.0028 5.95428 17.8771C5.95428 19.3057 7.14855 20.5 8.57712 20.5H24.6628V19.3057H8.57712C7.79998 19.3057 7.14855 18.6486 7.14855 17.8771C7.14859 17.0943 7.8057 16.4371 8.57712 16.4371ZM21.3886 2.73427L22.4628 5.95143H17.8172L17.16 4.10573L21.3886 2.73427ZM13.9428 2.73427L15.0171 5.95143H10.3714L9.71427 4.10573L13.9428 2.73427ZM26.4514 7.1457L24.1886 15.2486H8.10283L6.01711 7.14574L26.4514 7.1457Z" fill="#393735"/>
            <path d="M19.4228 22.2771C18.0514 22.2771 16.9199 23.4086 16.9199 24.78C16.9199 26.1514 18.0514 27.2828 19.4228 27.2828C20.8513 27.2828 21.9256 26.1514 21.9256 24.78C21.9257 23.4086 20.7942 22.2771 19.4228 22.2771ZM19.4228 26.1514C18.6456 26.1514 18.0514 25.4943 18.0514 24.78C18.0514 24.0028 18.7085 23.4086 19.4228 23.4086C20.1999 23.4086 20.7942 24.0028 20.7942 24.78C20.7942 25.5571 20.1371 26.1514 19.4228 26.1514Z" fill="#393735"/>
            <path d="M10.2455 22.2771C8.87411 22.2771 7.74268 23.4086 7.74268 24.78C7.74268 26.1514 8.87411 27.2828 10.2455 27.2828C11.617 27.2828 12.7484 26.1514 12.7484 24.78C12.7484 23.4086 11.617 22.2771 10.2455 22.2771ZM10.2455 26.1514C9.46839 26.1514 8.87411 25.4943 8.87411 24.78C8.87411 24.0028 9.53127 23.4086 10.2455 23.4086C10.9598 23.4086 11.617 24.0028 11.617 24.78C11.617 25.5571 10.9598 26.1514 10.2455 26.1514Z" fill="#393735"/>
        </svg> 
        <div class="cartText">
            <div class="quantity">
                <p>2</p>
            </div>
        </div>
    </a>
</div>

<div class="burger mobileMenuBurger">
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
</div>

</div>
