
<a href="#" class="itemImg">
    <img src="assets/img/catalog-page-img.png" alt="">
</a>

<a href="#" class="itemTitle">
    <p>Настенный проточный котел Termica Grata, двухконтурный, 23.5 кВт.</p>
</a>
<div class="itemPrice">
    <div class="oldPrice">
        <p>73 675 руб.</p>
    </div>
    <div class="newPrice">
        <p>63 675 руб.</p>
    </div>
</div>
<div class="tagList">
    <div style="background-color: red;" class="tagItem">
        <p>-20%</p>
    </div>
    <div style="background-color: blue;" class="tagItem">
        <p>-10%</p>
    </div>
    <div style="background-color: green;" class="tagItem">
        <p>-50%</p>
    </div>
</div>

<div class="controlsList">
    <div class="controlsItem cardLike">
        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.1977 6.01215L23.1994 6.03019L23.2025 6.04806C23.2181 6.13935 23.3267 6.87185 23.0146 8.10714L23.0146 8.1073C22.5654 9.88754 21.5257 11.5175 19.993 12.8172C19.9926 12.8175 19.9921 12.8179 19.9917 12.8183L12.1673 19.3465L4.47514 12.8181L4.47485 12.8178C2.94156 11.5185 1.90128 9.88768 1.45203 8.10727L1.45201 8.10717C1.13985 6.87111 1.24869 6.13898 1.26433 6.04903L1.26756 6.03045L1.26938 6.01167C1.58219 2.78734 4.00439 0.5 6.99582 0.5C8.96896 0.5 10.7237 1.48617 11.7458 3.12192L12.1652 3.79309L12.5912 3.12611C13.621 1.51387 15.4572 0.500414 17.4708 0.500414C20.4626 0.500414 22.8844 2.78773 23.1977 6.01215Z" stroke="black"/>
        </svg>
    </div>
    <div class="controlsItem cardComparison">
        <div class="icon">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>
 
    </div>
</div>

<div class="bottom">
    <div class="counter">
        <div class="counterBtn">
            <div class="line l1"></div>
            <div class="line l2"></div>
        </div>
        <div class="counterInput">
            <input type="number" value="1">
        </div>
        <div class="counterBtn">
            <div class="line l1"></div>
        </div>
    </div>
    <button class="btn border">Купить</button>
</div>


    