.phones {
    margin-right: var(--indentB2);
    .list {
        display: flex;
        justify-content: flex-end;
        .item {
            margin-right: 2vw;
            .link {
                display: flex;
                align-items: center;
                @extend %underlineWhite;
                svg,img {
                    margin-right: 12px;
                    path {
                        fill: var(--primary);
                    }
                }
                span {
                    color: var(--titleColor);
                    font-size: rem(23);
                    font-weight: 700;
                    transition: color .3s;
                    @media screen and (max-width: $sm) {
                       font-size: rem(16);
                      }
                }
                &:hover {
                    span {
                        color: var(--primary);
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .workTime {
        text-align: right;
        @media screen and (max-width: $xs) {
           display: none;
          }
        p {
            color: var(--textGray);
            font-size: rem(16);
        }
    }
}