.checkOut {
    
    .form {
        display: flex;
        @media screen and (max-width: $md) {
            flex-wrap: wrap;
        }
    }
    .left {
        width: 70%;
        @media screen and (max-width: $md) {
            width: 100%;
         }
    }
    .right {
        width: 30%;
        padding-left: 30px;
        @media screen and (max-width: $md) {
            width: 100%;
            padding: 0;
            margin-bottom: 24px;
         }
    }
    .step {
        padding: 32px;
        border: 1px solid var(--border);
        margin-bottom: 24px;
        @media screen and (max-width: $sm) {
            grid-gap: 24px 8px;
        }
        .top {
            .titleWrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                @media screen and (max-width: $sm) {
                   margin-bottom: 16px;
                  }
                  .icon {
                       margin-right: 12px;
                  }
                .title {
                    font-size: rem(20);
                    font-weight: 700;
                    color: var(--text);
                    margin-bottom: 0px;
                }
            }
            .subTitle {
                font-size: rem(14);
                font-weight: 400;
                color: var(--textGray);
            }
            .change {
                a, p, span {
                    color: var(--text);
                   font-size: rem(14); 
                   @extend %underlineBlack;
                }
            }
        }
        .field {
            margin-bottom: 12px;
        }
        .block {
            padding: 20px;
            border: 1px solid var(--border);
            transition: box-shadow .3s;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            min-height: 110px;
            .radio {
                align-items: flex-start;
                .radioField {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    input[type="radio"] {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        &+label {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translate(0,0);
                            border-radius: 2px;
                            border: 3px solid var(--primary);
                            border-color: rgba(0,0,0,0);
                            &:before {
                                content: none;
                            }
                            &:after {
                                content: none;
                            }
                            .title {
                                font-size: rem(20);
                                font-weight: 700;
                                transition: .3s;
                            }
                        }
                        &:checked {
            
                            &+label {
                                border-color: var(--primary);
                                .title {
                                    color: var(--primary);
                                }
                            }
                          }
                    }
                }

            }
            &:hover {
                @extend %boxShadow;
                .checkboxText {
                    .title {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
            &:checked {
        
                &+label {
                  &:after {
                    opacity: 1;
                  }
                }
              }
        }
        .bottom {
            @extend %between;
        }
        &.half {
            width: 50%;
            @media screen and (max-width: 1100px) {
                width: 100%;
            }
        }
    }
    .sticky {
        border: 1px solid var(--border);
        position: sticky;
        padding: 20px;
        top: 50px;
        .top {
            padding-bottom: 12px;
            margin-bottom: 16px;
            .title {
                
                p {
                    font-size: rem(24);
                    font-weight: 700;
                }
            }
        }
       
        .product {
            border-bottom: 1px solid var(--border);
            padding-bottom: 12px;
            margin-bottom: 16px;
            .top {
                display: flex;
                align-items: center;
                margin-bottom: 0;
                padding-bottom: 0;
                .imgWrap {
                    margin-right: 12px;
                    img {
                        max-width: 50px;
                        max-height: 70px;
                    }
                }
                .title {
                    border: none;
                    p {
                        font-size: rem(14);
                        font-weight: 700;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
              .textWrap {
                .price {
                    p {
                        font-weight: 700;
                        font-size: rem(14);
                    }
                }
                .quantity {
                    p {
                        font-size: rem(14);
                    }
                }
              }
              .cross {
                cursor: pointer;
              }
            }
        }
        .bottom {

            .line {
                @extend %between;
                margin-bottom: 8px;
                .title {
                    font-size: rem(16);
                }
                .quantity {
                    font-size: rem(16);
                    font-weight: 700;
                }
            }
        }
        .btnWrap {
            .btn {
                width: 100%;
            }
        }
    } 
}