h1 {
    font-size: rem(32);
    font-weight: 700;
    color: var(--text);
}
h2 {
    font-size: rem(28);
    font-weight: 700;
    color: var(--text);
}
h3 {
    font-size: rem(24);
    font-weight: 700;
    color: var(--text);
}

.titleWrap {
    margin-bottom: 32px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @media screen and (max-width: $sm) {
        flex-direction: column;
      }
    .title {
        max-width: 75%;
        @media screen and (max-width: $sm) {
            max-width: 100%;
            margin-bottom: 24px;
          }
        p {
            font-size: rem(32);
            font-weight: 700;
            line-height: 1;
        }
        &.white {
            p {
                color: #fff;
            }
        }
    }
}
.btnMore {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 24px;
    @media screen and (max-width: $sm) {
        align-self: flex-end;
    }
    .text {
        min-height: 24px;
        padding-right: 12px;
        padding-left: 12px;
        display: flex;
        align-items: center;
        overflow: hidden;
        @extend %fill;
        p {
            position: relative;
            z-index: 2;
            color: #000;
            font-size: rem(16);
            transition: color .3s;
            margin-bottom: 0;
        }
    }
    .icon {
        width: 24px;
        height: 24px;
        position: relative;
        background-color: var(--primary);
        border-radius: 0 2px 2px 0;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-top: 2px solid#fff;
            border-right: 2px solid#fff;
            width: 7px;
            height: 7px;
            transform: translate(-70%, -50%) rotate(45deg);
        }
    }
    &:hover {
        .text {
            &:before {
                transform: translateX(0);
            }
            p {
                color: #fff;
            }
        }
    }
}