</div> 
 <!-- END SITEBODY -->
   
   
   <footer class="footer">
        <div class="top grid5">
            <div class="list">
                <div class="title">
                    <p>Cмартфоны</p>
                </div>
                <div class="item">
                    <a href="#" class="link">Apple</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Samsung</a>
                </div>
            </div>

            <div class="list">
                <div class="title">
                    <p>Ноутбуки и планшеты</p>
                </div>
                <div class="item">
                    <a href="#" class="link">Apple</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Samsung</a>
                </div>

            </div>

            <div class="list">
                <div class="title">
                    <p>Умные часы и браслеты</p>
                </div>
                <div class="item">
                    <a href="#" class="link">Apple</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Samsung</a>
                </div>
            </div>

            <div class="list">
                <div class="title">
                    <p>Колонки и наушники</p>
                </div>
                <div class="item">
                    <a href="#" class="link">Apple</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Samsung</a>
                </div>
            </div>

            <div class="list">
                <div class="title">
                    <p>Аксессуары и прочее</p>
                </div>
                <div class="item">
                    <a href="#" class="link">Apple</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Samsung</a>
                </div>
            </div>
        </div>

        <div class="middle grid12">
            <div class="block x4">
                <form class="form">
                    <div class="field">
                        <input type="text">
                        <label>Электронная почта</label>
                    </div>
        
                    <div class="checkbox" data-stagger>
                        <div class="checkboxField">
                            <input type="checkbox" id="check1" name="sogl" >
                            <label class="checkbox__label" for="check1"></label>
                        </div>
                        <label class="checkboxText" for="check1">Я выражаю согласие с <a href="/soglasie/" target="_blank">Политикой конфиденциальности</a></label>
                    </div>
        

                    <div class="btnWrap">
                        <button class="btn full">Подписаться</button>
                    </div>
        
                </form>
            </div>

            <div class="block between x3">
                <div class="list">
                    <div class="item">
                        <a href="#" class="link">Акции</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Статус заказа</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Вакансии</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Контакты</a>
                    </div>
                </div>
                <button class="btn full">Сервисный центр </button>
            </div>

            <div class="block x3">
                <div class="list">
                    <div class="item">
                        <a href="#" class="link">Оплата и доставка</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Гарантия и возврат</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Trade-in</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Кредит и рассрочка</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Новости</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Обзоры</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Бонусная программа</a>
                    </div>
                </div>
            </div>

            <div class="block x2">
                <div class="phone">
                    <a href="tel:+78000000000">+7(800)000-00-00</a>
                </div>
                <div class="backCall">
                    <a href="#" class="btn underline">Заказать звонок</a>
                </div>
                <% include ../includes/socialList %>
            </div>
            <hr class="x12"></hr>
        </div>
        <div class="bottom">
            <p class="copyright"> © ООО «CMstore», 2019</p>
            <a target="_blank" href="http://maxi-top.ru/" class="maxiTop">Продвижение — <span>MAXITOP</span></a>
            <a target="_blank" href="https://unic.agency/" class="uniq">Разработка — <span>UNIC</span></a>
        </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//dev.unic.agency/libs/js/?modules=slider,scroll,modal"></script>