<header class="header">

    <!-- TOP HEADER START -->
    <div class="top">
        <a href="#" class="logo">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12.5" cy="12.5" r="12.5" fill="#0500FF"/>
                <path d="M7.39062 11.4355L7.75195 7.89062H11.3945V8.72559H8.51855L8.30371 10.6641C8.65202 10.459 9.04753 10.3564 9.49023 10.3564C10.138 10.3564 10.6523 10.5713 11.0332 11.001C11.4141 11.4274 11.6045 12.0052 11.6045 12.7344C11.6045 13.4668 11.4059 14.0446 11.0088 14.4678C10.6149 14.8877 10.0632 15.0977 9.35352 15.0977C8.72526 15.0977 8.21257 14.9235 7.81543 14.5752C7.41829 14.2269 7.19206 13.7451 7.13672 13.1299H7.99121C8.04655 13.5368 8.19141 13.8444 8.42578 14.0527C8.66016 14.2578 8.9694 14.3604 9.35352 14.3604C9.77344 14.3604 10.1022 14.2171 10.3398 13.9307C10.5807 13.6442 10.7012 13.2487 10.7012 12.7441C10.7012 12.2689 10.571 11.888 10.3105 11.6016C10.0534 11.3118 9.70996 11.167 9.28027 11.167C8.88639 11.167 8.57715 11.2533 8.35254 11.4258L8.11328 11.6211L7.39062 11.4355ZM16.4043 12.6123H17.3906V13.3496H16.4043V15H15.4961V13.3496H12.2588V12.8174L15.4424 7.89062H16.4043V12.6123ZM13.2842 12.6123H15.4961V9.12598L15.3887 9.32129L13.2842 12.6123Z" fill="white"/>
            </svg>        
        </a>

        <div class="topMenu">
            <div class="list">
                <div class="item">
                    <a href="#" class="link">link1</a>
                </div>
                <div class="item">
                    <a href="#" class="link">link2</a>
                </div>
                <div class="item">
                    <a href="#" class="link">link3</a>
                </div>
            </div>
        </div>
        
        <div class="phones">
            <div class="list">
                <div class="item">
                    <a href="tel:+78000000000" class="link">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M19 9.25558C19 14.3669 14.8242 18.5105 9.67193 18.5105C8.03691 18.5105 6.50103 18.0923 5.16402 17.36L0 19L1.68334 14.033C0.834545 12.639 0.345714 11.0021 0.345714 9.25496C0.346333 4.14361 4.52092 0 9.67317 0C14.8248 0.00123912 19 4.14423 19 9.25558ZM9.67131 1.47579C5.34741 1.47579 1.83018 4.96638 1.83018 9.25744C1.83018 10.96 2.3853 12.5361 3.32393 13.8186L2.34503 16.7076L5.35732 15.7504C6.59644 16.5633 8.07904 17.0366 9.67131 17.0366C13.9952 17.0366 17.5137 13.5466 17.5137 9.25558C17.5149 4.96638 13.9958 1.47579 9.67131 1.47579ZM14.3824 11.3875C14.3242 11.2939 14.1718 11.2369 13.9438 11.1229C13.7164 11.0089 12.5907 10.4606 12.3819 10.3863C12.1712 10.3101 12.0188 10.2717 11.8664 10.499C11.7159 10.7264 11.2772 11.2369 11.1428 11.3893C11.0096 11.5411 10.8764 11.5603 10.6477 11.4482C10.4191 11.333 9.68184 11.0951 8.80826 10.3225C8.12861 9.72025 7.66951 8.97864 7.53693 8.75126C7.40248 8.52451 7.5233 8.40183 7.63668 8.28907C7.73891 8.18685 7.8653 8.0239 7.97991 7.8907C8.09453 7.75873 8.13233 7.66518 8.20853 7.51339C8.2835 7.36159 8.2457 7.22963 8.18932 7.11501C8.13233 7.00101 7.67571 5.88581 7.48427 5.43167C7.29406 4.97815 7.10386 5.05312 6.97003 5.05312C6.83683 5.05312 6.68442 5.03453 6.53201 5.03453C6.37959 5.03453 6.13177 5.08967 5.92298 5.31705C5.71419 5.54443 5.12313 6.09274 5.12313 7.20918C5.12313 8.32687 5.94157 9.40428 6.05618 9.55545C6.17142 9.706 7.63854 12.0721 9.9625 12.9804C12.2877 13.888 12.2877 13.5851 12.7065 13.5466C13.1266 13.5082 14.0596 12.9983 14.2492 12.4692C14.4401 11.9377 14.4401 11.4823 14.3824 11.3875Z" fill="white"/>
                        </svg>
                        <span>+78000000000</span>
                    </a>
                </div>
                <div class="item">
                    <a href="tel:+78000000000" class="link">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M19 9.25558C19 14.3669 14.8242 18.5105 9.67193 18.5105C8.03691 18.5105 6.50103 18.0923 5.16402 17.36L0 19L1.68334 14.033C0.834545 12.639 0.345714 11.0021 0.345714 9.25496C0.346333 4.14361 4.52092 0 9.67317 0C14.8248 0.00123912 19 4.14423 19 9.25558ZM9.67131 1.47579C5.34741 1.47579 1.83018 4.96638 1.83018 9.25744C1.83018 10.96 2.3853 12.5361 3.32393 13.8186L2.34503 16.7076L5.35732 15.7504C6.59644 16.5633 8.07904 17.0366 9.67131 17.0366C13.9952 17.0366 17.5137 13.5466 17.5137 9.25558C17.5149 4.96638 13.9958 1.47579 9.67131 1.47579ZM14.3824 11.3875C14.3242 11.2939 14.1718 11.2369 13.9438 11.1229C13.7164 11.0089 12.5907 10.4606 12.3819 10.3863C12.1712 10.3101 12.0188 10.2717 11.8664 10.499C11.7159 10.7264 11.2772 11.2369 11.1428 11.3893C11.0096 11.5411 10.8764 11.5603 10.6477 11.4482C10.4191 11.333 9.68184 11.0951 8.80826 10.3225C8.12861 9.72025 7.66951 8.97864 7.53693 8.75126C7.40248 8.52451 7.5233 8.40183 7.63668 8.28907C7.73891 8.18685 7.8653 8.0239 7.97991 7.8907C8.09453 7.75873 8.13233 7.66518 8.20853 7.51339C8.2835 7.36159 8.2457 7.22963 8.18932 7.11501C8.13233 7.00101 7.67571 5.88581 7.48427 5.43167C7.29406 4.97815 7.10386 5.05312 6.97003 5.05312C6.83683 5.05312 6.68442 5.03453 6.53201 5.03453C6.37959 5.03453 6.13177 5.08967 5.92298 5.31705C5.71419 5.54443 5.12313 6.09274 5.12313 7.20918C5.12313 8.32687 5.94157 9.40428 6.05618 9.55545C6.17142 9.706 7.63854 12.0721 9.9625 12.9804C12.2877 13.888 12.2877 13.5851 12.7065 13.5466C13.1266 13.5082 14.0596 12.9983 14.2492 12.4692C14.4401 11.9377 14.4401 11.4823 14.3824 11.3875Z" fill="white"/>
                        </svg>
                        <span>+78000000000</span>
                    </a>
                </div>
            </div>
        </div>

        <a href="#" class="callBack">Заказать звонок</a>

        <div class="authorization">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 0.5C9.81271 0.5 11.6875 2.37479 11.6875 4.6875C11.6875 7.00021 9.81271 8.875 7.5 8.875C5.18729 8.875 3.3125 7.00021 3.3125 4.6875C3.3125 2.37479 5.18729 0.5 7.5 0.5ZM4.1221 9.79738C5.92775 10.9869 8.60651 11.3088 10.8786 9.79755L12.7484 10.265C13.7778 10.5223 14.5 11.4473 14.5 12.5084V13.5938C14.5 14.0943 14.0943 14.5 13.5938 14.5H1.40625C0.905732 14.5 0.5 14.0943 0.5 13.5938V12.5084C0.5 11.4473 1.2222 10.5223 2.25165 10.265L4.1221 9.79738Z" stroke="white"/>
            </svg> 
            <p class="text">admin</p>    
        </div>

        <div class="burger mobileMenuBurger">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>
    </div>
    <!-- TOP HEADER END -->

    <!-- MIDDLE HEADER START -->
    <div class="middle">

        <div class="searchForm">
            <input type="text">
            <button class="searchButton">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.8286 13.0057L10.4629 9.64C11.2971 8.62286 11.8 7.32 11.8 5.9C11.8 2.64286 9.15714 0 5.9 0C2.64 0 0 2.64286 0 5.9C0 9.15714 2.64 11.8 5.9 11.8C7.32 11.8 8.62 11.3 9.63714 10.4657L13.0029 13.8286C13.2314 14.0571 13.6 14.0571 13.8286 13.8286C14.0571 13.6029 14.0571 13.2314 13.8286 13.0057ZM5.9 10.6257C3.29143 10.6257 1.17143 8.50571 1.17143 5.9C1.17143 3.29429 3.29143 1.17143 5.9 1.17143C8.50571 1.17143 10.6286 3.29429 10.6286 5.9C10.6286 8.50571 8.50571 10.6257 5.9 10.6257Z" fill="black"/>
                </svg> 
            </button>
        </div>
        
        <div class="elements">
            <a href="#" class="comparison">
                <div class="icon">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                    <div class="line l3"></div>
                </div>
                <div class="quantity">
                    <p>5</p>
                </div>
            </a>
            
            <a href="#" class="like">
                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.1228 7.21538L25.1248 7.23737L25.1283 7.25919C25.1457 7.36766 25.2675 8.2455 24.9177 9.72606L24.9176 9.72626C24.4143 11.8596 23.2504 13.807 21.5418 15.3563C21.5412 15.3569 21.5405 15.3575 21.5399 15.358L12.8329 23.1256L4.27312 15.3578L4.27275 15.3575C2.5632 13.8085 1.39866 11.86 0.895118 9.72623L0.89509 9.72611C0.545181 8.24461 0.667275 7.36722 0.684646 7.26039L0.688335 7.2377L0.690413 7.2148C1.0426 3.33332 3.75669 0.65 7.02837 0.65C9.19138 0.65 11.1336 1.80508 12.2739 3.75632L12.829 4.70611L13.3931 3.7617C14.5414 1.83957 16.5746 0.650496 18.7844 0.650496C22.0565 0.650496 24.7702 3.33379 25.1228 7.21538Z" stroke="black" stroke-width="1.3"/>
                </svg>
                <div class="quantity">
                    <p>0</p>
                </div>  
            </a>

            <a href="#" class="cart">
                <svg width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.8958 3.25363C24.7917 3.15197 24.6875 3.05026 24.4792 3.05026H4.6875L4.16665 0.406692C4.16665 0.203322 3.85415 8.37547e-09 3.6458 8.37547e-09H0.520801C0.20835 -4.76527e-05 0 0.203322 0 0.508353C0 0.813384 0.20835 1.01675 0.52085 1.01675H3.2292L5.7292 13.4214C6.0417 15.0482 7.6042 16.2683 9.27085 16.2683H21.25C21.5625 16.2683 21.7708 16.0649 21.7708 15.7599C21.7708 15.4549 21.5625 15.2515 21.25 15.2515H9.375C8.54165 15.2515 7.70835 14.8448 7.29165 14.133L22.5 12.0995C22.7083 12.0995 22.9167 11.8962 22.9167 11.6928L25 3.55866C25 3.55866 25 3.35529 24.8958 3.25363ZM21.9792 11.1844L6.7708 13.1163L4.8958 3.96535H23.75L21.9792 11.1844Z"  fill="black"/>
                    <path d="M8.85378 17.2847C7.39548 17.2847 6.24963 18.4031 6.24963 19.8266C6.24963 21.2501 7.39548 22.3685 8.85378 22.3685C10.3121 22.3685 11.4579 21.25 11.4579 19.8266C11.458 18.4031 10.3121 17.2847 8.85378 17.2847ZM8.85378 21.3517C8.02043 21.3517 7.29128 20.64 7.29128 19.8266C7.29128 19.0132 8.02043 18.3014 8.85378 18.3014C9.68713 18.3014 10.4163 19.0132 10.4163 19.8266C10.4163 20.64 9.68713 21.3517 8.85378 21.3517Z" fill="black"/>
                    <path d="M19.2709 17.2847C17.8125 17.2847 16.6667 18.4031 16.6667 19.8266C16.6667 21.2501 17.8126 22.3685 19.2709 22.3685C20.7292 22.3685 21.875 21.25 21.875 19.8266C21.875 18.4031 20.7292 17.2847 19.2709 17.2847ZM19.2709 21.3517C18.4375 21.3517 17.7084 20.64 17.7084 19.8266C17.7084 19.0132 18.4375 18.3014 19.2709 18.3014C20.1042 18.3014 20.8334 19.0132 20.8334 19.8266C20.8334 20.64 20.1042 21.3517 19.2709 21.3517Z" fill="black"/>
                </svg>
                <div class="cartText">
                    <div class="quantity">
                        <p>2 товара</p>
                    </div>
                    <div class="summ">
                        <p>26 000 руб.</p>
                    </div>
                </div>
                
            </a>
        </div>
       
        
    </div>
    <!-- MIDDLE HEADER END -->

    <!-- BOTTOM HEADER START -->
    <div class="bottom">
        <% include ../includes/dropDownMenu %>
    </div>
    <!-- BOTTOM HEADER END -->

</header>

<div class="siteBody">   <!-- SITEBODY START -->