<div class="paggination">
    <a href="#" class="arrow left">
        <p>Предыдущая</p>
    </a>
    <div class="list">
        <a href="#" class="item">
            <p class="text">1</p>
        </a>
        <a href="#" class="item">
            <p class="text">2</p>
        </a>
        <a href="#" class="item active">
            <p class="text">3</p>
        </a>
        <a href="#" class="item">
            <p class="text">4</p>
        </a>
        <a href="#" class="item">
            <p class="text">5</p>
        </a>
        <a href="#" class="item">
            <p class="text">...</p>
        </a>
        <a href="#" class="item">
            <p class="text">99</p>
        </a>
    </div>
    <a href="#" class="arrow right">
        <p>Следующая</p>
    </a>
</div> 