

<article class="backCall">
    <div class="bcBg">
        <img src="assets/img/backCallBg.png" alt="">
    </div>
    <div class="inner grid12">
        <div class="content x7 sm12">
            <div class="titleWrap white">
                <div class="subTitle">
                    <p>Обратная связь</p>
                </div>
                <div class="title">
                    <p>У вас есть вопросы?</p>
                </div>
                <div class="underTitle">
                    <p>Оставьте свой номер телефона,  и наш юрист свяжется с Вами!</p>
                </div>
            </div>
            <div class="subTitle">
                <p>Вы сможете узнать:</p>
            </div>
            <ul>
                <li>- Стоимость услуги</li>
                <li>- Условия сотрудничества и предоставляемые гарантии</li>
                <li>- Примеры похожих дел с положительными решениями</li>
            </ul>
        </div>
        <div class="formWrap x5 sm12">
            <div class="title">
                <p>Получите бесплатную консультацию юриста</p>
            </div>
            <form class="form">
				<div class="field white">
					<input type="text">
					<label>Ваше имя</label>
				</div>
	
				<div class="field white">
					<input type="text" class="phone">
					<label>Ваш телефон</label>
				</div>

				<div class="checkbox white">
					<div class="checkboxField">
						<input type="checkbox" id="check1" name="sogl" >
						<label class="checkbox__label" for="check1"></label>
					</div>
					<label class="checkboxText" for="check1">Согласен на <a href="/soglasie/" target="_blank">обработку персональных данных</a></label>
				</div>
	

				<div class="btnWrap">
					<button class="btn border">Получить консультацию</button>
				</div>
	
			</form>
        </div>
    </div>
</article>