<section class="breadcrumbs">
    <div class="list">
        <div class="item">
            <a href="#" class="link">Каталог</a>
            <svg class="icon" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 1L3.5 4.03648L0.5 7" stroke="black"/>
            </svg>
        </div>
        <div class="item">
            <a href="#" class="link">Категория</a>
            <svg class="icon" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 1L3.5 4.03648L0.5 7" stroke="black"/>
            </svg>
        </div>
        <div class="item">
            <a href="#" class="link">Подкатегория</a>
            <svg class="icon" width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 1L3.5 4.03648L0.5 7" stroke="black"/>
            </svg>
        </div>
    </div>
</section>