<section>
        <div class="tabs">
            <div class="tabNavs">
                <div class="tabPill">
                    <p>Описание</p>
                </div>
                <div class="tabPill active">
                    <p>Характеристики</p>
                </div>
                <div class="tabPill">
                    <p>обзор</p>
                </div>
                <div class="tabPill">
                    <p>Отзывы</p>
                </div>
                <div class="tabPill">
                    <p>Сопутствующие товары</p>
                </div>
            </div>
            <div class="tabContent">
                <div class="tabPane">
                    
                </div>
            </div>
        </div>
        
    </section>