
<article class="command">
    <div class="titleWrap">
        <div class="subTitle">
            <p>Профессионалы</p>
        </div>
        <div class="title">
            <p>Наша команда</p>
        </div>
    </div>
    <div class="sliderWrap">
        <div class="arrows">
            <div class="arrow left"></div>
            <div class="arrow right"></div>
        </div>
        <div class="list grid12">  
            <div class="itemWrap x3">
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/img/commandImg3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <p>Иванов Иван Иванович</p>
                        </div>
                        <div class="text">
                        <p><b>Специализация:</b> Название специализации </p>
                        <p><b>Достижения:</b> Перечислены достижения через запятую, может быть в две или три строчки</p>
                        <p><b>Опыт:</b> 5 лет</p>
                        <p><b>Выиграно дел:</b> 254</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="itemWrap x3">
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/img/commandImg1.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <p>Иванов Иван Иванович</p>
                        </div>
                        <div class="text">
                        <p><b>Специализация:</b> Название специализации </p>
                        <p><b>Достижения:</b> Перечислены достижения через запятую, может быть в две или три строчки</p>
                        <p><b>Опыт:</b> 5 лет</p>
                        <p><b>Выиграно дел:</b> 254</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="itemWrap x3">
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/img/commandImg2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <p>Иванов Иван Иванович</p>
                        </div>
                        <div class="text">
                        <p><b>Специализация:</b> Название специализации </p>
                        <p><b>Достижения:</b> Перечислены достижения через запятую, может быть в две или три строчки</p>
                        <p><b>Опыт:</b> 5 лет</p>
                        <p><b>Выиграно дел:</b> 254</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="itemWrap x3">
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/img/commandImg3.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <p>Иванов Иван Иванович</p>
                        </div>
                        <div class="text">
                        <p><b>Специализация:</b> Название специализации </p>
                        <p><b>Достижения:</b> Перечислены достижения через запятую, может быть в две или три строчки</p>
                        <p><b>Опыт:</b> 5 лет</p>
                        <p><b>Выиграно дел:</b> 254</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="itemWrap x3">
                <div class="item">
                    <div class="imgWrap">
                        <img src="assets/img/commandImg4.png" alt="">
                    </div>
                    <div class="content">
                        <div class="title">
                            <p>Иванов Иван Иванович</p>
                        </div>
                        <div class="text">
                        <p><b>Специализация:</b> Название специализации </p>
                        <p><b>Достижения:</b> Перечислены достижения через запятую, может быть в две или три строчки</p>
                        <p><b>Опыт:</b> 5 лет</p>
                        <p><b>Выиграно дел:</b> 254</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>