<div  class="dropDownMenu">
    <ul class="list">
        <li class="item firstItem">
            <div class="burger">
                <div class="line l1"></div>
                <div class="line l2"></div>
                <div class="line l3"></div>
            </div>
            <a href="#" class="link">Услуги</a>
            <div class="subMenu">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                    <div class="innerSubMenu">
                                        <ul class="list">
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="item">
                        <a href="#" class="link">link2</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="link">link3</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="item">
            <a href="#" class="link">Онлайн услуги</a>
        </li>
        <li class="item">
            <a href="#" class="link">О компании</a>
        </li>
        <li class="item">
            <a href="#" class="link">Тарифы</a>
        </li>
        <li class="item">
            <a href="#" class="link">Практика</a>
        </li>
        <li class="item">
            <a href="#" class="link">Отзывы</a>
        </li>
        <li class="item">
            <a href="#" class="link">События</a>
        </li>
        <li class="item">
            <a href="#" class="link">Оплата</a>
        </li>
        <li class="item">
            <a href="#" class="link">Контакты</a>
        </li>
    </ul>
</div>