

</div> 
<!-- END SITEBODY -->
  
  
  <footer class="footer">
       <div class="top">
           <div class="left">
            <div class="footerMenu">
                <div class="list">
                    <div class="item">
                        <a href="#" class="link">Услуги</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">О компании</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Тарифы</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Практика</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Отзывы</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">События</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Услуги нлайн</a>
                    </div>
                    <div class="item">
                        <a href="#" class="link">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="footerAdress">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
                <div class="text">
                    <p>107078, г. Москва, ул. Садовая-Черногрязская, дом 8,<br> строение 1, этаж 1, помещение 10.</p>
                </div>
            </div>
           </div>
           <div class="right">
                <div class="phone">
                    <a href="tel:+79150622211">+7 (915) 062-22-11</a>
                </div>
                <div class="bcBtn">
                    <a href="#">Связаться с нами</a>
                </div>
                <div class="mail">
                    <a href="mailto:info@dvdv.me​">info@dvdv.me​</a>
                </div>
                <% include ../includes/socialList %>
           </div>
       </div>
       <div class="bottom">
           <div class="left">
            <p class="copyright">© Все права защищены, 2020</p>
            <a href="#" class="politics">Политика конфиденциальности</a>
           </div>
         <div class="right">
            <a target="_blank" href="http://maxi-top.ru/" class="maxiTop">Продвижение — <span>MAXITOP</span></a>
            <a target="_blank" href="https://unic.agency/" class="uniq">Разработка — <span>UNIC</span></a>
         </div>
       </div>
   </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//dev.unic.agency/libs/js/?modules=slider,scroll,modal"></script>