<header class="header">

    <!-- TOP HEADER START -->
    <div class="top">
      
        <div class="adress">
            <p>г. Москва, ул. Садовая-Черногрязская, дом 8</p>
        </div>

        <div class="workTime">
            <p>Пн - Пт: 9:00 - 18:00 по Мск</p>
        </div>

        <% include ../includes/socialList%>

        <a href="mailto:info@dvdv.me" class="mail">info@dvdv.me</a>

    </div>
    <!-- TOP HEADER END -->


    <!-- BOTTOM HEADER START -->
    <div class="bottom">
       <div class="logoWrap">
        <a href="#" class="logo">
            <img src="assets/img/logo.png" alt="">   
        </a>
       </div>
        <% include ../includes/dropDownMenu %>
        <div class="phones">
            <div class="list">
                <div class="item">
                    <a href="tel:+79150622211" class="link">
                        <span>+7 (915) 062-22-11</span>
                    </a>
                </div>
            </div>
           <a href="#" class="callBack">Обратный звонок</a>
        </div>
        <div class="burger mobileMenuBurger">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>
    </div>
    <!-- BOTTOM HEADER END -->

</header>

<div class="siteBody">   <!-- SITEBODY START -->