<div class="mobileMenu mobileMenuWrap">
    <div class="mmTop">
        <a href="#" class="icon">
            <img src="assets/img/logo.png" alt="">   
        </a>
        <div class="cross">
            <div class="line l1"></div>
            <div class="line l2"></div>
        </div>
    </div>
    <div class="mmBody">

            <div class="list">

                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                    <% include ../includes/mobileMenuItem %>
                
            </div>
             
        <div class="mmBottom">
            <div class="adress">
                <p>г. Москва,<br> ул. Садовая-Черногрязская,<br> дом 8</p>
                <p>Пн - Пт: 9:00 - 18:00 по Мск</p>
            </div>
            <a href="tel:+78000000000" class="link">+7 800 000 00 00</a>
            <a href="mailto:text@test.ru" class="link">text@test.ru</a>
        </div>
    </div>
</div>