<div class="paggination">
    <a href="#" class="arrow left">
    </a>
    <div class="list">
        <a href="#" class="item active">
            <p class="text">1</p>
        </a>
        <a href="#" class="item">
            <p class="text">2</p>
        </a>
        <a href="#" class="item">
            <p class="text">3</p>
        </a>
    </div>
    <a href="#" class="arrow right">
    </a>
</div> 