<div class="socialList">
    <div class="socialItem">
        <a href="" class="socialLink">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32 32V0H0V32H13.7031V18.8242H10.7832V15.5H13.7031V12.9664C13.7031 10.0847 15.4191 8.49219 18.0471 8.49219C19.3049 8.49219 20.6211 8.7168 20.6211 8.7168V11.5469H19.1701C17.7416 11.5469 17.2969 12.4341 17.2969 13.3437V15.5H20.4863L19.9765 18.8242H17.2969V32H32Z" fill="#AC946B"/>
            </svg>                    
        </a>
    </div>
    <div class="socialItem">
        <a href="" class="socialLink">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V32H32V0H0ZM13.4716 9.40376C14.1258 9.37398 14.3349 9.3667 16.0006 9.3667H15.9987C17.6649 9.3667 17.8732 9.37398 18.5274 9.40376C19.1804 9.43366 19.6263 9.53703 20.0173 9.6887C20.4211 9.84523 20.7623 10.0548 21.1034 10.396C21.4446 10.7369 21.6542 11.0791 21.8113 11.4825C21.9621 11.8724 22.0656 12.3181 22.0963 12.9711C22.1257 13.6253 22.1333 13.8344 22.1333 15.5001C22.1333 17.1658 22.1257 17.3744 22.0963 18.0286C22.0656 18.6813 21.9621 19.1271 21.8113 19.5172C21.6542 19.9205 21.4446 20.2627 21.1034 20.6036C20.7627 20.9448 20.421 21.1548 20.0177 21.3115C19.6275 21.4632 19.1813 21.5665 18.5283 21.5964C17.8741 21.6262 17.6657 21.6335 15.9998 21.6335C14.3342 21.6335 14.1253 21.6262 13.4711 21.5964C12.8182 21.5665 12.3724 21.4632 11.9822 21.3115C11.579 21.1548 11.2369 20.9448 10.8961 20.6036C10.555 20.2627 10.3455 19.9205 10.1887 19.5171C10.0371 19.1271 9.93376 18.6814 9.90373 18.0285C9.87409 17.3742 9.86668 17.1658 9.86668 15.5001C9.86668 13.8344 9.87434 13.6252 9.9036 12.971C9.93299 12.3183 10.0365 11.8724 10.1886 11.4823C10.3457 11.0791 10.5553 10.7369 10.8964 10.396C11.2374 10.0549 11.5796 9.84536 11.983 9.6887C12.3729 9.53703 12.8186 9.43366 13.4716 9.40376Z" fill="#AC946B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4505 10.472C15.5574 10.4718 15.6723 10.4719 15.7963 10.4719L16.0008 10.472C17.6384 10.472 17.8325 10.4779 18.4792 10.5073C19.0772 10.5346 19.4017 10.6345 19.6179 10.7185C19.9042 10.8296 20.1082 10.9625 20.3228 11.1772C20.5374 11.3919 20.6703 11.5963 20.7817 11.8825C20.8657 12.0985 20.9658 12.4231 20.993 13.0211C21.0224 13.6676 21.0287 13.8618 21.0287 15.4987C21.0287 17.1355 21.0224 17.3298 20.993 17.9763C20.9656 18.5743 20.8657 18.8989 20.7817 19.1148C20.6706 19.4011 20.5374 19.6049 20.3228 19.8194C20.1081 20.0341 19.9043 20.167 19.6179 20.2781C19.402 20.3625 19.0772 20.4621 18.4792 20.4895C17.8326 20.5189 17.6384 20.5253 16.0008 20.5253C14.363 20.5253 14.1689 20.5189 13.5224 20.4895C12.9244 20.4619 12.5998 20.362 12.3835 20.278C12.0972 20.1668 11.8928 20.034 11.6781 19.8193C11.4635 19.6046 11.3306 19.4007 11.2191 19.1143C11.1352 18.8984 11.0351 18.5738 11.0079 17.9758C10.9785 17.3293 10.9727 17.135 10.9727 15.4972C10.9727 13.8593 10.9785 13.6661 11.0079 13.0195C11.0353 12.4215 11.1352 12.097 11.2191 11.8808C11.3303 11.5945 11.4635 11.3901 11.6781 11.1754C11.8928 10.9607 12.0972 10.8279 12.3835 10.7164C12.5997 10.6321 12.9244 10.5324 13.5224 10.505C14.0882 10.4794 14.3074 10.4717 15.4505 10.4705V10.472ZM19.2747 11.4905C18.8684 11.4905 18.5387 11.8198 18.5387 12.2262C18.5387 12.6326 18.8684 12.9622 19.2747 12.9622C19.6811 12.9622 20.0107 12.6326 20.0107 12.2262C20.0107 11.8199 19.6811 11.4902 19.2747 11.4902V11.4905ZM12.851 15.5001C12.851 13.7607 14.2612 12.3504 16.0006 12.3503C17.7401 12.3503 19.15 13.7606 19.15 15.5001C19.15 17.2396 17.7402 18.6492 16.0008 18.6492C14.2613 18.6492 12.851 17.2396 12.851 15.5001Z" fill="#AC946B"/>
                <path d="M16.0005 13.4556C17.1296 13.4556 18.045 14.3708 18.045 15.5C18.045 16.6291 17.1296 17.5445 16.0005 17.5445C14.8713 17.5445 13.9561 16.6291 13.9561 15.5C13.9561 14.3708 14.8713 13.4556 16.0005 13.4556V13.4556Z" fill="#AC946B"/>
            </svg>                         
        </a>
    </div>
    <div class="socialItem">
        <a href="" class="socialLink">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M16.5 6.91414e-06C10.1836 6.91414e-06 0 0 0 0L5.06639e-06 32.0001H32V4.17233e-05C32 4.17233e-05 22.8164 6.91414e-06 16.5 6.91414e-06ZM23.69 20.3591L23.1549 20.8941C22.3979 21.6511 20.657 21.5911 19.5384 21.3751C15.8188 20.6567 11.4823 16.4534 10.6459 12.8133C10.2318 11.0101 10.4605 9.4424 11.0585 8.8442L11.5935 8.30917C11.8888 8.01402 12.3686 8.01437 12.6636 8.30917L14.804 10.4498C14.9469 10.5926 15.0251 10.782 15.0251 10.9847C15.0251 11.1873 14.9469 11.3768 14.804 11.5192L14.2692 12.0547C13.6796 12.6457 13.6796 13.6057 14.2692 14.1953L17.8038 17.6835C18.3951 18.2748 19.3522 18.2755 19.9444 17.6835L20.4795 17.1486C20.7557 16.8708 21.2716 16.8699 21.55 17.1486L23.69 19.2885C23.9806 19.5779 23.9916 20.0573 23.69 20.3591Z" fill="#AC946B"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
            </svg>                     
        </a>
    </div>
    <div class="socialItem">
        <a href="" class="socialLink">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L2.82377e-06 32H32V0H0ZM17.3028 21.6388C17.145 21.811 16.837 21.8458 16.837 21.8458H15.8169C15.8169 21.8458 13.5665 21.9833 11.584 19.8855C9.42206 17.5967 7.51303 13.0557 7.51303 13.0557C7.51303 13.0557 7.40284 12.7578 7.52221 12.6144C7.6566 12.4523 8.02305 12.4421 8.02305 12.4421L10.4613 12.426C10.4613 12.426 10.6909 12.4642 10.8553 12.5872C10.9914 12.6891 11.0673 12.8783 11.0673 12.8783C11.0673 12.8783 11.4613 13.8916 11.983 14.8081C13.0022 16.5979 13.4763 16.9891 13.8219 16.7973C14.3261 16.5181 14.175 14.2675 14.175 14.2675C14.175 14.2675 14.1842 13.4511 13.9213 13.0871C13.7176 12.8053 13.3336 12.723 13.1642 12.7001C13.0264 12.6814 13.2518 12.3573 13.544 12.2121C13.983 11.994 14.7577 11.9813 15.6734 11.9906C16.3871 11.9983 16.5924 12.0433 16.8712 12.112C17.5183 12.2707 17.4981 12.7795 17.4545 13.8774C17.4414 14.2058 17.4263 14.5869 17.4263 15.0271C17.4263 15.126 17.4235 15.2314 17.4205 15.3399C17.4054 15.9024 17.3881 16.5465 17.7527 16.7863C17.9397 16.9085 18.3963 16.8041 19.539 14.8319C20.0807 13.8967 20.4864 12.7977 20.4864 12.7977C20.4864 12.7977 20.5757 12.6017 20.7135 12.5176C20.8545 12.4319 21.0449 12.4582 21.0449 12.4582L23.6108 12.4421C23.6108 12.4421 24.3821 12.3479 24.5065 12.7027C24.6375 13.0735 24.2185 13.9408 23.1701 15.3614C22.1737 16.7119 21.6898 17.2075 21.7363 17.647C21.7701 17.9668 22.0846 18.2568 22.6868 18.8247C23.947 20.0142 24.2848 20.6401 24.366 20.7905C24.3727 20.8029 24.3777 20.8121 24.3813 20.8181C24.9464 21.7711 23.7544 21.8458 23.7544 21.8458L21.4747 21.8781C21.4747 21.8781 20.9856 21.9765 20.3412 21.5267C20.0036 21.2913 19.6738 20.9068 19.3596 20.5406C18.8798 19.9814 18.4365 19.4647 18.0582 19.5868C17.423 19.7921 17.4422 21.183 17.4422 21.183C17.4422 21.183 17.4472 21.4809 17.3028 21.6388Z" fill="#AC946B"/>
            </svg>                    
        </a>
    </div>
</div>