<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>

<article class="aboutTop">
    <div class="aboutBg">
        <img src="assets/img/aboutBg.png" alt="">
    </div>
    <% include ../includes/breadcrumbs %>
    <div class="textLine white"></div>
    <div class="titleWrap">
        <div class="title white">
            <p>О компании</p>
        </div>
        <div class="subTitle">
            <p>Самый полный и точный каталог<br>
                деталей BMW</p>
        </div>
    </div>
</article>

<article class="aboutPage">
    <div class="inner grid12">
        <div class="left x8 sm12">
            <div class="text">
                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. 
                    Конечно, для этого статьи должны быть качественными, уникальными (т. е. не скопированными из других источников, оригинальными), интересными, с определенной структурой. А ещё они должны содержать ключевые слова — запросы, которые интересны вашей целевой аудитории больше остальных. </p>
            </div>
        </div>
        <div class="right x4 sm12">
            <div class="block">
                <div class="title">
                    <p>Самые выгодные предложения по размещению в каталоге для авторазборок и магазинов автозапчастей</p>
                </div>
                <div class="btnMore">
                    <div class="text RtoL">
                        <p>Узнать больше</p>
                    </div>
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>
</article>


<% include ../includes/advantages %>

<% include ../includes/news %>
<% include ../includes/seo %>

<% include ../includes/footer %>



</body>
</html>


 




