<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

<article class="card">
    <div class="titleWrap">
        <div class="title">
            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
        </div>
    </div>
    <div class="inner grid12">
        <div class="left x9 lg8 sm12">
            <div class="cardSlider">

                <div class="littleSlider">
                    <div class="list">
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="bigSlider">
                    <div class="list">
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                        <div class="item">
                            <img src="assets/img/cardImg2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="characteristics">
                <div class="title">
                    <p>Характеристики</p>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Артикул</td>
                            <td>F22DF200</td>
                        </tr>
                        <tr>
                            <td>Оригинальный номер запчасти</td>
                            <td>FG28TY0</td>
                        </tr>
                        <tr>
                            <td>Состояние</td>
                            <td>Хорошее</td>
                        </tr>
                        <tr>
                            <td>Номер замены</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Модель машины</td>
                            <td>BMW X6 30dX</td>
                        </tr>
                        <tr>
                            <td>Год выпуска</td>
                            <td>2009</td>
                        </tr>
                        <tr>
                            <td>Объем двигателя</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Тип кузова</td>
                            <td>Седан</td>
                        </tr>
                        <tr>
                            <td>Руль</td>
                            <td>Правый</td>
                        </tr>
                        <tr>
                            <td>Количество дверей</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Привод</td>
                            <td>Передний</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cardDescription">
                <div class="title">
                    <p>Комментарий продавца</p>
                </div>
                <div class="text">
                    <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж. Конечно, для этого статьи должны быть качественными, уникальными (т. е. не скопированными из других источников, оригинальными), интересными, с определенной структурой.</p>
                </div>
            </div>
        </div>
        <div class="right x3 lg4 sm12">
            <div class="stickyBlock">
                <div class="row">
                    <div class="price">
                        <p>87 890 руб.</p>
                    </div>
                    <div class="favorite">
                        <div class="icon">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.26218 7.2421L11 1.69466L13.7378 7.2421C13.9199 7.61103 14.2719 7.86674 14.679 7.9259L20.801 8.81548L16.3711 13.1336C16.0765 13.4207 15.942 13.8345 16.0116 14.24L17.0573 20.3372L11.5817 17.4585C11.2175 17.267 10.7825 17.267 10.4183 17.4585L4.94268 20.3372L5.98843 14.24C6.05798 13.8345 5.92354 13.4207 5.62894 13.1336L1.19904 8.81548L7.321 7.9259C7.72814 7.86674 8.0801 7.61103 8.26218 7.2421Z" stroke="#002A70" stroke-width="1.5"/>
                            </svg>                                
                        </div>
                        <div class="text">
                            <p>В избранное</p>
                        </div>
                    </div>
                </div>
                <div class="btnWrap">
                    <a href="#" class="btn full">
                        <span>Заказать</span>
                    </a>
                </div>
                <div class="seller">
                    <div class="title">
                        <p>Продавец:</p>
                    </div>
                    <div class="link">
                        <a href="#">ИП Иванов</a>
                    </div>
                </div>
                <div class="phones">
                    <div class="phone">
                        <a href="tel:+79284256532">+7 (928) 425 65 32</a>
                    </div>
                    <div class="phone">
                        <a href="tel:+79284256532">+7 (928) 425 65 32</a>
                    </div>
                </div>
                <div class="mail">
                    <a href="mailto:info@inforaborka.ru">info@inforaborka.ru</a>
                </div>
                <div class="adress">
                    <p>Самовывоз: г. Креновский, пер. Кондратьевский, д 15</p>
                    <a href="#">На карте</a>
                </div>
                <div class="delivery">
                    <div class="icon">
                        <svg width="33" height="19" viewBox="0 0 33 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.5487 4.61889C30.6576 3.65346 29.3883 3.12011 27.9773 3.12011H24.5815V1.28378C24.5815 0.838199 24.2169 0.473633 23.7713 0.473633H7.59538C7.1498 0.473633 6.78524 0.838199 6.78524 1.28378V4.10579H3.63241C3.18683 4.10579 2.82227 4.47036 2.82227 4.91594C2.82227 5.36152 3.18683 5.72609 3.63241 5.72609H7.57513C7.58188 5.72609 7.58863 5.72609 7.59538 5.72609C7.59538 5.72609 7.59538 5.72609 7.60214 5.72609C8.04772 5.72609 8.41228 5.36152 8.41228 4.91594V2.09393H22.9679V3.93026V14.793H15.339C15.3053 14.793 15.2715 14.793 15.2378 14.7997C14.8327 13.8006 13.8538 13.0917 12.7128 13.0917C11.5651 13.0917 10.5862 13.8073 10.1879 14.8132C10.1271 14.7997 10.0731 14.793 10.0123 14.793H8.41228V11.9642C8.41228 11.5186 8.04772 11.1541 7.60214 11.1541C7.58863 11.1541 7.57513 11.1541 7.56163 11.1541C7.54813 11.1541 7.54137 11.1541 7.52787 11.1541H3.63241C3.18683 11.1541 2.82227 11.5186 2.82227 11.9642C2.82227 12.4098 3.18683 12.7744 3.63241 12.7744H6.78524V15.5964C6.78524 16.042 7.1498 16.4065 7.59538 16.4065H10.0056C10.0258 16.4065 10.0393 16.4065 10.0596 16.4065C10.3296 17.6218 11.4166 18.5264 12.7128 18.5264C14.0091 18.5264 15.0892 17.6218 15.366 16.4065H23.7781H25.0743C25.3511 17.615 26.4313 18.5264 27.7275 18.5264C29.0238 18.5264 30.104 17.6218 30.3808 16.4065H32.1901C32.6357 16.4065 33.0003 16.042 33.0003 15.5964V8.86541C33.0003 7.11684 32.4939 5.64507 31.5487 4.61889ZM12.7128 16.9129C12.1052 16.9129 11.6124 16.42 11.6124 15.8124C11.6124 15.2048 12.1052 14.712 12.7128 14.712C13.3204 14.712 13.8133 15.2048 13.8133 15.8124C13.8133 16.42 13.3204 16.9129 12.7128 16.9129ZM27.7275 16.9129C27.1199 16.9129 26.6271 16.42 26.6271 15.8124C26.6271 15.2048 27.1199 14.712 27.7275 14.712C28.3352 14.712 28.828 15.2048 28.828 15.8124C28.8212 16.42 28.3284 16.9129 27.7275 16.9129ZM31.38 14.793H30.2458C29.8407 13.8006 28.8618 13.0917 27.7275 13.0917C26.5933 13.0917 25.6144 13.7938 25.2093 14.793H24.5882V4.74041H27.9841C30.1107 4.74041 31.38 6.28644 31.38 8.87216V14.793Z" fill="#002A70"/>
                            <path d="M13.9143 9.95909C13.597 10.2764 13.597 10.7895 13.9143 11.1068C14.0696 11.2621 14.2788 11.3431 14.4881 11.3431C14.6974 11.3431 14.9 11.2621 15.062 11.1068L17.1481 9.02067L17.1549 9.01392C17.1684 8.99367 17.1886 8.98016 17.2021 8.95991C17.2089 8.94641 17.2156 8.93966 17.2224 8.92615C17.2291 8.91265 17.2359 8.9059 17.2494 8.8924C17.2561 8.8789 17.2629 8.86539 17.2696 8.85189C17.2764 8.83839 17.2831 8.83164 17.2899 8.81814C17.2966 8.80463 17.3034 8.79113 17.3101 8.77763C17.3169 8.76413 17.3237 8.75737 17.3237 8.74387C17.3304 8.73037 17.3304 8.71687 17.3372 8.70337C17.3439 8.68986 17.3439 8.67636 17.3507 8.66961C17.3574 8.65611 17.3574 8.6426 17.3574 8.6291C17.3574 8.6156 17.3642 8.6021 17.3642 8.58859C17.3642 8.57509 17.3709 8.56159 17.3709 8.54134C17.3709 8.52783 17.3777 8.52108 17.3777 8.50758C17.3844 8.45357 17.3844 8.39956 17.3777 8.34555C17.3777 8.33205 17.3777 8.3253 17.3709 8.31179C17.3709 8.29829 17.3642 8.28479 17.3642 8.26454C17.3642 8.25103 17.3574 8.23753 17.3574 8.22403C17.3574 8.21053 17.3507 8.19702 17.3507 8.18352C17.3439 8.17002 17.3439 8.15652 17.3372 8.14976C17.3304 8.13626 17.3304 8.12276 17.3237 8.10926C17.3169 8.09576 17.3101 8.089 17.3101 8.0755C17.3034 8.062 17.2966 8.0485 17.2899 8.03499C17.2831 8.02149 17.2764 8.01474 17.2696 8.00124C17.2629 7.98774 17.2561 7.97423 17.2494 7.96073C17.2426 7.94723 17.2359 7.94048 17.2224 7.92698C17.2156 7.91347 17.2089 7.90672 17.2021 7.89322C17.1886 7.87297 17.1684 7.85946 17.1549 7.83921L17.1481 7.83246L15.1633 5.8476C14.8459 5.53029 14.3329 5.53029 14.0155 5.8476C13.6982 6.16491 13.6982 6.678 14.0155 6.99531L14.6164 7.59616H0.810147C0.364566 7.59616 0 7.96073 0 8.40631C0 8.85189 0.364566 9.21646 0.810147 9.21646H14.6097L13.9143 9.95909Z" fill="#002A70"/>
                        </svg>                            
                    </div>
                    <div class="link">
                        <a href="">Способы доставки</a>
                    </div>
                </div>
                <div class="sellerAds">
                    <a href="#">Другие объявления продавца (18)</a>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="selection">
    <div class="textLine blue"></div>
    <div class="titleWrap">
        <div class="title">
            <p>Эта деталь подходит к автомобилям</p>
        </div>
    </div>
    <div class="top grid12">
        <div class="btnToList x12">
            <p>Показать списком</p>
        </div>
    </div> 

    <div class="sliderWrap">
        <div class="list grid12">
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>

            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
            <div class="item x3">
                <% include ../includes/cardInSlider %>   
                <% include ../includes/cardInSlider %>   
            </div>
        </div>
        <div class="sliderArrows">
            <div class="btnArrow left RtoL">
                <div class="arrow"></div>
            </div>
            <div class="btnArrow right LtoR">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
</article>




<article class="offers">
    <div class="textLine blue"></div>
    <div class="titleWrap">
        <div class="title">
            <p>Другие предложения этого товара</p>
        </div>
        <div class="btnMore">
            <div class="text RtoL">
                <p>Все предложения</p>
            </div>
            <div class="icon"></div>
        </div>
    </div>
    <div class="sliderWrap">
        <div class="list grid12">
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
          
        </div>
        <div class="sliderArrows">
            <div class="btnArrow left RtoL">
                <div class="arrow"></div>
            </div>
            <div class="btnArrow right LtoR">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
</article>


<% include ../includes/advantages %>


<article class="offers">
    <div class="textLine blue"></div>
    <div class="titleWrap">
        <div class="title">
            <p>Последние просмотренные</p>
        </div>
        
    </div>
    <div class="sliderWrap">
        <div class="list grid12">
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
            <% include ../includes/offersItem %>
          
        </div>
        <div class="sliderArrows">
            <div class="btnArrow left RtoL">
                <div class="arrow"></div>
            </div>
            <div class="btnArrow right LtoR">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
</article>


<% include ../includes/footer %>



</body>
</html>


 




