<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>
<% include ../includes/catalogFilter %>

<article class="catalogPage">
    <div class="topSort">
        <div class="mobileSortBtn">
            <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">

		<path d="M490.667,405.333h-56.811C424.619,374.592,396.373,352,362.667,352s-61.931,22.592-71.189,53.333H21.333
			C9.557,405.333,0,414.891,0,426.667S9.557,448,21.333,448h270.144c9.237,30.741,37.483,53.333,71.189,53.333
			s61.931-22.592,71.189-53.333h56.811c11.797,0,21.333-9.557,21.333-21.333S502.464,405.333,490.667,405.333z M362.667,458.667
			c-17.643,0-32-14.357-32-32s14.357-32,32-32s32,14.357,32,32S380.309,458.667,362.667,458.667z"/>

		<path d="M490.667,64h-56.811c-9.259-30.741-37.483-53.333-71.189-53.333S300.736,33.259,291.477,64H21.333
			C9.557,64,0,73.557,0,85.333s9.557,21.333,21.333,21.333h270.144C300.736,137.408,328.96,160,362.667,160
			s61.931-22.592,71.189-53.333h56.811c11.797,0,21.333-9.557,21.333-21.333S502.464,64,490.667,64z M362.667,117.333
			c-17.643,0-32-14.357-32-32c0-17.643,14.357-32,32-32s32,14.357,32,32C394.667,102.976,380.309,117.333,362.667,117.333z"/>

		<path d="M490.667,234.667H220.523c-9.259-30.741-37.483-53.333-71.189-53.333s-61.931,22.592-71.189,53.333H21.333
			C9.557,234.667,0,244.224,0,256c0,11.776,9.557,21.333,21.333,21.333h56.811c9.259,30.741,37.483,53.333,71.189,53.333
			s61.931-22.592,71.189-53.333h270.144c11.797,0,21.333-9.557,21.333-21.333C512,244.224,502.464,234.667,490.667,234.667z
			 M149.333,288c-17.643,0-32-14.357-32-32s14.357-32,32-32c17.643,0,32,14.357,32,32S166.976,288,149.333,288z"/>
</svg>
        </div>
        <div class="title">
            <p>Сортировка:</p>
        </div>
        <div class="sortBtn active">
            <p>По цене</p>
        </div>
        <div class="sortBtn">
            <p>По цене</p>
        </div>
    </div>
    <div class="leftSort">
        <div class="list">
            <div class="item">
                <div class="priceFilter">
                  <div class="title">
                      <p>Цена, руб.</p>
                  </div>
                  <div class="icon">
                    <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7.5L7 1.5L13 7.5" stroke="#155DD5" stroke-width="2"/>
                    </svg>                        
                  </div>
                </div>
                <div class="block">
                    <div class="field">
                        <input type="text" placeholder="От">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="До">
                    </div>
                </div>
                <div class="checkbox arrow" data-stagger>
                    <div class="checkboxField">
                        <input type="checkbox" id="check4" name="sogl" >
                        <label class="checkbox__label" for="check4"></label>
                    </div>
                    <label class="checkboxText" for="check4">В наличии</label>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <p>Состояние</p>
                </div>
                <div class="checkbox arrow" data-stagger>
                    <div class="checkboxField">
                        <input type="checkbox" id="check5" name="sogl" >
                        <label class="checkbox__label" for="check5"></label>
                    </div>
                    <label class="checkboxText" for="check5">Удовлетворительное</label>
                </div>
                <div class="checkbox arrow" data-stagger>
                    <div class="checkboxField">
                        <input type="checkbox" id="check6" name="sogl" >
                        <label class="checkbox__label" for="check6"></label>
                    </div>
                    <label class="checkboxText" for="check6">Хорошее</label>
                </div>
                <div class="checkbox arrow" data-stagger>
                    <div class="checkboxField">
                        <input type="checkbox" id="check7" name="sogl" >
                        <label class="checkbox__label" for="check7"></label>
                    </div>
                    <label class="checkboxText" for="check7">Отличное</label>
                </div>
                <div class="checkbox arrow" data-stagger>
                    <div class="checkboxField">
                        <input type="checkbox" id="check8" name="sogl" >
                        <label class="checkbox__label" for="check8"></label>
                    </div>
                    <label class="checkboxText" for="check8">Новое</label>
                </div>
            </div>
        </div>
        <div class="crossWrap">
            <div class="mobileCross"></div>
        </div>
    </div>
    <div class="catalogRight">
        <div class="list">
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
            <% include ../includes/catalogItem %>
          
        </div>
    </div>
      
</article>
<% include ../includes/advantages %>

<% include ../includes/seo2 %>

<% include ../includes/footer %>



</body>
</html>


 



