<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Личный кабинет покупателя</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Текущие заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Личные данные</a>
                </div>
                <div class="item">
                    <a href="#" class="link">История заказов</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Корзина</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Контакты</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Выход</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="titleWrap">
                <div class="title">
                   <p>История заказов</p>
                </div>
                <div class="subTitle">
                    <p>Текущие заказы</p>
                </div>
            </div>

            <div class="table">
                <div class="headers grid12">
                    <div class="title x1">
                        <p>№</p>
                    </div> 
                    <div class="title x4">
                        <select>
                            <option data-display="Номер заказа">Номер заказа</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Сумма">Сумма</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Способ доставки">Способ доставки</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Статус оплаты">Статус оплаты</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Срок поставки">Срок поставки</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x4 md8 xs11" data-title="Номер заказа">
                        <div class="link">
                            <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                        </div>
                    </div>
                    <div class="block x1 md3 xs6" data-title="Сумма">
                        <div class="text">
                                <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 md4 xs6" data-title="Способ доставки">
                        <div class="text">
                            <p>Транспортная компания</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Статус оплаты">
                        <div class="text">
                            <p>Ждет оплаты</p>
                        </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Срок поставки">
                        <div class="text">
                            <p>Отгрузка:</p>
                            <p><b>05.02.2020</b></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="titleWrap">
                <div class="subTitle">
                    <p>Выполненные заказы</p>
                </div>
            </div>

            <div class="table">
                <div class="headers grid12">
                    <div class="title x1">
                        <p>№</p>
                    </div> 
                    <div class="title x4">
                        <select>
                            <option data-display="Номер заказа">Номер заказа</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Сумма">Сумма</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Способ доставки">Способ доставки</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Статус оплаты">Статус оплаты</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Срок поставки">Срок поставки</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x4 md8 xs11" data-title="Номер заказа">
                        <div class="link">
                            <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                        </div>
                    </div>
                    <div class="block x1 md3 xs6" data-title="Сумма">
                        <div class="text">
                                <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 md4 xs6" data-title="Способ доставки">
                        <div class="text">
                            <p>Транспортная компания</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Статус оплаты">
                        <div class="text">
                            <p>Ждет оплаты</p>
                        </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Срок поставки">
                        <div class="text">
                            <p>Отгрузка:</p>
                            <p><b>05.02.2020</b></p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="block x4 md8 xs11" data-title="Номер заказа">
                        <div class="link">
                            <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                        </div>
                    </div>
                    <div class="block x1 md3 xs6" data-title="Сумма">
                        <div class="text">
                                <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 md4 xs6" data-title="Способ доставки">
                        <div class="text">
                            <p>Транспортная компания</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Статус оплаты">
                        <div class="text">
                            <p>Ждет оплаты</p>
                        </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Срок поставки">
                        <div class="text">
                            <p>Отгрузка:</p>
                            <p><b>05.02.2020</b></p>
                        </div>
                    </div>
                </div>
            </div>

        
        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











