<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Товары в каталоге</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="orderTop">
                <div class="links">
                    <div class="link">
                        <a href="#">Заказ</a>
                    </div>
                    <div class="link active">
                        <a href="#">История изменений</a>
                    </div>
                </div>
            </div>

            <div class="table">
                <div class="tableTitle">
                    <p>Состав заказа:</p>
                </div>
                <div class="headers grid12">

                    <div class="title x2">
                        <select>
                            <option data-display="Дата и время">Дата и время</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    
                    <div class="title x3">
                        <select>
                            <option data-display="Пользователь">Пользователь</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x3">
                        <select>
                            <option data-display="Операция">Операция</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x4">
                        <p>Описание</p>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x2 sm6" data-title="Дата и время">
                        <div class="text">
                            <p>12.05.2020</p>
                            <p>12:23:45</p>
                        </div>
                    </div>
                   
                    <div class="block x3 sm6" data-title="Пользователь">
                        <div class="link">
                            <a href="#">Admin_MS</a>
                        </div>
                    </div>
                    <div class="block x3 sm12" data-title="Операция">
                        <div class="text">
                            <p>Изменение стоимости доставки</p>
                        </div>
                    </div>
                    <div class="block x4 sm12" data-title="Описание">
                        <div class="text">
                            <p>Изменение стоимости доставки с 0 руб на 500 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x2 sm6" data-title="Дата и время">
                        <div class="text">
                            <p>12.05.2020</p>
                            <p>12:23:45</p>
                        </div>
                    </div>
                   
                    <div class="block x3 sm6" data-title="Пользователь">
                        <div class="link">
                            <a href="#">Admin_MS</a>
                        </div>
                    </div>
                    <div class="block x3 sm12" data-title="Операция">
                        <div class="text">
                            <p>Изменение стоимости доставки</p>
                        </div>
                    </div>
                    <div class="block x4 sm12" data-title="Описание">
                        <div class="text">
                            <p>Изменение стоимости доставки с 0 руб на 500 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x2 sm6" data-title="Дата и время">
                        <div class="text">
                            <p>12.05.2020</p>
                            <p>12:23:45</p>
                        </div>
                    </div>
                   
                    <div class="block x3 sm6" data-title="Пользователь">
                        <div class="link">
                            <a href="#">Admin_MS</a>
                        </div>
                    </div>
                    <div class="block x3 sm12" data-title="Операция">
                        <div class="text">
                            <p>Изменение стоимости доставки</p>
                        </div>
                    </div>
                    <div class="block x4 sm12" data-title="Описание">
                        <div class="text">
                            <p>Изменение стоимости доставки с 0 руб на 500 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x2 sm6" data-title="Дата и время">
                        <div class="text">
                            <p>12.05.2020</p>
                            <p>12:23:45</p>
                        </div>
                    </div>
                   
                    <div class="block x3 sm6" data-title="Пользователь">
                        <div class="link">
                            <a href="#">Admin_MS</a>
                        </div>
                    </div>
                    <div class="block x3 sm12" data-title="Операция">
                        <div class="text">
                            <p>Изменение стоимости доставки</p>
                        </div>
                    </div>
                    <div class="block x4 sm12" data-title="Описание">
                        <div class="text">
                            <p>Изменение стоимости доставки с 0 руб на 500 руб.</p>
                        </div>
                    </div>
                </div>

              
            </div>

        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











