<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Товары в каталоге</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="orderTop">
                <div class="links">
                    <div class="link active ">
                        <a href="#">Заказ</a>
                    </div>
                    <div class="link">
                        <a href="#">История изменений</a>
                    </div>
                </div>
            </div>
            <div class="lkOrder">
                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Создан:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>12.05.2020</b></p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Последние изменения:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>11.05.2020</b></p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Последние изменения:</p>
                        </div>
                    </div>
                    <div class="right">
                        <select>
                            <option data-display="Принят">Принят</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Покупатель:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p>Иван Петрович</p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Телефон:</p>
                        </div>
                    </div>
                    <div class="right">
                       <div class="text">
                           <p>+7 928 885 88 88</p>
                       </div>
                       <div class="lkActBtn">
                        <p>Еще</p>
                    </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Адрес доставки:</p>
                        </div>
                    </div>
                    <div class="right">
                       <div class="text">
                           <p><b>г. Краснодар, Шевченко 152/5, квартира № 55</b></p>
                       </div>
                       <div class="lkActBtn">
                        <p>Измененить</p>
                    </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Комментарий к заказу:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <textarea name="" id="" cols="50" rows="1" placeholder="нет"></textarea>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Статус доставки:</p>
                        </div>
                    </div>
                    <div class="right">
                        <select>
                            <option data-display="Не отгружен">Не отгружен</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Оплата:</p>
                        </div>
                    </div>
                    <div class="right">
                        <select>
                            <option data-display="При получении">При получении</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="table">
                <div class="tableTitle">
                    <p>Состав заказа:</p>
                </div>
                <div class="headers grid12">
                    <div class="title x1">
                        <p>№</p>
                    </div> 
                    <div class="title x5">
                        <select>
                            <option data-display="Название">Название</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <p>Количество</p>
                    </div> 
                    <div class="title x1">
                        <p>Остаток</p>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Статус">Статус</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Цена">Цена</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Сумма">Сумма</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                   
                    <div class="block x5 md11" data-title="Название">
                        <div class="link">
                            <a href="#">Стеклоподъемник механический задней левой двери BMW X6 30dX</a>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Количество">
                        <div class="text">
                                <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Остаток">
                        <div class="text">
                            <p>100</p>
                        </div>
                    </div>
                    <div class="block x2 md2 sm6" data-title="Статус">
                        <div class="text">
                            <p>Не отгружен</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Цена">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Сумма">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                   
                    <div class="block x5 md11" data-title="Название">
                        <div class="link">
                            <a href="#">Стеклоподъемник механический задней левой двери BMW X6 30dX</a>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Количество">
                        <div class="text">
                                <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Остаток">
                        <div class="text">
                            <p>100</p>
                        </div>
                    </div>
                    <div class="block x2 md2 sm6" data-title="Статус">
                        <div class="text">
                            <p>Не отгружен</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Цена">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Сумма">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                   
                    <div class="block x5 md11" data-title="Название">
                        <div class="link">
                            <a href="#">Стеклоподъемник механический задней левой двери BMW X6 30dX</a>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Количество">
                        <div class="text">
                                <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 sm3" data-title="Остаток">
                        <div class="text">
                            <p>100</p>
                        </div>
                    </div>
                    <div class="block x2 md2 sm6" data-title="Статус">
                        <div class="text">
                            <p>Не отгружен</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Цена">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                    <div class="block x1 md3 sm6" data-title="Сумма">
                        <div class="text">
                            <p>3 304 руб.</p>
                        </div>
                    </div>
                </div>
              
            </div>

         <div class="lkOrderBottom">
             <div class="orderBottomRow">
                 <div class="title">
                     <p>Общая стоимость товаров</p>
                 </div>
                 <div class="text">
                    <p>10 200 руб.</p>
                </div>
             </div>

             <div class="orderBottomRow">
                <div class="title">
                    <p>Стоимость доставки</p>
                </div>
                <div class="text">
                   <p>500 руб.</p>
               </div>
            </div>

            <div class="orderBottomRow">
                <div class="title">
                    <p>Уже оплачено</p>
                </div>
                <div class="text">
                   <p>0 руб.</p>
               </div>
            </div>
            
            <div class="orderBottomRow">
                <div class="title">
                    <p>Итого к оплате</p>
                </div>
                <div class="text">
                   <p>10 700 руб.</p>
               </div>
            </div>

         </div>

        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











