<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Товары в каталоге</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="apSearch">
                <form class="form">
                    <input type="text">
                </form>
                <div class="links">
                    <div class="link active">
                        <a href="#">Поиск артикулу</a>
                    </div>
                    <div class="link">
                        <a href="#">Поиск артикулу</a>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="headers grid12">
                    <div class="title x1">
                        <p>№</p>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Дата">Дата</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div>  
                    <div class="title x2">
                        <select>
                            <option data-display="Номер заказа">Номер заказа</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Покупатель">Покупатель</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Статус">Статус</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x1">
                        <select>
                            <option data-display="Сумма">Сумма</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x3">
                        <p>Позиции</p>
                    </div> 
                    <div class="title x1">
                        <p>Действие</p>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x1 md2 xs3" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Дата">
                        <div class="text">
                          <p>12.04.2020</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Номер заказа">
                       <div class="link">
                           <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                       </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Покупатель">
                        <div class="link">
                            <a href="#">Иван Петрович Иванов</a>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Статус">
                        <div class="text">
                            <p>Принят</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Сумма">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x3 md5 xs9" data-title="Позиции">
                        <div class="text">
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                        </div>
                    </div>
                    <div class="block x1 md3 xs3" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1 md2 xs3" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Дата">
                        <div class="text">
                          <p>12.04.2020</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Номер заказа">
                       <div class="link">
                           <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                       </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Покупатель">
                        <div class="link">
                            <a href="#">Иван Петрович Иванов</a>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Статус">
                        <div class="text">
                            <p>Принят</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Сумма">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x3 md5 xs9" data-title="Позиции">
                        <div class="text">
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                        </div>
                    </div>
                    <div class="block x1 md3 xs3" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1 md2 xs3" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Дата">
                        <div class="text">
                          <p>12.04.2020</p>
                        </div>
                    </div>
                    <div class="block x2 md5 xs6" data-title="Номер заказа">
                       <div class="link">
                           <a href="#">Заказ №216-Ф от 26.01.2020 г.</a>
                       </div>
                    </div>
                    <div class="block x2 md3 xs6" data-title="Покупатель">
                        <div class="link">
                            <a href="#">Иван Петрович Иванов</a>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Статус">
                        <div class="text">
                            <p>Принят</p>
                        </div>
                    </div>
                    <div class="block x1 md2 xs3" data-title="Сумма">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x3 md5 xs9" data-title="Позиции">
                        <div class="text">
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                        </div>
                    </div>
                    <div class="block x1 md3 xs3" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <% include ../includes/pagination %>

         

        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











