<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Товары в каталоге</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="apSearch">
                <form class="form">
                    <input type="text">
                </form>
                <div class="links">
                    <div class="link active">
                        <a href="#">Поиск артикулу</a>
                    </div>
                    <div class="link">
                        <a href="#">Поиск артикулу</a>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="headers grid12">
                    <div class="title x1">
                        <p>№</p>
                    </div> 
                    <div class="title x1">
                       <p>Фото</p>
                    </div> 
                    <div class="title x3">
                        <select>
                            <option data-display="WIN">WIN</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x3">
                        <select>
                            <option data-display="Состояние">Состояние</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Цена">Цена</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                    <div class="title x2">
                        <select>
                            <option data-display="Действие">Действие</option>
                            <option value="1">Some option</option>
                            <option value="2">Another option</option>
                            <option value="4">Potato</option>
                        </select>
                    </div> 
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 sm2 xs3" data-title="Фото">
                        <div class="text">
                            <img src="assets/img/offersImg1.png" alt="">
                        </div>
                    </div>
                    <div class="block x3 sm9 xs8" data-title="Артикул">
                        <div class="text"><p>4USBT53544LT26841</p></div>
                    </div>
                    <div class="block x3 sm4 xs6" data-title="Состояние">
                        <div class="text">
                                <p>Новый</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs6" data-title="Цена">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs12" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 sm2 xs3" data-title="Фото">
                        <div class="text">
                            <img src="assets/img/offersImg1.png" alt="">
                        </div>
                    </div>
                    <div class="block x3 sm9 xs8" data-title="Артикул">
                        <div class="text"><p>4USBT53544LT26841</p></div>
                    </div>
                    <div class="block x3 sm4 xs6" data-title="Состояние">
                        <div class="text">
                                <p>Новый</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs6" data-title="Цена">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs12" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row grid12">
                    <div class="block x1" data-title="№">
                        <div class="text">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="block x1 sm2 xs3" data-title="Фото">
                        <div class="text">
                            <img src="assets/img/offersImg1.png" alt="">
                        </div>
                    </div>
                    <div class="block x3 sm9 xs8" data-title="Артикул">
                        <div class="text"><p>4USBT53544LT26841</p></div>
                    </div>
                    <div class="block x3 sm4 xs6" data-title="Состояние">
                        <div class="text">
                                <p>Новый</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs6" data-title="Цена">
                        <div class="text">
                            <p>10 000 руб.</p>
                        </div>
                    </div>
                    <div class="block x2 sm4 xs12" data-title="Действие">
                        <div class="actWrap">
                            <div class="title">
                                <p>Просмотр</p>
                            </div>
                            <div class="list">
                                <div class="item">
                                    <a href="#" class="link">Редактировать</a>
                                </div>
                                <div class="item">
                                    <a href="#" class="link dell">удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
            <% include ../includes/pagination %>

         

        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











