<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Товары в каталоге</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">

            <div class="lkOrder">
                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Логин:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>Razboka</b></p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Наименование организации:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" placeholder="ИП Иванов">
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Контактное лицо</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" placeholder="Сергей Петрович">
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>E-mail:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" placeholder="ivan@mail.ru">
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Телефон:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" placeholder="+7 928 885 88 88">
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Адреса самовывоза:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" placeholder="г. Краснодар, Шевченко 152/5, квартира № 55">
                        </div>

                        <div class="field">
                            <input type="text" placeholder="г. Краснодар, Шевченко 152/5, квартира № 55">
                        </div>

                        <div class="field">
                            <div class="lkActBtn">
                                <p>Еще</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Банковские реквизиты для счета:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                           <textarea name="" id="" cols="10" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Новый пароль:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" >
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Подтверждение нового пароля:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="field">
                            <input type="text" >
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Дата регистрации:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>01.01.2020</b></p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Дата последнего входа:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>12.05.2020</b></p>
                        </div>
                    </div>
                </div>

                <div class="orderRow">
                    <div class="left">
                        <div class="title">
                            <p>Группа пользователей:</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="text">
                            <p><b>Поставщики</b></p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











