<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>
<% include ../includes/breadcrumbs %>

    <article>
        <div class="titleWrap">
            <h1>Добавление товара</h1>
        </div>
    </article>
   
    <section class="personalArea__inner">
        <div class="left">
            <div class="list">
                <div class="item active">
                    <a href="#" class="link">Каталог</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Заказы</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Данные</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="lkProduct">
                <form class="form">
                    <div class="field">
                        <label>Название товара:</label>
                        <div class="title">
                            <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
                        </div>
                    </div>
        
                    <div class="field">
                        <label>Артикул:</label>
                        <input type="text">
                        <div class="lkActBtn">
                            <a href="#">Обновить</a>
                        </div>
                    </div>
        
                    <div class="field">
                        <label>Номера замен:</label>
                       <div class="rowText">
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585,</i></p>
                           <p><i>2555585</i></p>
                       </div>
                    </div>
                    
                    <div class="field">
                        <label>Цена:</label>
                        <input type="text">
                    </div>

                    <div class="field">
                        <label>Состояние:</label>
                        <input type="text">
                    </div>

                    <div class="field">
                        <label>Фотографии  (не более 5):</label>
                        <div class="photoList">
                            <div class="item">
                                <img src="assets/img/lkProductImg1.png" alt="">
                                <div class="dellBtn">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65723 4.24298C6.2667 4.63351 5.63354 4.63351 5.24301 4.24299L1.70711 0.707078C1.31658 0.316554 0.683418 0.316553 0.292894 0.707078C-0.0976307 1.0976 -0.0976315 1.73077 0.292893 2.12129L3.8288 5.6572C4.21932 6.04772 4.21933 6.68089 3.8288 7.07141L0.293637 10.6066C-0.096887 10.9971 -0.096887 11.6303 0.293637 12.0208C0.684161 12.4113 1.31733 12.4113 1.70785 12.0208L5.24301 8.48562C5.63354 8.0951 6.2667 8.0951 6.65723 8.48563L10.1924 12.0208C10.5829 12.4113 11.2161 12.4113 11.6066 12.0208C11.9971 11.6303 11.9971 10.9971 11.6066 10.6066L8.07144 7.07141C7.68092 6.68089 7.68092 6.04772 8.07144 5.6572L11.6073 2.12129C11.9979 1.73077 11.9979 1.0976 11.6073 0.707079C11.2168 0.316555 10.5837 0.316556 10.1931 0.70708L6.65723 4.24298Z" fill="#EB5757"/>
                                    </svg>                                        
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/img/lkProductImg1.png" alt="">
                                <div class="dellBtn">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65723 4.24298C6.2667 4.63351 5.63354 4.63351 5.24301 4.24299L1.70711 0.707078C1.31658 0.316554 0.683418 0.316553 0.292894 0.707078C-0.0976307 1.0976 -0.0976315 1.73077 0.292893 2.12129L3.8288 5.6572C4.21932 6.04772 4.21933 6.68089 3.8288 7.07141L0.293637 10.6066C-0.096887 10.9971 -0.096887 11.6303 0.293637 12.0208C0.684161 12.4113 1.31733 12.4113 1.70785 12.0208L5.24301 8.48562C5.63354 8.0951 6.2667 8.0951 6.65723 8.48563L10.1924 12.0208C10.5829 12.4113 11.2161 12.4113 11.6066 12.0208C11.9971 11.6303 11.9971 10.9971 11.6066 10.6066L8.07144 7.07141C7.68092 6.68089 7.68092 6.04772 8.07144 5.6572L11.6073 2.12129C11.9979 1.73077 11.9979 1.0976 11.6073 0.707079C11.2168 0.316555 10.5837 0.316556 10.1931 0.70708L6.65723 4.24298Z" fill="#EB5757"/>
                                    </svg>                                        
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/img/lkProductImg1.png" alt="">
                                <div class="dellBtn">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65723 4.24298C6.2667 4.63351 5.63354 4.63351 5.24301 4.24299L1.70711 0.707078C1.31658 0.316554 0.683418 0.316553 0.292894 0.707078C-0.0976307 1.0976 -0.0976315 1.73077 0.292893 2.12129L3.8288 5.6572C4.21932 6.04772 4.21933 6.68089 3.8288 7.07141L0.293637 10.6066C-0.096887 10.9971 -0.096887 11.6303 0.293637 12.0208C0.684161 12.4113 1.31733 12.4113 1.70785 12.0208L5.24301 8.48562C5.63354 8.0951 6.2667 8.0951 6.65723 8.48563L10.1924 12.0208C10.5829 12.4113 11.2161 12.4113 11.6066 12.0208C11.9971 11.6303 11.9971 10.9971 11.6066 10.6066L8.07144 7.07141C7.68092 6.68089 7.68092 6.04772 8.07144 5.6572L11.6073 2.12129C11.9979 1.73077 11.9979 1.0976 11.6073 0.707079C11.2168 0.316555 10.5837 0.316556 10.1931 0.70708L6.65723 4.24298Z" fill="#EB5757"/>
                                    </svg>                                        
                                </div>
                            </div>
                            <div class="item">
                                <img src="assets/img/lkProductImg1.png" alt="">
                                <div class="dellBtn">
                                    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65723 4.24298C6.2667 4.63351 5.63354 4.63351 5.24301 4.24299L1.70711 0.707078C1.31658 0.316554 0.683418 0.316553 0.292894 0.707078C-0.0976307 1.0976 -0.0976315 1.73077 0.292893 2.12129L3.8288 5.6572C4.21932 6.04772 4.21933 6.68089 3.8288 7.07141L0.293637 10.6066C-0.096887 10.9971 -0.096887 11.6303 0.293637 12.0208C0.684161 12.4113 1.31733 12.4113 1.70785 12.0208L5.24301 8.48562C5.63354 8.0951 6.2667 8.0951 6.65723 8.48563L10.1924 12.0208C10.5829 12.4113 11.2161 12.4113 11.6066 12.0208C11.9971 11.6303 11.9971 10.9971 11.6066 10.6066L8.07144 7.07141C7.68092 6.68089 7.68092 6.04772 8.07144 5.6572L11.6073 2.12129C11.9979 1.73077 11.9979 1.0976 11.6073 0.707079C11.2168 0.316555 10.5837 0.316556 10.1931 0.70708L6.65723 4.24298Z" fill="#EB5757"/>
                                    </svg>                                        
                                </div>
                            </div>
                            <div class="item">
                                <div class="lkActBtn">
                                    <p>Добавить</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="field">
                        <label>Сообщение</label>
                        <textarea type="text" rows="5"></textarea>
                    </div>
    
                    <div class="btnWrap right">
                        <button class="btn border"><span>Отменить</span></button>
                        <button class="btn full"><span>Сохранить</span></button>
                    </div>
        
                </form>
            </div>
        </div>
    </section>




    <% include ../includes/footer %>



</body>
</html>


 











