<% include ../includes/head %>
<% include ../includes/mobile_menu %>
<% include ../includes/header %>

<section>
<style>
		.pages-list {
			height: 100%;
			margin-top: 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			justify-content: space-between;
			-ms-align-items: center;
			align-items: left;
		}
		.page-item {
			font-family: 'Montserrat', sans-serif;
			text-decoration: none;
			color: #000;
			margin-bottom: 25px;
		}
	</style>
</head>
<body>
	<div class="pages-list">
		<a href="mainPage.html" class="page-item">Главная</a>
		<a href="card.html" class="page-item">Карточка</a>
		<a href="about.html" class="page-item">О Нас</a>
		<a href="contentPage.html" class="page-item">Контентная</a>
		<a href="contacts.html" class="page-item">Контакты</a>
		<a href="catalog.html" class="page-item">Каталог</a>
		<a href="category.html" class="page-item">Категория</a>
		<a href="checkOut.html" class="page-item">Оформление заказа</a>
		<a href="cart.html" class="page-item">Корзина</a>
		<a href="favorite.html" class="page-item">Избранное</a>
		<a href="lkProductAdd.html" class="page-item">ЛК добавление товара</a>
		<a href="lkPartnerDate.html" class="page-item">ЛК данные партнера</a>
		<a href="lkPartner.html" class="page-item">ЛК партнера</a>
		<a href="lkOrders.html" class="page-item">ЛК заказы</a>
		<a href="lkOrder.html" class="page-item">ЛК заказ</a>
		<a href="lkOrderHistory.html" class="page-item">ЛК история изменений</a>
		<a href="lkHistory.html" class="page-item">ЛК история</a>
		
	</div>


</section>

    <% include ../includes/footer %>



</body>
</html>


 











