 
:root {
  // --primary            : #005FA3;
  // --primaryRGB         : (0,95,163);
  // --secondary          : #fff;
  // --textColor          : #565656;
  // --titleColor         : #2B2B2B;
  // --indentT            : 50px;
  // --indentB            : 50px;
  // --indentB2           : 32px;
  // --border             : rgba(0,0,0, .1);
  // --gap                : 32px;
  // --halfContainer      : 555px;
  // --btnHeight          : 50px;

  
  --column             : calc((2*var(--halfContainer) - 11*var(--gap)) / 12);
  @media screen and (max-width: 1500px) {
    --halfContainer      : calc(50vw - 30px);
  }
  @media screen and (max-width: 980px) {
    --gap                : 24px;
    --halfContainer      : calc(50vw - 20px);
  }
  @media screen and (max-width: 750px) {
    --gap                : 12px;
    --halfContainer      : calc(50vw - 15px);
    --indentB2           : 24px;
    --indentT            : 32px;
    --indentB            : 32px;
  }
  @media screen and (max-width: 500px) {
    --gap                : 8px;
    --halfContainer      : calc(50vw - 10px);
    --indentT            : 24px;
    --indentB            : 24px;
  }
}

 
 @import "utils/libs";
 @import "base/reset";
 @import "base/vars";
 @import "utils/grid";
 @import "utils/mixins";
// @import "utils/animate";
// @import "utils/counter";
 @import "utils/buttons";
 @import "utils/titles";
 @import "utils/scrollBar";
// @import "utils/select";
 @import "components/forms";
 @import "components/mobile_menu";
 @import "components/header";
// @import "components/stickyHeader";
 @import "components/footer";
 @import "components/breadcrumbs";
 @import "components/modals";
 @import "pages/mainPage";
 @import "pages/aboutPage";
 @import "pages/otherPages";
// @import "pages/personalArea";
// @import "pages/cartPage";
// @import "pages/checkOut";
// @import "pages/comparison";
 @import "components/pagination";
 @import "components/tabs";
 @import "components/socials";
// @import "components/map";
 @import "components/catalogFilter";
 @import "components/ddSearch";



*, *:before , *:after {
	box-sizing: border-box;
}

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: var(--textColor);
  height: 100%;
  .text {
    p {
      line-height: 1.4;
      @media screen and (max-width: $sm) {
        font-weight: 400!important;
      }
    }
  }
  .title {
    p {
      color: var(--titleColor);
    }
  }
  &.text {
    &.mt {
      margin-top: var(--indentB2);
    }
    &.mb {
      margin-bottom: var(--indentB2);
    }
  }
  .randText {
    margin-bottom: var(--indentB2);
   .text {
     margin-bottom: var(--indentB2);
     p {
      font-size: rem(16);
      margin-bottom: 12px;
      @media screen and (max-width: $sm) {
          font-size: rem(14);
        }
       }
    }
  }
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.siteBody {
  padding-top: 144px;
  min-height: 50vh;
  position: relative;
  z-index: 1;
  background-color: #fff;
  @media screen and (max-width: $xlg) {
    padding-top: 123px;
  }
  @media screen and (max-width: $md) {
    padding-top: 66px;
  }
  @media screen and (max-width: $sm) {
    padding-top: 59px;
  }
  @media screen and (max-width: $xs) {
    padding-top: 45px;
  }
  ul {
    margin-bottom: calc(var(--indentB2)/2);
    li {
      font-size: rem(16);
      list-style-type: disc;
      margin-bottom: 8px;
      margin-left: 16px;
      color: var(--textColor);
    }
  }
  ol {
    margin-bottom: calc(var(--indentB2)/2);
    li {
      font-size: rem(16);
      margin-bottom: 8px;
      list-style-type: decimal;
      margin-left: 16px;
      color: var(--textColor);
    }
  }
}


section, article {
  position: relative;
  @extend .container;
  margin-bottom: var(--indentB);
  .articleTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--indentB2)/2);
    @media screen and (max-width: $sm) {
      flex-direction: column;
    }
    .titleWrap {
      margin-bottom: 0;
      @media screen and (max-width: $sm) {
        margin-bottom: 12px;
      }
    }
    .btnWrap {
      align-items: flex-end;
    }
  }
  &.bg {
   
    background-color: #F2F6F9;
    padding-top: var(--indentT);
    padding-bottom: var(--indentB);
  }
}


table {
  th {
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary);
    color: #fff;
  }
  td {
    padding: 4px 8px;
    font-size: rem(16);
  }
}



// .animateImg.first {
//   animation: swimmingUp 7s infinite ease-in-out;
// }
// .animateImg.second {
//   animation: swimmingDown 7s infinite ease-in-out;
// }

.siteWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .siteInner {
    flex-grow: 1;
  }
}

.sliderWrap {
  position: relative;
  .zweb-slider-wrap {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .sliderBtns {
    @extend .container;
    display: flex;
    justify-content: flex-end;
    .sliderBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 50px;
      cursor: pointer;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        transition: opacity .3s;
        z-index: 1;
      }
      &.left {
        &:before {
          border-radius: 4px 0 0 4px;
          opacity: .3;
        }
      }
      &.right {
        &:before {
          border-radius: 0 4px 4px 0;
        }
      }
      svg {
        position: relative;
        z-index: 5;
        path {
          fill: #fff;
        }
      }
      &:hover {
        &:before {
          opacity: .7;
        }
      }
    }
    &.white {
      .sliderBtn {
        &:before {
          background-color: #fff;
        }
        svg {
          path {
            fill: var(--primary);
          }
        }
      }
    }
  }
}


.pageTitle {
  margin-bottom: var(--indentB2);
}

.page404 {
  min-height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-bottom: var(--indentB);
    p {
      text-align: center;
      text-transform: uppercase;
      font-size: rem(100);
      font-weight: 700;
    }
  }
  .text {
    text-align: center; 
    p {
      text-align: center;
      font-size: rem(20);
      a {
        color: var(--primary);
        font-weight: 700;
        transition: opacity .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}


.zWebModalOverlayBody .modal {
  position: static!important;
  display: block!important;
  max-height: 80vh;
  max-width: 800px;
}
.zWebModalOverlayBody .modal .imgWrap img {
  max-width: 100%;
  object-fit: contain;
}


.search-page {
    .ddSearch {
      box-shadow: none;
      &.static {
        position: static;
        transform: translateY(0);
        margin-bottom: var(--indentB2);
      }
    }
    .list {
      &>.item {
        border-bottom: 1px solid rgba(0,0,0, .1);
        margin-bottom: var(--indentB2);
        .title {
          margin-bottom: 12px;
          a {
            color: var(--primary);
            font-size: rem(20);
          }
        }
        .breadcrumbs {
          margin-top: 0;
          margin-bottom: 12px;
          .list {
            .item {
              border: none;
              margin-bottom: 0;
            }
          }
        }
        .content {
          margin-bottom: 12px;
          .text {
            margin-bottom: 12px;
            p {
              font-size: rem(16);
              margin-bottom: 12px;
            }
          }
          .date {
            margin-bottom: 12px;
            p {
              font-size: rem(14);
              font-weight: 300;
            }
          }
        }
      }
    }
}
