<section class="breadcrumbs">
    <div class="list">
        <div class="item">
            <a href="#" class="link">Главная</a>
            <svg class="icon" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 17L9 9L0.999999 1" stroke="#002A70"/>
            </svg>                
        </div>
        <div class="item">
            <a href="#" class="link">Каталог</a>
            <svg class="icon" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 17L9 9L0.999999 1" stroke="#002A70"/>
            </svg>                
        </div>
        <div class="item">
            <a href="#" class="link">Модель: X6 30dX</a>
            <svg class="icon" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 17L9 9L0.999999 1" stroke="#002A70"/>
            </svg>
        </div>
        <div class="item">
            <a href="#" class="link">Стеклоподъемник механический задней левой двери</a>
            <svg class="icon" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 17L9 9L0.999999 1" stroke="#002A70"/>
            </svg>
        </div>
    </div>
</section>