<a href="#" class="card">
    <div class="imgWrap">
        <img src="assets/img/cardImg1.png" alt="">
    </div>
    <div class="content">
        <div class="text">
            <p><b>x5 G05</b></p>
            <p>Дизель</p>
            <p>xDrive 30 d</p>
            <p>Выпускается</p>
        </div>
    </div>
</a>