
<article class="catalogFilter">
    <div class="titleWrap">
        <div class="title">
            <p>Каталог</p>
        </div>
    </div>
    <div class="filter">
        <form class="form">
            <div class="left grid12">
                <div class="field x12">
                    <div class="field">
                        <input type="text" placeholder="Введите название запчасти">
                    </div>
                </div>
                <div class="field x12">
                    <select>
                        <option data-display="Модель BMW">Модель</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">3</option>
                    </select>
                </div>
                <div class="field x6">
                    <select>
                        <option data-display="Модель BMW">Год выпуска от</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">3</option>
                    </select>
                </div>
                <div class="field x6">
                    <select>
                        <option data-display="Модель BMW">Год выпуска до</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">3</option>
                    </select>
                </div>
                <div class="field x12">
                    <select>
                        <option data-display="Модель BMW">Тип топлива</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">3</option>
                    </select>
                </div>
                <div class="btnWrap x12">
                    <a href="#" class="btn full secondary"><span>Дополнительные параметры</span></a>
                </div>
                
            </div>
            <div class="right">
                <div class="rightTop">
                    <div class="btnBack"></div>
                    <div class="filterCrumbs">
                        <div class="list">
                            <div class="item">
                                <p>Все зап.части</p>
                            </div>
                            <div class="item">
                                <p>Кузов</p>
                            </div>
                            <div class="item">
                                <p>Бамперы</p>
                            </div>
                            <div class="item">
                                <p>Передний бампер</p>
                            </div>
                            <div class="item">
                                <p>Омыватель правой фары монтированного в бампере</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filterWrap">
                    <div class="filterBody">
                        <div class="list">
                            <div class="item">
                                <div class="itemTitle">
                                    <p>Антенна</p>
                                </div>
                                <div class="filterBody">
                                    <div class="list">
                                        <div class="item">
                                            <div class="itemTitle">
                                                <p>Антенна 1</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="itemTitle">
                                                <p>Антенна 2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="itemTitle">
                                    <p>Бамперы</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Блок управления ассистента смены полосы движения левый
                                    </p>
                                </div>
                                <div class="itemTitle">
                                    <p>Блок управления ассистента смены полосы движения правый</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Датчики кузова</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Двери</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Дополнительный обвес</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Капот</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Кронштейн блока управления ассистента смены полосы движения левый</p>
                                </div>
                                <div class="itemTitle">
                                    <p>Кронштейн блока управления ассистента смены полосы движения правый</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom">
                <div class="btnWrap">
                    <a href="#" class="btn full"><span>Искать</span></a>
                    <a href="#" class="btn full disabled"><span>Сбросить фильтр</span></a>
                </div>
            </div>
        </form>
    </div>
</article>