<a href="#" class="item x3 lg4 sm6 xs12">
    <div class="imgWrap">
        <img src="assets/img/catalogImg.png" alt="">
    </div>
    <div class="content">
        <div class="title">
            <p>BMW 1 серия</p>
        </div>
        <div class="text">
            <p>485 запчастей</p>
        </div>
    </div>
</a>