<div  class="dropDownMenu">
    <ul class="list">
        <li class="item">
            <a href="#" class="itemInner  BtoT">
                <div class="burger">
                    <div class="line l1"></div>
                    <div class="line l2"></div>
                    <div class="line l3"></div>
                </div>

                <p class="link">Каталог запчастей</p>
            </a>
            <div class="subMenu">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                    <div class="innerSubMenu">
                                        <ul class="list">
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                            <li class="item">
                                                <a href="#" class="link">link1</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>
                    <li class="item">
                        <a href="#" class="link">link2</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item">
                        <a href="#" class="link">link3</a>
                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">link1</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </li>
        <li class="item">
            <a href="#" class="itemInner BtoT">
                <p class="link">Поиск по VIN</p>
            </a>
            <div class="subMenu">
                <ul class="list">
                    <li class="item">
                        <a href="#" class="link">link1link1link1</a>

                        <div class="innerSubMenu">
                            <ul class="list">
                                <li class="item">
                                    <a href="#" class="link">link1</a>

                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </li>
        <li class="item">
            <a href="#" class="itemInner BtoT">
                <p class="link">Поиск по модели</p>
            </a>
        </li>
        <li class="item">          
            <a href="#" class="itemInner BtoT">   
                <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.497 10.546L19.3002 6.3311C19.2421 6.12403 19.0803 5.96264 18.8732 5.90432C16.7836 5.31734 14.6128 5.01978 12.4217 5.01978C8.68231 5.01978 6.19569 5.88005 6.09129 5.91657C5.90192 5.98319 5.75682 6.13818 5.70245 6.33157L4.52019 10.5474C3.57282 10.5728 2.81055 11.3516 2.81055 12.3048V17.1596C2.81055 18.1289 3.59977 18.9183 4.56911 18.9183H4.74567V19.682C4.74567 20.6516 5.5349 21.4406 6.50432 21.4406H6.88518C7.85475 21.4406 8.64374 20.6516 8.64374 19.682V18.9183H16.5491V19.682C16.5491 20.6516 17.3381 21.4406 18.3077 21.4406H18.6885C19.6582 21.4406 20.4472 20.6516 20.4472 19.682V18.9183H20.497C21.4665 18.9183 22.256 18.1289 22.256 17.1596V12.3047C22.2561 11.335 21.4671 10.546 20.497 10.546ZM21.0232 17.1595C21.0232 17.4493 20.7873 17.6853 20.4971 17.6853H19.8309C19.4905 17.6853 19.2144 17.9614 19.2144 18.3017V19.682C19.2144 19.9717 18.9784 20.2076 18.6887 20.2076H18.3078C18.0181 20.2076 17.7822 19.9717 17.7822 19.682V18.3017C17.7822 17.9614 17.506 17.6853 17.1657 17.6853H8.02697C7.68665 17.6853 7.41051 17.9614 7.41051 18.3017V19.682C7.41051 19.9717 7.17452 20.2076 6.88478 20.2076H6.50392C6.21411 20.2076 5.97819 19.9717 5.97819 19.682V18.3017C5.97819 17.9614 5.70205 17.6853 5.36173 17.6853H4.56872C4.2789 17.6853 4.04299 17.4493 4.04299 17.1595V12.3047C4.04299 12.0149 4.27898 11.7789 4.56872 11.7789H4.98751C5.26405 11.7789 5.50644 11.5952 5.58089 11.3287L6.79895 6.98676C7.54123 6.77068 9.61324 6.2527 12.4218 6.2527C14.3841 6.2527 16.3289 6.50434 18.2075 7.00082L19.4215 11.3288C19.4961 11.5948 19.7386 11.779 20.0151 11.779H20.4971C20.7873 11.779 21.0232 12.015 21.0232 12.3048V17.1595Z" fill="#155DD5"/>
                    <path d="M6.78793 12.9258C5.73924 12.9258 4.88647 13.7786 4.88647 14.8276C4.88647 15.8763 5.73932 16.7292 6.78793 16.7292C7.83678 16.7292 8.68947 15.8763 8.68947 14.8276C8.68947 13.7786 7.83678 12.9258 6.78793 12.9258ZM6.78793 15.4963C6.41932 15.4963 6.11939 15.197 6.11939 14.8277C6.11939 14.4585 6.41901 14.1587 6.78793 14.1587C7.15694 14.1587 7.45655 14.4585 7.45655 14.8277C7.45655 15.197 7.15694 15.4963 6.78793 15.4963Z" fill="#155DD5"/>
                    <path d="M18.2118 12.9258C17.1631 12.9258 16.3103 13.7786 16.3103 14.8276C16.3103 15.8763 17.1631 16.7292 18.2118 16.7292C19.2608 16.7292 20.1134 15.8763 20.1134 14.8276C20.1134 13.7786 19.2609 12.9258 18.2118 12.9258ZM18.2118 15.4963C17.8435 15.4963 17.5432 15.197 17.5432 14.8277C17.5432 14.4585 17.843 14.1587 18.2118 14.1587C18.5811 14.1587 18.8805 14.4585 18.8805 14.8277C18.8805 15.197 18.5811 15.4963 18.2118 15.4963Z" fill="#155DD5"/>
                    <path d="M7.06526 11.8255H17.9333C18.1214 11.8255 18.2997 11.7396 18.416 11.5928C18.5332 11.4451 18.5765 11.2525 18.5336 11.0695L17.8321 8.0663C17.7803 7.8462 17.6129 7.67145 17.3947 7.61186C15.9106 7.20634 14.3041 7.00085 12.6214 7.00085C9.76314 7.00085 7.6833 7.58934 7.59573 7.61431C7.38163 7.67612 7.21669 7.84912 7.16571 8.06678L6.46461 11.0703C6.42185 11.2529 6.46516 11.4459 6.58221 11.5932C6.69942 11.7397 6.87701 11.8255 7.06526 11.8255ZM8.28127 8.71209C8.96127 8.55331 10.5887 8.2333 12.6214 8.2333C14.0613 8.2333 15.437 8.39303 16.7164 8.70908L17.1566 10.5929H7.84224L8.28127 8.71209Z" fill="#155DD5"/>
                    <path d="M24.6683 6.34527L12.5002 0L0.331675 6.34527C0.0300847 6.50255 -0.0875166 6.87503 0.0698383 7.17662C0.227746 7.47924 0.599992 7.59542 0.901345 7.43846L12.5002 1.39028L24.0986 7.43893C24.19 7.48604 24.2868 7.50872 24.3831 7.50872C24.6054 7.50872 24.8198 7.38835 24.9302 7.17702C25.0874 6.87495 24.9702 6.50255 24.6683 6.34527Z" fill="#155DD5"/>
                    </svg>
                               
                 <p class="link">Гараж</p>
            </a> 
        </li>
    </ul>
</div>