</div> 
 <!-- END SITEBODY -->
   
   
   <footer class="footer">
      <div class="top grid12">
          <img src="assets/img/footerBg.png" alt="" class="footerBg">
        <div class="block x2 sm4 xs12">
            <a href="" class="logo">
                <img src="assets/img/logo.png" alt="">
            </a>
            <div class="phone">
                <a href="tel:+78000004000">8 (800) 000-40-00</a>
            </div>
            <div class="auth">
                <a href="#">Вход / Регистрация</a>
            </div>
        </div>
        <div class="block x2 sm4 xs6">
            <div class="title">
                <p>Информация</p>
            </div>
            <div class="list">
                <div class="item">
                    <a href="#" class="link">О компании</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Доставка и оплата</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Гарантии и возврат</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Поставщикам</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Сотрудничество</a>
                </div>
            </div>
        </div>

        <div class="block x2 sm4 xs6">
            <div class="title">
                <a href="#">Каталог</a>
            </div>
            <div class="list">
                <div class="item">
                    <a href="#" class="link">Поиск по VIN</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Поиск по модели</a>
                </div>
                <div class="item">
                    <a href="#" class="link">Гараж</a>
                </div>
            </div>
        </div>
        <div class="block empty x3"></div>
        <div class="block x3 md6 sm12">
           <div class="title">
               <p>Подписаться на рассылку</p>
           </div>
           <form class="form">
            <div class="field">
                <input type="text" placeholder="Электронная почта">
            </div>
    
            <div class="btnWrap">
                <button class="btn border white"> <svg width="10" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 21.9524L11.4762 11.4762L0.999999 1.00001" stroke="white" stroke-width="2"/>
                    </svg>
                </button>
            </div>
            <div class="checkbox white" data-stagger>
                <div class="checkboxField">
                    <input type="checkbox" id="check2" name="sogl" >
                    <label class="checkbox__label" for="check2"></label>
                </div>
                <label class="checkboxText" for="check2">Согласен на <a href="/soglasie/" target="_blank">обработку персональных данных</a></label>
            </div>
        </form>
        </div>
      </div>
      <div class="bottom">
            <p class="copyright">© ООО «Название», 2020</p>
            <a target="_blank" href="http://maxi-top.ru/" class="maxiTop">Продвижение — <span>MAXITOP</span></a>
            <a target="_blank" href="https://unic.agency/" class="uniq">Разработка — <span>UNIC</span></a>
      </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//dev.unic.agency/libs/js/?modules=slider,scroll,modal"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>