<header class="header">

    <!-- TOP HEADER START -->
    <div class="top">

        <div class="topMenu">
            <div class="list">
                <div class="item BtoT">
                    <a href="#" class="link">О компании</a>
                </div>
                <div class="item BtoT">
                    <a href="#" class="link">Доставка и оплата</a>
                </div>
                <div class="item BtoT">
                    <a href="#" class="link">Гарантия и возврат</a>
                </div>
                <div class="item BtoT">
                    <a href="#" class="link">Контакты</a>
                </div>
            </div>
        </div>
        

        <div class="auth">
            <div class="list">
                <div class="item BtoT">
                    <a href="#" class="link">Вход</a>
                </div>
                <div class="item BtoT">
                    <a href="#" class="link">Регистрация</a>
                </div>
            </div>
        </div>

        <div class="phones">
            <div class="list">
                <div class="item">
                    <a href="tel:+78000004000" class="link">8 (800) 000-40-00</a>                   </a>
                </div>
            </div>
        </div>

        <div class="callBack BtoT">
            <p id="bcCall" class="link">Заказать звонок</p>
        </div>

    </div>
    <!-- TOP HEADER END -->

    <!-- MIDDLE HEADER START -->
    <div class="middle">
        <div class="logoWrap">
            <a href="/" class="logo">
                <img src="assets/img/logo.png" alt="">
            </a>
        </div>
        
        <% include ../includes/dropDownMenu %>

        <div class="searchForm">
            <input type="text" placeholder="Поиск по номеру детали">
            <button class="searchButton">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.7551 18.5796L16.2284 15.0528C15.5011 14.3256 15.4699 13.1741 15.938 12.2583C16.5251 11.1096 16.8571 9.80774 16.8571 8.42857C16.8571 3.77551 13.0816 0 8.42857 0C3.77143 0 0 3.77551 0 8.42857C0 13.0816 3.77143 16.8571 8.42857 16.8571C9.80753 16.8571 11.1073 16.5271 12.2547 15.9413C13.1704 15.4739 14.3215 15.5047 15.0488 16.2313L18.5755 19.7551C18.902 20.0816 19.4286 20.0816 19.7551 19.7551C20.0816 19.4327 20.0816 18.902 19.7551 18.5796ZM8.42857 15.1796C4.70204 15.1796 1.67347 12.151 1.67347 8.42857C1.67347 4.70612 4.70204 1.67347 8.42857 1.67347C12.151 1.67347 15.1837 4.70612 15.1837 8.42857C15.1837 12.151 12.151 15.1796 8.42857 15.1796Z" fill="#002A70"/>
                </svg>                    
            </button>
        </div>
        
        <div class="mobileSearchBtn">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.7551 18.5796L16.2284 15.0528C15.5011 14.3256 15.4699 13.1741 15.938 12.2583C16.5251 11.1096 16.8571 9.80774 16.8571 8.42857C16.8571 3.77551 13.0816 0 8.42857 0C3.77143 0 0 3.77551 0 8.42857C0 13.0816 3.77143 16.8571 8.42857 16.8571C9.80753 16.8571 11.1073 16.5271 12.2547 15.9413C13.1704 15.4739 14.3215 15.5047 15.0488 16.2313L18.5755 19.7551C18.902 20.0816 19.4286 20.0816 19.7551 19.7551C20.0816 19.4327 20.0816 18.902 19.7551 18.5796ZM8.42857 15.1796C4.70204 15.1796 1.67347 12.151 1.67347 8.42857C1.67347 4.70612 4.70204 1.67347 8.42857 1.67347C12.151 1.67347 15.1837 4.70612 15.1837 8.42857C15.1837 12.151 12.151 15.1796 8.42857 15.1796Z" fill="#002A70"/>
            </svg>   
        </div>
        
        <div class="elements">
            <a href="#" class="like">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.26218 7.2421L11 1.69466L13.7378 7.2421C13.9199 7.61103 14.2719 7.86674 14.679 7.9259L20.801 8.81548L16.3711 13.1336C16.0765 13.4207 15.942 13.8345 16.0116 14.24L17.0573 20.3372L11.5817 17.4585C11.2175 17.267 10.7825 17.267 10.4183 17.4585L4.94268 20.3372L5.98843 14.24C6.05798 13.8345 5.92354 13.4207 5.62894 13.1336L1.19904 8.81548L7.321 7.9259C7.72814 7.86674 8.0801 7.61103 8.26218 7.2421Z" stroke="#002A70" stroke-width="1.5"/>
                </svg>                                     
                <div class="quantity">
                    <p>5</p>
                </div>  
            </a>

            <a href="#" class="cart">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5376 4.20394H13.0157V2.74034C13.0157 1.23004 11.6566 0 9.98796 0C8.31929 0 6.96026 1.23004 6.96026 2.74034V4.20394H2.70282C0.395132 4.1716 0.216756 5.16928 0.165147 5.48068L0.0103217 17.3451C-0.024084 17.532 0.0275245 17.7188 0.165147 17.8589C0.30277 17.9991 0.492001 18.0769 0.698435 18.0769H19.2775C19.2775 18.0769 19.2775 18.0769 19.2947 18.0769C19.6904 18.0769 20 17.7967 20 17.4385C20 17.3607 19.9828 17.2984 19.9656 17.2361V5.48068C19.7029 4.54999 18.7337 4.20394 17.5376 4.20394ZM8.37089 2.74034C8.37089 1.9307 9.09341 1.27675 9.98796 1.27675C10.8825 1.27675 11.605 1.9307 11.605 2.74034V4.20394H8.37089V2.74034ZM1.52417 16.8157V5.48068H6.96026V9.04624C6.96026 9.40436 7.26991 9.68462 7.66558 9.68462C8.06124 9.68462 8.37089 9.40436 8.37089 9.04624V5.48068H11.605V9.04624C11.605 9.40436 11.9147 9.68462 12.3103 9.68462C12.706 9.68462 13.0157 9.40436 13.0157 9.04624V5.48068H18.4517V16.8157H1.52417Z" fill="#002A70"/>
                    </svg>
                                        
                <div class="cartText">
                    <div class="quantity">
                        <p>2 товара</p>
                    </div>
                    <div class="summ">
                        <p>26 000 руб.</p>
                    </div>
                </div>
                
            </a>
        </div>

        <div class="burger mobileMenuBurger">
            <div class="line l1"></div>
            <div class="line l2"></div>
            <div class="line l3"></div>
        </div>        
    </div>
    <!-- MIDDLE HEADER END -->

</header>

<div class="siteBody">   <!-- SITEBODY START -->