
<article class="news">
    <div class="inner grid12">
        <div class="left x7 md12">
            <div class="textLine blue"></div>
            <div class="titleWrap">
                <div class="title">
                    <p>Новости</p>
                </div>
                <div class="btnMore">
                    <div class="text RtoL">
                        <p>Все новости</p>
                    </div>
                    <div class="icon"></div>
                </div>
            </div>

            <div class="list">
                <a href="#" class="item">
                    <div class="title">
                        <p>Заголовок новости может быть довольно длинным, возможно в две или три строчки</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные..</p>
                    </div>
                    <div class="date">
                        <p>25.03.2020</p>
                    </div>
                </a>

                <a href="#" class="item">
                    <div class="title">
                        <p>Заголовок новости может быть довольно длинным, возможно в две или три строчки</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные..</p>
                    </div>
                    <div class="date">
                        <p>25.03.2020</p>
                    </div>
                </a>

                <a href="#" class="item">
                    <div class="title">
                        <p>Заголовок новости может быть довольно длинным, возможно в две или три строчки</p>
                    </div>
                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные..</p>
                    </div>
                    <div class="date">
                        <p>25.03.2020</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="right x5 md12">
            <div class="titleWrap">
                <div class="title">
                    <p>Мы тщательно проверяем каждого поставщика!</p>
                </div>
                <div class="subTitle">
                    <p>Гарантия на доставку оплаченных деталей</p>
                </div>
            </div>
            <div class="inner">
                <img src="assets/img/newsImg.svg" alt="" class="contentBg">
                <div class="content">
                    <div class="title">
                        <p>Как запчасти попадают в наш интернет магазин</p>
                    </div>
                    <div class="textLine white"></div>

                    <div class="text">
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж</p>
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж</p>
                        <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</article>
