<div class="item x2">
    <div class="imgWrap">
        <img src="assets/img/offersImg1.png" alt="">
    </div>
    <div class="btnWrap">
        <a href="#" class="btn border">
            <span>Быстрый просмотр</span>
        </a>
    </div>
    <div class="text">
        <p>Стеклоподъемник механический задней левой двери BMW X6 30dX</p>
    </div>
    <div class="price">
        <p>5 999 руб.</p>
    </div>
</div>
