
<article class="seo">
    <div class="inner grid12">
        <div class="block x7 md12">
            <div class="textLine blue"></div>
            <div class="titleWrap">
                <div class="title">
                    <p>Заголовок Seo-текста</p>
                </div>
            </div>
            <div class="text">
                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж</p>
                <p>Миссия этого текста — продемонстрировать, как будут выглядеть будущие, несомненно читабельные, информативные и продающие статьи на готовой версии сайта. СЕО-тексты также способствуют продвижению ресурса в Сети и достижению главной цели — попаданию в ТОП-10 и, как следствие, увеличению продаж</p>
            </div>
        </div>
    </div>
   
</article>